<mat-dialog-content style="height: 100%;">
    <div style="padding:24px;">
        <!-- <h4>Element Selector</h4> -->
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 10px;" *ngIf="formData.step === 0">
                What type of element are you looking for?
                <div style="margin-top: 10px;">
                    <ul class="list-group" style="cursor: pointer;">
                        <li class="list-group-item" ngHide="hideOptions['Folder']">
                            <div (click)="onElementTypeSelect('Folder')">
                                <input type="radio" [(ngModel)]="formData.selectedType" style="cursor: pointer;"
                                    ngValue="'Folder'"> Folder
                            </div>
                        </li>
                        <li class="list-group-item" ngHide="hideOptions['DataType']">
                            <div (click)="onElementTypeSelect('DataType')">
                                <input type="radio" [(ngModel)]="formData.selectedType" style="cursor: pointer;"
                                    ngValue="'DataType'"> Data Type
                            </div>
                        </li>
                        <li class="list-group-item" ngHide="hideOptions['DataModel']">
                            <div (click)="onElementTypeSelect('DataModel')">
                                <input type="radio" [(ngModel)]="formData.selectedType" style="cursor: pointer;"
                                    ngValue="'DataModel'"> Data Model
                            </div>
                        </li>
                        <li class="list-group-item" ngHide="hideOptions['DataClass']">
                            <div (click)="onElementTypeSelect('DataClass')">
                                <input type="radio" [(ngModel)]="formData.selectedType" style="cursor: pointer;"
                                    ngValue="'DataClass'"> Data Class
                            </div>
                        </li>
                        <li class="list-group-item" ngHide="hideOptions['DataElement']">
                            <div (click)="onElementTypeSelect('DataElement')">
                                <input type="radio" [(ngModel)]="formData.selectedType" style="cursor: pointer;"
                                    ngValue="'DataElement'"> Data Element
                            </div>
                        </li>
                        <li class="list-group-item" ngHide="hideOptions['Term']">
                            <div (click)="onElementTypeSelect('Term')">
                                <input type="radio" [(ngModel)]="formData.selectedType" style="cursor: pointer;"
                                    ngValue="'Term'"> Term
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
            style="margin-top: 10px;padding-right: 0px;padding-left: 0px;" *ngIf="formData.step === 1">

            <div *ngIf="formData.selectedType === 'DataModel'">
                <div style="margin-bottom: 10px;">
                    Please select a {{formData.selectedType}}
                </div>

                <input type="text" class="form-control outlined-input" [(ngModel)]="formData.treeSearchText"
                    placeholder="Search" (input)="searchInTree('DataModel')" [ngModelOptions]='{ debounce: 500 }'>
                <div class="treeDropDown">
                    <div style="width: 100%; height: 300px;overflow-y: auto;">
                        <mdm-folders-tree [inSearchMode]="formData.inSearchMode" [doNotMakeSelectedBold]="true"
                            [justShowFolders]="true" [doNotShowDataClasses]="true" [expandOnNodeClickFor]="['Folder']"
                            (nodeClickEvent)="onNodeInTreeSelect($event)" [node]="rootNode"></mdm-folders-tree>
                    </div>
                    <div style="margin-top: 10px;" *ngIf="showPrevBtn">
                        <button mat-stroked-button (click)="previousStep()"><i class="fas fa-chevron-left"></i> Previous
                            step</button>
                    </div>
                </div>
            </div>

            <div *ngIf="formData.selectedType ===  'DataClass'">
                <div style="margin-bottom: 10px;">
                    Please select a {{formData.selectedType}}
                </div>

                <input type="text" class="form-control outlined-input" [(ngModel)]="formData.treeSearchText"
                    placeholder="Search" (input)="searchInTree('DataClass')" [ngModelOptions]="{ debounce: 500 }">

                <div class="treeDropDown">
                    <div style="width: 100%; height: 300px;overflow-y: auto;">
                        <mdm-folders-tree [inSearchMode]="formData.inSearchMode" [doNotMakeSelectedBold]="true"
                            [expandOnNodeClickFor]="['Folder', 'DataModel', 'DataClass']"
                            [searchCriteria]="formData.treeSearchText" (nodeClickEvent)="onNodeInTreeSelect($event)"
                            [node]="rootNode"></mdm-folders-tree>
                    </div>
                </div>
                <div style="margin-top: 10px;" *ngIf="showPrevBtn">
                    <button mat-stroked-button (click)="previousStep()"><i class="fas fa-chevron-left"></i> Previous
                        step</button>
                </div>
            </div>

            <div *ngIf="formData.selectedType == 'Folder'">
                <div style="margin-bottom: 10px;margin-left: 5px;">
                    Please select a Folder:
                </div>
                <div class="treeDropDown">
                    <mdm-folders-tree [doNotMakeSelectedBold]="true" [justShowFolders]="true"
                        [doNotShowDataClasses]="true" [expandOnNodeClickFor]="['Folder']"
                        (nodeClickEvent)="onNodeInTreeSelect($event)" [node]="rootNode"></mdm-folders-tree>
                </div>
                <div style="margin-top: 10px;" *ngIf="showPrevBtn">
                    <button mat-stroked-button (click)="previousStep()"><i class="fas fa-chevron-left"></i> Previous
                        step</button>
                </div>
            </div>


            <div *ngIf="formData.selectedType === 'Term'">
                <div>Please select a Term:</div>
                <div style="padding-bottom:1.2em">
                    <mdm-select [width]="'100%'" [acceptTypedInput]="false" [valueType]="'static'"
                        [staticValues]="terminologies" [minInputLength]="1" [hasError]="false" [idProperty]="'id'"
                        [displayProperty]="'label'" [searchProperty]="'label'"
                        (selectEvent)="onTerminologySelect($event[0],$event[1])">
                        <ng-template #lineContent let-item>
                            <div>{{item.label}}</div>
                        </ng-template>
                    </mdm-select>
                </div>
                <div>
                    <input type="text" id="searchInput"
                        class="form-control outlined-input ng-pristine ng-valid ng-touched" autocomplete="off"
                        [(ngModel)]="searchInput" #searchInputControl [ngModelOptions]="{ debounce: 500 }"
                        placeholder="Search for Terms..." [disabled]="noData" aria-invalid="false">
                </div>
                <div style="height: 240px">
                    <mat-table #table [dataSource]="dataSource" (scroll)="onTableScroll($event)"
                        style="max-height: 100%; overflow: auto;">

                        <!-- Position Column -->
                        <ng-container matColumnDef="label">
                            <mat-header-row *matHeaderCellDef> Term </mat-header-row>
                            <mat-cell
                                style="max-width: 50%; width: 50%; text-align: left; word-wrap: break-word; padding-right: 5px; padding-left: 5px"
                                mat-cell *matCellDef="let element">
                                <!--                                <a target="_blank" style="width:100%" href=null>{{element.label}}</a>-->
                                <mdm-element-link [showTypeTitle]="true" [newWindow]="true"
                                    [parentDataModel]="{id:element.dataModel}"
                                    [parentDataClass]="{id:element.dataClass}" [showHref]="false" [element]="element">
                                </mdm-element-link>

                            </mat-cell>
                        </ng-container>

                        <mat-row class="mat-table-row-select" (click)="onTermSelect(row)"
                            *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                </div>
                <div *ngIf="totalItemCount > 0" style="float: right;">
                    <span *ngIf="loading">
                        <i class="fas fa-sync-alt fa-spin"></i>
                    </span>
                    <span style="font-size: 11px; font-style: italic;">
                        {{currentRecord}} / {{totalItemCount}}
                    </span>
                </div>
                <div style="margin-top: 10px;" *ngIf="showPrevBtn">
                    <button mat-stroked-button (click)="previousStep()"><i class="fas fa-chevron-left"></i> Previous
                        step</button>
                </div>
            </div>
            <div *ngIf="formData.selectedType ===  'DataElement'" style="background-color: #FFF;">
                <div style="margin-bottom: 10px;margin-left: 5px;">
                    Please select a {{formData.selectedType}} ?
                </div>
                <div style="margin-top: 10px;">
                    <input type="text" id="dataElementsearchInput"
                        class="form-control outlined-input ng-pristine ng-valid ng-touched" autocomplete="off"
                        [(ngModel)]="searchInput" (ngModelChange)="searchTextChanged()"
                        [ngModelOptions]="{ debounce: 500 }"
                        [placeholder]="( (formData.currentContext)? ('Search within ' + formData.currentContext.label) : 'Search...' )">
                </div>

                <div style="margin-top: 5px;">
                    <div style="margin-left: 5px;">Restrict your search to a context (optional):</div>
                    <div style="margin-top: 2px;">
                        <mdm-model-selector-tree [onSelect]="onContextSelected"
                            [placeholder]="'Choose a Folder or Data Model or Data Class'"
                            [accepts]="['Folder', 'DataModel', 'DataClass']" [usedInModalDialogue]="true">
                        </mdm-model-selector-tree>
                    </div>
                </div>



                <div style="height: 240px">
                    <mat-table [dataSource]="dataSource" (scroll)="onTableScroll($event)"
                        style="max-height: 100%; overflow: auto;">

                        <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
                        <!-- Position Column -->
                        <ng-container matColumnDef="label">
                            <mat-header-cell *matHeaderCellDef></mat-header-cell>
                            <mat-cell style="max-width: 100%; width: 90%; text-align: left;" *matCellDef="let element">
                                {{element.label}} </mat-cell>
                        </ng-container>

                        <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
                        <!-- Position Column -->
                        <ng-container matColumnDef="label">
                            <mat-header-cell *matHeaderCellDef></mat-header-cell>
                            <mat-cell style="max-width: 100%; width: 90%; text-align: left;" *matCellDef="let element">
                                {{element.label}} </mat-cell>
                        </ng-container>

                        <!-- Expanded Content Column - The detail row is made up of this one column -->
                        <ng-container matColumnDef="expandedDetail">
                            <mat-cell *matCellDef="let record">

                                <mdm-model-path [path]="record.element.breadcrumbs" [showHref]="false"
                                    [newWindow]="true"></mdm-model-path>

                                <mdm-model-path [path]="record.element.breadcrumbs" [showHref]="false"
                                    [newWindow]="true"></mdm-model-path>

                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple
                            class="element-row mat-table-row-select" [class.expanded]="expandedElement == row"
                            (mouseover)="expandedElement = row" (click)="onTermSelect(row.element)"></mat-row>
                        <mat-row class="mat-table-row-select" (click)="onTermSelect(row.element)"
                            *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow"
                            [@detailExpand]="row.element == expandedElement ? 'expanded' : 'collapsed'"
                            style="overflow: hidden">
                        </mat-row>
                    </mat-table>
                </div>

                <div *ngIf="totalItemCount > 0" style="float: right;">
                    <span *ngIf="loading">
                        <i class="fas fa-sync-alt fa-spin"></i>
                    </span>
                    <span style="font-size: 11px; font-style: italic;">
                        {{currentRecord}} / {{totalItemCount}}
                    </span>
                </div>
                <div style="margin-top: 10px;" *ngIf="showPrevBtn">
                    <button mat-stroked-button (click)="previousStep()"><i class="fas fa-chevron-left"></i> Previous
                        step</button>
                </div>
            </div>

            <div *ngIf="formData.selectedType ===  'DataType'" style="background-color: #FFF;">
                <div style="margin-left: 5px;">
                    Please select a Data Type
                </div>
                <div style="margin-top: 10px;">
                    <input type="text" id="dataTypesearchInput"
                        class="form-control ng-pristine ng-valid ng-touched outlined-input" autocomplete="off"
                        [(ngModel)]="searchInput" (ngModelChange)="searchTextChanged()"
                        [ngModelOptions]="{ debounce: 500 }"
                        placeholder="{{ ( (formData.currentContext)? ('Search within ' + formData.currentContext.label) : 'Search...' )}}">
                </div>

                <div style="margin-top: 5px;">
                    <div style="margin-left: 5px;">Restrict your search to a context (optional):</div>
                    <div style="margin-top: 2px;">
                        <mdm-model-selector-tree [onSelect]="onContextSelected"
                            [placeholder]="'Choose a Folder or Data Model'" [doNotShowDataClasses]="true"
                            [accepts]="['Folder', 'DataModel']" [usedInModalDialogue]="true">
                        </mdm-model-selector-tree>
                    </div>
                </div>
                <div style="height: 240px">
                    <mat-table [dataSource]="dataSource" (scroll)="onTableScroll($event)"
                        style="max-height: 100%; overflow: auto;">

                        <!--- Note that these columns can be defined in any order.
                        The actual rendered columns are set as a property on the row definition" -->
                        <!-- Position Column -->
                        <ng-container matColumnDef="label">
                            <mat-header-cell *matHeaderCellDef></mat-header-cell>
                            <mat-cell style="max-width: 100%; width: 90%; text-align: left;" *matCellDef="let element">
                                {{element.label}} </mat-cell>
                        </ng-container>


                        <!-- Expanded Content Column - The detail row is made up of this one column -->
                        <ng-container matColumnDef="expandedDetail">
                            <mat-cell *matCellDef="let record">

                                <mdm-model-path [path]="record.element.breadcrumbs" [showHref]="false"
                                    [newWindow]="true"></mdm-model-path>

                            </mat-cell>
                        </ng-container>


                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; let i = index; columns: displayedColumns;" matRipple
                            class="element-row mat-table-row-select" [class.expanded]="expandedElement == row"
                            (mouseover)="expandedElement = row" (click)="onTermSelect(row)"></mat-row>
                        <mat-row class="mat-table-row-select" (click)="onTermSelect(row)"
                            *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow"
                            [@detailExpand]="row.element == expandedElement ? 'expanded' : 'collapsed'"
                            style="overflow: hidden">
                        </mat-row>
                    </mat-table>
                </div>
            </div>
            <div style="height: 240px">
                <mat-table [dataSource]="dataSource" (scroll)="onTableScroll($event)"
                    style="max-height: 100%; overflow: auto;">

                    <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
                    <!-- Position Column -->
                    <ng-container matColumnDef="label">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell style="max-width: 100%; width: 90%; text-align: left;" *matCellDef="let element">
                            {{element.label}} </mat-cell>
                    </ng-container>


                    <!-- Expanded Content Column - The detail row is made up of this one column -->
                    <ng-container matColumnDef="expandedDetail">
                        <mat-cell *matCellDef="let record">

                            <mdm-model-path [path]="record.element.breadcrumbs" [showHref]="false" [newWindow]="true">
                            </mdm-model-path>

                        </mat-cell>
                    </ng-container>


                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple
                        class="element-row mat-table-row-select" [class.expanded]="expandedElement == row"
                        (mouseover)="expandedElement = row" (click)="onTermSelect(row.element)"></mat-row>
                    <mat-row class="mat-table-row-select" (click)="onTermSelect(row.element)"
                        *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow"
                        [@detailExpand]="row.element == expandedElement ? 'expanded' : 'collapsed'"
                        style="overflow: hidden">
                    </mat-row>
                </mat-table>
            </div>




            <div *ngIf="totalItemCount > 0" style="float: right;">
                <span *ngIf="loading">
                    <i class="fas fa-sync-alt fa-spin"></i>
                </span>
                <span style="font-size: 11px; font-style: italic;">
                    {{currentRecord}} / {{totalItemCount}}
                </span>
            </div>
            <div style="margin-top: 10px;" *ngIf="showPrevBtn">
                <button mat-stroked-button (click)="previousStep()"><i class="fas fa-chevron-left"></i> Previous
                    step</button>
            </div>
        </div>
    </div>
</mat-dialog-content>