<div style="float: left;" *ngIf="deletePending">
    <span *ngIf="textLocation == 'left'" style="font-size: 11px !important;">Are you sure?</span>
    <!-- Cancel Delete-->
    <button type="button" class="btn btn-default" (click)="cancelDeleteClicked()">
        <i class="fas fa-times cancelButton"></i>
    </button>
    <!-- Confirm Delete -->
    <button type="button" class="btn btn-default" (click)="confirmDeleteClicked()">
        <i class="fas fa-check saveButton"></i>
    </button>
    <span *ngIf="textLocation == 'bottom'" style="font-size: 11px !important;"><br>Are you sure?</span>
</div>

<div class="deleteInProgressSpinner" style="margin-bottom: 3px;position: relative; float: left; margin-right:8px;"
    *ngIf="deleteInProgress">
    <a style="font-size: 14px; text-decoration: none;">
        <i class="fas fa-sync-alt fa-spin"></i>
    </a>
</div>

<div style="float: left;" *ngIf="showDeleteButton" [hidden]="deletePending">
    <button type="button" class="btn btn-default" (click)="onAskDelete()" [disabled]="deleteInProgress">
        <i class="far fa-trash-alt warning"></i>
    </button>
</div>

<div id="addContent" style="float: left;" [hidden]="deletePending" *ngIf="!showContentDropdown">
    <div style="float: right; margin-left: 2px;">
        <button type="button" class="btn btn-default" (click)="add()" [disabled]="deleteInProgress">
            <i class="fas fa-plus"></i>
        </button>
    </div>
</div>

<div id="addContentDropdown" style="float: left;" [hidden]="deletePending" *ngIf="showContentDropdown">
    <div style="float: right; margin-left: 2px;">
        <button type="button" matTooltip="Add" class="btn btn-default" [disabled]="deleteInProgress" [matMenuTriggerFor]="menu">
            <i class="fas fa-plus" aria-hidden="true"></i>
            <span class="caret" style="margin-right: 2px;"></span>
        </button>
        <mat-menu #menu="matMenu" aria-labelledby="single-button">
            <button mat-menu-item class="modelFilterItem" (click)="addDataClass()">
                <a title="Add Data Class">Add Data Class</a>
            </button>
            <button mat-menu-item class="modelFilterItem" (click)="addDataElement()">
                <a title="Add Data Class">Add Data Element</a>
            </button>
        </mat-menu>
    </div>
</div>