<div style="float: left;" *ngIf="deletePending">
    <span *ngIf="textLocation == 'left'" style="font-size: 11px !important;">Are you sure?</span>
    <!-- Cancel Delete-->
    <button mat-button color="primary" class="paddingless" type="button" (click)="cancelDeleteClicked()">
        <i class="fas fa-times"></i>
    </button>
    <!-- Confirm Delete -->
    <button mat-button color="accent" class="paddingless" type="button" (click)="confirmDeleteClicked()">
        <i class="fas fa-check"></i>
    </button>
    <span *ngIf="textLocation == 'bottom'" style="font-size: 11px !important;"><br>Are you sure?</span>
</div>

<div class="warning" style="margin-bottom: 3px;position: relative; float: left; margin-right:8px;" *ngIf="deleteInProgress">
    <a style="font-size: 14px; text-decoration: none;">
        <i class="fas fa-sync-alt fa-spin"></i>
    </a>
</div>

<div style="float: left;" *ngIf="showDeleteButton" [hidden]="deletePending">
    <button mat-button color="warn" class="paddingless" type="button" (click)="onAskDelete()" [disabled]="deleteInProgress">
        <i class="far fa-trash-alt"></i>
    </button>
</div>

<div id="addContent" style="float: left;" [hidden]="deletePending" *ngIf="!showContentDropdown">
    <div style="float: right; margin-left: 8px;">
        <button mat-flat-button type="button" color="primary" (click)="add()" [disabled]="deleteInProgress">
            <i class="fas fa-plus"></i>  Add
        </button>
    </div>
</div>

<div id="addContentDropdown" style="float: left;" [hidden]="deletePending" *ngIf="showContentDropdown">
    <div style="float: right; margin-left: 2px;">
        <button mat-flat-button color="primary" type="button" [disabled]="deleteInProgress" [matMenuTriggerFor]="menu">
            <i class="fas fa-plus" aria-hidden="true"></i>
             Add
            <i class="fas fa-caret-down fa-xs" style="margin-left: 2px;"></i>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="addDataClass()">Add Data Class</button>
            <button mat-menu-item (click)="addDataElement()">Add Data Element</button>
        </mat-menu>
    </div>
</div>
