<div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    <div class="ui-dialog-titlebar ui-corner-all ui-widget-header ui-helper-clearfix ui-draggable-handle">
        <span class="ui-dialog-title" style="color: white; vertical-align: middle; font-size: 12pt; padding-left: 20px;">Help</span>
        <i class="fas fa-times warning" (click)="closeHelp()" style="float: right; margin: 5px; padding: 0px 0px; margin-top: 6px; margin-right: 10px;"></i>
    </div>
</div>
<mat-dialog-content style="height: 100%; margin: -5px">
    <iframe name='helpFrame' id='helpFrame' style='border:0; height: 500px;width: 100%' [src]="data.contentWikiLink"></iframe>
    <div class="text-center mdm--block">
        <hr>
        <a mat-flat-button color="primary" class="custom" href="{{data.wikiLink}}" target='_blank' rel="noopener">Open in new window</a>
    </div>
</mat-dialog-content>