<form #myForm="ngForm" ngNativeValidate class="mdm--form" style="max-width: 100%;">
    
    <div class="mdm--block">
        <strong>Selected folder: </strong>
        <mdm-element-link [showTypeTitle] = "true" [newWindow]="true" [element]="model.parentFolder"></mdm-element-link>
    </div>
    
    <span>Please enter the Code Set details:</span>
    <div class="mdm--form-input">
        <mat-form-field appearance="outline">
            <mat-label>Label</mat-label>
            <input matInput type="text" class="wizardInput" [(ngModel)]="model.label" name="label" required>
        </mat-form-field>
    </div>

    <div class="mdm--form-input">
        <mat-form-field appearance="outline">
            <mat-label>Author</mat-label>
            <input matInput type="text" class="wizardInput" [(ngModel)]="model.author" name="author" required>
        </mat-form-field>
    </div>
    <div class="mdm--form-input">
        <mat-form-field appearance="outline">
            <mat-label>Organisation</mat-label>
            <input matInput type="text" class="wizardInput" [(ngModel)]="model.organisation" name="organisation" required>
        </mat-form-field>
    </div>

    <div class="mdm--form-input">
        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput type="text" name="description" [(ngModel)]="model.description"></textarea>
        </mat-form-field>
    </div>
    <mdm-element-classifications name="classifiers" 
                                 (classificationsChanged)="model.classifiers = $event" 
                                 [editableForm]="{visible :true}"
                                 class="mdm--block"></mdm-element-classifications>
    <mdm-multiple-terms-selector (selectedTermsChange)="model.terms = $event"></mdm-multiple-terms-selector>
</form>