<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <div style="width: 100%">
            <mdm-classification-details [mcClassification]="classifier" [afterSave]="afterSave"></mdm-classification-details>
        </div>

        <div *ngIf="showSearch">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>Search</span>
                    <div style="float:right;">
                        <button type="button"
                                class="btn btn-default btn-xs"
                                (click)="toggleShowSearch()"
                                aria-hidden="false"
                                aria-disabled="false" title="close">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="panel-body panel-table">
                    <mdm-advanced-search-bar [parent]="result"
                                             [showRestrictTo]="false"
                                             [doNotShowDataModelInModelPath]="false"
                                             [doNotDisplayModelPathStatus]="false"
                                             [showDomainTypes]="['Folder', 'DataModel', 'DataClass', 'DataType', 'DataElement']">
                    </mdm-advanced-search-bar>
                </div>
            </div>
        </div>


        <div *ngIf="showSecuritySection">

                    <div style="width:100%;" ng-if="activeTab.name === 'access' && folder">
                        <div class="userAccess"
                             style="margin: 10px 0px 50px 0px">
                            <mdm-share-with [mcElement]="'mcClassification'" [mcDomainType]="'Classifier'"></mdm-share-with>
                            <div colspan="2">
                                <div style="margin-top: 10px">
                                    <mdm-user-access-new [parent]="'mcClassification'" [parentType]="'Classifier'"></mdm-user-access-new>
                                </div>
                                <div style="margin-top: 50px">
                                    <mdm-group-access-new [parent]="'mcClassification'" [parentType]="'Classifier'"></mdm-group-access-new>
                                </div>
                            </div>
                        </div>
                    </div>

        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <mat-tab-group #tab [selectedIndex]="activeTab" (selectedIndexChange)="tabSelected($event)">
            <mat-tab label="Classified Elements">
                <ng-template matTabContent>
                    <div style="width: 100%;">
                        <mdm-classified-elements-list *ngIf="result" [parent]="result" [classifiedElementType]="'catalogueItems'"></mdm-classified-elements-list>
                    </div>
                </ng-template>
            </mat-tab>
            <mat-tab label="Classified Terminologies">
                <ng-template matTabContent>
                    <div style="width: 100%;">
                        <mdm-classified-elements-list *ngIf="result" [parent]="result" [classifiedElementType]="'terminologies'"></mdm-classified-elements-list>
                    </div>
                </ng-template>
            </mat-tab>
            <mat-tab label="Classified Terms" *ngIf="termsCount">
                <ng-template matTabContent>
                    <div style="width: 100%;">
                        <mdm-classified-elements-list *ngIf="result" [parent]="result" [classifiedElementType]="'terminologies'"></mdm-classified-elements-list>
                    </div>
                </ng-template>
            </mat-tab>
            <mat-tab label="Classified CodeSets" *ngIf="codeSetsCount">
                <ng-template matTabContent>
                    <div style="width: 100%;">
                        <mdm-classified-elements-list *ngIf="result" [parent]="result" [classifiedElementType]="'terminologies'"></mdm-classified-elements-list>
                    </div>
                </ng-template>
            </mat-tab>

            <mat-tab label="History">
                <ng-template matTabContent>
                    <div style="width: 100%;">
                        <mdm-history *ngIf="result" [parent]="result" [parentType]="'Classifier'" [parentId]=parentId></mdm-history>
                    </div>
                </ng-template>
            </mat-tab>


        </mat-tab-group>
    </div>
</div>
