<div class="heading-container">
    <h4>Data Model(s) Export </h4>
    <i class="fas fa-info-circle helpIcon" (click)="loadHelp()" matTooltipPosition="below" matTooltip="Help"></i>
</div>

<div style="margin-bottom: 10px">
    <span>Please select your Data Model(s):</span>
        <mdm-model-selector-tree [(ngModel)]="selectedDataModels"
                                [onSelect]="onSelect" 
                                [multiple]="true"
                                [name]="selectedDataModels"
                                ngDefaultControl
                                [treeSearchDomainType]="'DataModel'"
                                [accepts]="['DataModel']"
                                [defaultElements]="selectedDataModels"
                                [placeholder]="'Select Data Model...'"
                                (ngModelChange)="selectedDataModels = $event">
        </mdm-model-selector-tree>
</div>
<div *ngIf="step === 2">
    <mat-form-field appearance="outline" class="mdm--block">
        <mat-label>Select an exporter</mat-label>
        <mat-select aria-label="selectedExporterStr" name="selectedExporterStr" [(ngModel)]="selectedExporterStr" placeholder="Select..." [disabled]="processing" (selectionChange)="exporterChanged()" required>
            <mat-option *ngFor="let item of exportersList" [value]="item">{{item.displayName}}</mat-option>
        </mat-select>
    </mat-form-field>
    <div class="mdm--block" *ngIf="selectedExporterObj && !selectedExporterObj.canExportMultipleDomains && selectedDataModels.length > 1">
        <div class="errorMessage" style="padding-top: 5px;padding-left: 6px;font-style: italic;">
            <strong>{{selectedExporterObj.displayName}}</strong> does not support multiple Data Models export!<br>
            <div *ngFor="let item of (exportersList  | filter); let i = index">
                <span *ngIf="i ==0">
                    The following exporters support multiple Data Models export:
                </span>
                <div style="padding-left: 3px;">
                    {{item.displayName}}
                </div>
            </div>
        </div>
    </div>
    <div style="clear: both;">
        <button mat-button type="reset" [disabled]="processing" (click)="reset()">Reset</button>
        <button mat-flat-button
                color="primary"
                class="custom"
                type="submit"
                (click)="export()"
                [disabled]="!selectedExporterObj  || (selectedModels && selectedDataModels.length==0) || processing || (selectedExporterObj && !selectedExporterObj.canExportMultipleDomains && selectedDataModels.length > 1)">
                Export Model(s)
        </button>
    </div>
    <div style="clear: both;" *ngIf="processing">
        <mat-progress-bar value="50" bufferValue="75" color="primary" mode="indeterminate"></mat-progress-bar>
    </div>
    <div style="margin-bottom: 3px;padding-left: 5px;">
        <div id="exportFileDownload" #aLink></div>
    </div>
</div>
