<div>
    <div style="border: 1px solid #DDD;">
        <div>
            <div style="width: 99%; height:30px;padding: 5px;">
               <i class="fa fa-plus-circle diagram-tool-box-icon"  aria-hidden="true" title="Zoom In" ng-click="zoomIn()"></i>
               <i class="fa fa-undo diagram-tool-box-icon"      aria-hidden="true" title="Reset Zoom" ng-click="resetZoom()"></i>
               <i class="fa fa-minus-circle diagram-tool-box-icon" aria-hidden="true" title="Zoom Out" ng-click="zoomOut()"></i>

               <i class="fa fa-sitemap diagram-tool-box-icon" style="margin-left: 10px;"     aria-hidden="true" title="Rearrange the Diagram" ng-click="reOrder()"></i>
               <i class="fa fa-refresh diagram-tool-box-icon"  aria-hidden="true" title="Reload" ng-click="resetZoom()"></i>
               <span style="cursor: pointer;margin-left: 10px;" title="Show `Satisfies` Links">&nbsp;<input type="checkbox" ng-model="showSameAs" ng-change="showSameAsLinks()"><span style="font-size: 10px">&nbsp;Satisfies</span></span>
               <span style="cursor: pointer;" title="Show `Don't Satisfies` Links"><input type="checkbox" ng-model="showNotSameAs" ng-change="showNotSameAsLinks()"><span style="font-size: 10px">&nbsp;Don't Satisfies</span></span>
             </div>
        </div>
           <div style="width: 100%; overflow: scroll;position: relative;float: left;border: 1px solid #DDD;">
               <div id="jointDiagramHolder" style="position: relative"></div>
           </div>
        </div>
    </div>
</div>


