<div class="modal-header pxy-2">
  <h4 class='modal-title marginless'>Profile Select</h4>
</div>
<div class="modal-body pxy-2">
  <p>Please select the profiles you wish to edit.</p>
</div>
<mat-form-field appearance="fill" style="width: 500px;">
  <mat-label>Profile</mat-label>
  <mat-select multiple [compareWith]="objectComparisonFunction"  [(ngModel)]="bulkEditPayload.profiles" >
    <mat-option *ngFor="let profile of profiles" [value]="profile"  >{{profile.displayName}}</mat-option>
  </mat-select>
</mat-form-field>
<div class="modal-footer pxy-2">
  <button mat-button color="warn" type="button" class="mr-1" (click)="cancel()">
    Cancel
  </button>
  <button mat-button color="warn" type="button" class="mr-1" (click)="openElements()">
    Back
</button>
  <button [disabled]="bulkEditPayload.profiles.length <= 0" mat-stroked-button type="button" color="primary" type="button"
    class="mr-1" (click)="proceedToEdit()">
    Next
  </button>
</div>