<div class="container">
    <div class="row">
        <div class="hideShowLeftPaneBtn col-xs-12 col-sm-12 d-lg-none d-md-block d-sm-block " (click)="hideShowLeftPane();">
            <button mat-flat-button color="primary" #showHidePaneText id="showHidePaneText">
                <span *ngIf="state == 'inactive'">
                    Show Models Tree 
                </span>
                <span *ngIf="state == 'active'">
                    Hide Models Tree 
                </span>
                <i #showHideLeftPane id="showHideLeftPane" class="fas fa-chevron-down"></i>
            </button>
        </div>

        <div #resizableLeft class="resizableLeft col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <div id="mdm--model-list" ui-view="left"></div>
        </div>

        <div [ngClass]="{'col-xs-12 col-sm-12 resizableRight':true,'col-md-8 col-lg-8':!expand, 'col-md-12 col-lg-8':!expand }" class="">
            <div style="padding: 0px 5px; cursor: pointer;" id="toggleRightPanel" (click)="toggle()" *ngIf="expand" title="Minimize">
                <i class="fas fa-bars"></i>
            </div>
            <div ui-view="" style="margin-bottom: 30px;"></div>
        </div>
    </div>
</div>
