<div *ngIf="model">
  <div *ngIf="model.createType == 'new'">
    <div class="form-group">
      <form #myForm="ngForm" ngNativeValidate>

        <label>Please enter Data Element details:</label>
        <b></b>

        <table class="table table-bordered table-condensed dataModelDetailTable">
          <tbody>

          <tr class="parent">
            <th class="detailsRowHeader col-sx-2 col-sm-2 col-md-2">Parent Data Class</th>
            <td>
              <model-path [path]="model.parent.breadcrumbs"></model-path>
            </td>
          </tr>


          <tr>
            <th class="detailsRowHeader  col-sx-2 col-sm-2 col-md-2">Label *</th>
            <td>
              <input type="text" class="form-control wizardInput" id="label" name="label" [(ngModel)]="model.label"
                     required="Name can not be Empty">
            </td>
          </tr>
          <tr>
            <th class="detailsRowHeader col-md-2">Description</th>
            <td>
              <textarea type="text" class="form-control" id="description" name="description" [(ngModel)]="model.description"></textarea>
            </td>
          </tr>

          <tr class="parent">
            <th class="detailsRowHeader col-sx-2 col-sm-2 col-md-2">Multiplicity</th>
            <td>
              <div>
                <div style="width: 10%; padding-left: 0px !important; float: left">
                  <span for="minMultiplicity">Min</span>
                  <input type="text"
                         class="form-control wizardInput"
                         [ngStyle]="multiplicityError? {'border': '1px solid #a94442'} :''"
                         id="minMultiplicity"
                         name="minMultiplicity"
                         [(ngModel)]="model.minMultiplicity">
                </div>
                <div style="width: 10%; margin-left: 10px !important;float: left">
                  <span for="minMultiplicity">Max</span>
                  <input type="text"
                         class="form-control wizardInput"
                         [ngStyle]="multiplicityError? {'border': '1px solid #a94442'} :''"
                         id="maxMultiplicity"
                         name="maxMultiplicity"
                         [(ngModel)]="model.maxMultiplicity">
                </div>
              </div>
              <div style="font-size: 12px;clear: both;margin: 2px 0px" class="error text-danger">
                                    <span *ngIf="multiplicityError">
                                        {{multiplicityError}}
                                    </span>
              </div>
              <div style="clear: both;font-size: 11px;font-style: italic;">
                Please enter <strong style="font-size: 14px">*</strong> for unbound multiplicity.
              </div>
            </td>
          </tr>
          <tr>
            <th class="detailsRowHeader col-sx-2 col-sm-2 col-md-2">Data Type *</th>
            <td>

              <div style="padding: 0px 0px 10px 10px;" *ngIf="model.dataType">
                <element-data-type
                  [element-data-type]="model.dataType"
                  [mc-parent-data-model]="model.parentDataModel"></element-data-type>
              </div>

              <div *ngIf="model.allDataTypesCount === 0">
                <label>No Data Type defined for '{{model.parent.breadcrumbs[0].label}}' Data Model.<br>Please enter Data Type details:</label>
              </div>

              <div *ngIf="model.allDataTypesCount != 0">
                <label *ngIf="!model.showNewInlineDataType">Please select a Data Type or <a style="cursor: pointer;" (click)="toggleShowNewInlineDataType()">Add a new one</a>:</label>
                <label *ngIf="model.showNewInlineDataType">Please <a style="cursor: pointer;" (click)="toggleShowNewInlineDataType()">select a Data Type </a> or Add a new one:</label>
              </div>

              <div *ngIf="model.showNewInlineDataType">
                <new-data-type-inline
                  [parent-scope-handler]="parentScopeHandler"
                  [model]="model.newlyAddedDataType"
                  [parent-data-model]="model.parentDataModel"
                  [show-parent-data-model]="false"
                  (validationStatusEvent)="validationStatusEmitter($event)">
                </new-data-type-inline>
              </div>
              <div *ngIf="!model.showNewInlineDataType">
                <div class="col-sx-12 col-sm-12 col-md-12 col-lg-12" style="padding: 0px;">
                  <mc-select
                    [width]="'100%'"
                    [accept-typed-input]="false"
                    [value-type]="'dynamic'"
                    [default-value]="model.dataType"
                    [load-dynamic-values]="fetchDataTypes"
                    [min-input-length]="1"
                    [id-property]="'id'"
                    [display-property]="'label'"
                    [search-property]="'label'"
                    [load-all-on-click]="true"
                    [(pagination)]="pagination"
                    (on-select)="onTargetSelect($event[0])">
                    <ng-template #lineContent let-item = 'item', let-searchTerm = "inputText" >
                      <div [innerHTML]="item.label | mchighlighter:searchTerm"></div>
                      <div>
                        <element-link [element]="item" [show-type-title]="true" [show-link]="false"></element-link>
                      </div>
                    </ng-template>
                  </mc-select>
                </div>
              </div>
            </td>
          </tr>

          <tr>
            <th class="detailsRowHeader  col-sx-2 col-sm-2 col-md-2">Classifications</th>
            <td>
              <app-element-classifications name="classifiers" (classificationsChanged)="model.classifiers = $event" [editable-form]="{visible :true}"></app-element-classifications>
            </td>
          </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
  <div *ngIf="model.createType == 'copy'" class="row" style="margin-bottom:20px;">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <label>Please Select Data Element(s):</label>
      <div class="mcTableMain">
        <div class="mcTableTitle">
					<span class="title">
						Data Elements<span class="badge element-count ng-binding" style="margin: 0px 3px; display: inline;" aria-hidden="false">{{totalItemCount}}</span>
						<i class="fas fa-filter themeColor" (click)="filterClick()" style="cursor: pointer;margin-left: 2px;"></i>
					</span>
        </div>
        <div class="mcTableContainer">
          <table mat-table [dataSource]="dataSourceDataElements" matSort class="table table-condensed table-bordered mcTable">
            <ng-container matColumnDef="checkbox">
              <th mat-header-cell *matHeaderCellDef columnName="checkbox" style="cursor: pointer; max-width: 3%; width: 3%;" class="mcTableCheckbox">
                <input type="checkbox" [checked]="isAllChecked" (change)="onCheckAll()" [(ngModel)]="checkAllCheckbox" class="checkboxAll" style="cursor: pointer;">
              </th>
              <td mat-cell *matCellDef="let record" style="max-width: 3%; width: 3%; text-align: center;" class="mcTableCheckbox">
                <input style="cursor: pointer;" type="checkbox" (change)="onCheck(record)" [(ngModel)]="record.checked">
              </td>
            </ng-container>
            <ng-container matColumnDef="label">
              <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="!hideFilters" columnName="label" style="cursor: pointer; max-width: 23%; width: 23%;" class="mcTableCheckbox">
                <span [hidden]="!hideFilters" style="font-weight: 700; color: black">Name</span>
                <div [hidden]="hideFilters">
                  <mat-form-field class="filter" floatLabel="never">
                    <mat-label>Name</mat-label>
                    <input #filters matInput name="label" (keyup)="applyFilter()">
                  </mat-form-field>
                </div>
              </th>
              <td mat-cell *matCellDef="let record" style="max-width: 23%; width: 23%; text-align: center;" class="mcTableCheckbox">
                {{record.label}}
              </td>
            </ng-container>
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="!hideFilters" style="cursor: pointer; max-width: 26%; width: 26%;" columnName="description">
                <span [hidden]="!hideFilters">Description</span>
                <div [hidden]="hideFilters">
                  <mat-form-field class="filter" floatLabel="never">
                    <mat-label>Description</mat-label>
                    <input #filters matInput name="description" (keyup)="applyFilter()">
                  </mat-form-field>
                </div>
              </th>
              <td mat-cell *matCellDef="let record" style="max-width: 26%; width: 26%; text-align: left; word-wrap: break-word;">
               <more-description description="{{record.description}}"></more-description>
              </td>
            </ng-container>
            <ng-container matColumnDef="domainType">
              <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="!hideFilters" style="cursor: pointer; max-width: 26%; width: 26%;" columnName="domainType">
                <span [hidden]="!hideFilters">Type</span>
                <div [hidden]="hideFilters">
                  <mat-label>Type</mat-label>

                </div>
              </th>
              <td mat-cell *matCellDef="let record" style="max-width: 26%; width: 26%; text-align: left; word-wrap: break-word;">
                <element-data-type
                  [new-window]="true"
                  [hide-enum-list]="true"
                  [element-data-type]="record.dataType"
                  [mc-parent-data-model]="{id:model.copyFromDataClass[0].dataModel}"></element-data-type>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsDataTypes" style="height: auto;" class="mcTableHeader"></tr>
            <tr mat-row *matRowDef="let record; columns: displayedColumnsDataTypes;" style="height: auto"></tr>

          </table>

        </div>
      </div>
      <div class="d-flex justify-content-between p-2">
        <mat-paginator [pageSizeOptions]="[ 5, 10, 20,50]" [pageSize]="20" [length]="totalItemCount" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>

  <!--    Put Submit button in this page -AS-->
  <div *ngIf="model.createType == 'copy'" class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <table mat-table [dataSource]="dataSourceSelectedDataElements" matSort class="table table-bordered">
        <ng-container matColumnDef="label">
          <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="!hideFiltersSelectedDataTypes" style="cursor: pointer; max-width: 26%; width: 26%;" columnName="label">
            <span [hidden]="!hideFiltersSelectedDataTypes">Name</span>
            <div [hidden]="hideFiltersSelectedDataTypes">
              <mat-form-field class="filter" floatLabel="never">
                <mat-label>Name</mat-label>
                <input #filters matInput name="label" (keyup)="applyFilter()">
              </mat-form-field>
            </div>
          </th>
          <td mat-cell *matCellDef="let record" style="max-width: 26%; width: 26%; text-align: left; word-wrap: break-word;">
						<span>
							{{record.label}}
						</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="!hideFiltersSelectedDataTypes" style="cursor: pointer; max-width: 26%; width: 26%;" columnName="description">
            <span [hidden]="!hideFiltersSelectedDataTypes">Description</span>
            <div [hidden]="hideFiltersSelectedDataTypes">
              <mat-form-field class="filter" floatLabel="never">
                <mat-label>Description</mat-label>
                <input #filters matInput name="description" (keyup)="applyFilter()">
              </mat-form-field>
            </div>
          </th>
          <td mat-cell *matCellDef="let record" style="max-width: 26%; width: 26%; text-align: left; word-wrap: break-word;">
            <span>{{record.description}}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="domainType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="!hideFiltersSelectedDataTypes" style="cursor: pointer; max-width: 26%; width: 26%;" columnName="domainType">
            <span [hidden]="!hideFiltersSelectedDataTypes">Type</span>
            <div [hidden]="hideFiltersSelectedDataTypes">
              <mat-form-field class="filter" floatLabel="never">
                <mat-label>Type</mat-label>
                <input #filters matInput name="domainType" (keyup)="applyFilter()">
              </mat-form-field>
            </div>
          </th>
          <td mat-cell *matCellDef="let record" style="max-width: 26%; width: 26%; text-align: left; word-wrap: break-word;">
            <span>{{record.domainType}}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="status">

          <th mat-header-cell *matHeaderCellDef style="cursor: pointer; max-width: 15%; width: 15%;">
            Status
          </th>
          <td mat-cell *matCellDef="let record" style="max-width: 15%; width: 15%; text-align: left; word-wrap: break-word;">
						<span *ngIf="finalResult && finalResult[record.id] && finalResult[record.id].hasError">
							<div><i class="fas fa-times copyElementError"></i></div>
							<div class="errorMessage">{{finalResult[record.id].result}}</div>
						</span>
            <span *ngIf="finalResult && finalResult[record.id] && !finalResult[record.id].hasError">
							<div><i class="fas fa-check copyElementSuccess"></i>&nbsp;Success</div>
						</span>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsSelectedDataTypes"></tr>
        <tr mat-row *matRowDef="let record; columns: displayedColumnsSelectedDataTypes;"></tr>

      </table>

      <div class="d-flex justify-content-between p-2">
        <mat-paginator [pageSizeOptions]="[ 5, 10, 20,50]" [pageSize]="20" [length]="totalSelectedItemsCount" showFirstLastButtons></mat-paginator>
      </div>
      <div style="margin-top: 50px;">
        <div *ngIf="processing">
          <mat-progress-bar
            value="50"
            bufferValue="75"
            color="primary"
            mode="indeterminate">
          </mat-progress-bar>
        </div>
        <div ng-show="!processing && isProcessComplete">
          <div class="alert alert-success" ng-if="failCount === 0">
            <strong>Success!</strong> All copied successfully!
          </div>
          <div class="alert alert-danger" ng-if="failCount > 0">
            <strong>Error!</strong> {{failCount}} Error(s) in copy process!
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
