<div *ngIf="model">
    <div *ngIf="model.createType == 'new'">
        <form #myForm="ngForm" ngNativeValidate class="mdm--form" style="max-width: 100%;">
            <div>Parent Data Class:</div>
            <mdm-model-path [path]="model.parent.breadcrumbs" class="mdm--block"></mdm-model-path>
            <div class="mdm--form-input">
                <mat-form-field appearance="outline">
                    <mat-label>Label</mat-label>
                    <input matInput type="text" [(ngModel)]="model.label" name="label" required>
                </mat-form-field>
            </div>

            <div class="mdm--form-input">
                <mat-form-field appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea matInput name="description" [(ngModel)]="model.description"></textarea>
                </mat-form-field>
            </div>

            <div class="mdm--form-input">
                <label>Multiplicity</label>
                <br><small>Use <strong style="font-size: 14px">*</strong> for unbound multiplicity.</small>
                <div flex fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="20px">
                    <div fxFlex="33" fxFlex.sm="100" fxFlex.xs="100">
                        <mat-form-field appearance="outline">
                            <mat-label>Min</mat-label>
                            <input matInput name="minMultiplicity" [(ngModel)]="model.minMultiplicity">
                        </mat-form-field>
                    </div>
                    <div fxFlex="33" fxFlex.sm="100" fxFlex.xs="100">
                        <mat-form-field appearance="outline" class="paddingless">
                            <mat-label>Max</mat-label>
                            <input matInput name="maxMultiplicity" [(ngModel)]="model.maxMultiplicity">
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="error text-danger">
                <span *ngIf="multiplicityError">{{multiplicityError}}</span>
            </div>

            <label>Data Type *</label>
            <div style="padding: 0px 0px 10px 10px;" *ngIf="model.dataType">
                <mdm-element-data-type [elementDataType]="model.dataType" [mcParentDataModel]="model.parentDataModel">
                </mdm-element-data-type>
            </div>

            <div *ngIf="model.allDataTypesCount === 0">
                <label>
                    No Data Type defined for '{{model.parent.breadcrumbs[0].label}}' Data Model.
                    <br>Please enter Data Type details:
                </label>
            </div>

            <div *ngIf="model.allDataTypesCount != 0" class="mdm--block">
                <div *ngIf="!model.showNewInlineDataType">
                    Please select a Data Type or
                    <button mat-stroked-button color="primary" (click)="toggleShowNewInlineDataType()">Add a new one</button>
                </div>
                <div *ngIf="model.showNewInlineDataType">
                    Please
                    <button mat-stroked-button color="primary" (click)="toggleShowNewInlineDataType()">select a Data Type</button>
                    or Add a new one:</div>
            </div>

            <div *ngIf="model.showNewInlineDataType" class="mdm--block">
                <mdm-data-type-inline [parentScopeHandler]="parentScopeHandler" [model]="model.newlyAddedDataType"
                    [parentDataModel]="model.parentDataModel" [showParentDataModel]="false"
                    (validationStatusEvent)="validationStatusEmitter($event)">
                </mdm-data-type-inline>
            </div>
            <div *ngIf="!model.showNewInlineDataType" class="mdm--block">
                <mdm-select [width]="'100%'" [acceptTypedInput]="false" [valueType]="'dynamic'"
                    [defaultValue]="model.dataType" [loadDynamicValues]="fetchDataTypes" [minInputLength]="1"
                    [idProperty]="'id'" [displayProperty]="'label'" [searchProperty]="'label'" [loadAllOnClick]="true"
                    [pagination]="pagination" (selectEvent)="onTargetSelect($event[0])">
                    <ng-template #lineContent let-item='item' let-searchTerm="inputText">
                        <div [innerHTML]="item.label | mchighlighter:searchTerm"></div>
                        <div>
                            <mdm-element-link [element]="item" [showTypeTitle]="true" [showLink]="false">
                            </mdm-element-link>
                        </div>
                    </ng-template>
                </mdm-select>
            </div>

            <mdm-element-classifications name="classifiers" (classificationsChanged)="model.classifiers = $event"
                [editableForm]="{visible :true}"></mdm-element-classifications>
        </form>
    </div>
    <div *ngIf="model.createType == 'copy'" style="margin-bottom:20px;">
        <h4 style="margin-top: 16px;">Please Select Data Element(s):</h4>
        <div class="heading-container">
            Data Elements 
            <span class="badge element-count" style="margin: 0px 3px; display: inline;" aria-hidden="false">{{totalItemCount}}</span>
            <i class="fas fa-filter themeColor" (click)="filterClick()" style="cursor: pointer;margin-left: 2px;"></i>
        </div>
        <div>
            <table mat-table [dataSource]="dataSourceDataElements" matSort
                class="mdm--table table table-borderless table-striped table-responsive">
                <ng-container matColumnDef="checkbox">
                    <th mat-header-cell *matHeaderCellDef columnName="checkbox"
                        style="cursor: pointer; max-width: 3%; width: 3%;">
                        <mat-checkbox [checked]="isAllChecked" (change)="onCheckAll()"
                            [(ngModel)]="checkAllCheckbox"></mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let record" style="max-width: 3%; width: 3%; text-align: center;">
                        <mat-checkbox (change)="onCheck(record)" [(ngModel)]="record.checked"></mat-checkbox>
                    </td>
                </ng-container>
                <ng-container matColumnDef="label">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="!hideFilters"
                        columnName="label" style="cursor: pointer; max-width: 23%; width: 23%;">
                        <span [hidden]="!hideFilters">Name</span>
                        <div [hidden]="hideFilters">
                            <mat-form-field class="filter" floatLabel="never">
                                <mat-label>Name</mat-label>
                                <input #filters matInput name="label" (keyup)="applyFilter()">
                            </mat-form-field>
                        </div>
                    </th>
                    <td mat-cell *matCellDef="let record" style="max-width: 23%; width: 23%; text-align: left;">
                        {{record.label}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="!hideFilters"
                        style="cursor: pointer; max-width: 26%; width: 26%;" columnName="description">
                        <span [hidden]="!hideFilters">Description</span>
                        <div [hidden]="hideFilters">
                            <mat-form-field class="filter" floatLabel="never">
                                <mat-label>Description</mat-label>
                                <input #filters matInput name="description" (keyup)="applyFilter()">
                            </mat-form-field>
                        </div>
                    </th>
                    <td mat-cell *matCellDef="let record"
                        style="max-width: 26%; width: 26%; text-align: left; word-wrap: break-word;">
                        <mdm-more-description description="{{record.description}}"></mdm-more-description>
                    </td>
                </ng-container>
                <ng-container matColumnDef="domainType">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="!hideFilters"
                        style="cursor: pointer; max-width: 26%; width: 26%;" columnName="domainType">
                        <span [hidden]="!hideFilters">Type</span>
                        <div [hidden]="hideFilters">
                            <mat-label>Type</mat-label>
                        </div>
                    </th>
                    <td mat-cell *matCellDef="let record"
                        style="max-width: 26%; width: 26%; text-align: left; word-wrap: break-word;">
                        <mdm-element-data-type [newWindow]="true" [hideEnumList]="true"
                            [elementDataType]="record.dataType"
                            [mcParentDataModel]="{id:model.copyFromDataClass[0].dataModel}"></mdm-element-data-type>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsDataTypes"></tr>
                <tr mat-row *matRowDef="let record; columns: displayedColumnsDataTypes;"></tr>
            </table>
        </div>
        <div class="mdm--mat-pagination">
            <mat-paginator [pageSizeOptions]="[ 5, 10, 20,50]" [pageSize]="20" [length]="totalItemCount"
                showFirstLastButtons></mat-paginator>
        </div>
    </div>

    <div *ngIf="model.createType == 'copy'">
        <div class="heading-container">
            <span>Summary of Selected Data Elements</span>
            <span class="badge element-count" style="margin: 0px 3px; display: inline;" aria-hidden="false">{{totalSelectedItemsCount}}</span>
        </div>
        <table mat-table [dataSource]="dataSourceSelectedDataElements" matSort class="mdm--table table table-borderless table-striped table-responsive-sm">
            <ng-container matColumnDef="label">
                <th mat-header-cell *matHeaderCellDef mat-sort-header
                    [disabled]="!hideFiltersSelectedDataTypes"
                    style="cursor: pointer; max-width: 25%; width: 25%;" columnName="label">
                    <span [hidden]="!hideFiltersSelectedDataTypes">Name</span>
                    <div [hidden]="hideFiltersSelectedDataTypes">
                        <mat-form-field class="filter" floatLabel="never">
                            <mat-label>Name</mat-label>
                            <input #filters matInput name="label" (keyup)="applyFilter()">
                        </mat-form-field>
                    </div>
                </th>
                <td mat-cell *matCellDef="let record"
                    style="max-width: 25%; width: 25%; text-align: left; word-wrap: break-word;">
                    <span>
                        {{record.label}}
                    </span>
                </td>
            </ng-container>
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header
                    [disabled]="!hideFiltersSelectedDataTypes"
                    style="cursor: pointer; max-width: 35%; width: 35%;" columnName="description">
                    <span [hidden]="!hideFiltersSelectedDataTypes">Description</span>
                    <div [hidden]="hideFiltersSelectedDataTypes">
                        <mat-form-field class="filter" floatLabel="never">
                            <mat-label>Description</mat-label>
                            <input #filters matInput name="description" (keyup)="applyFilter()">
                        </mat-form-field>
                    </div>
                </th>
                <td mat-cell *matCellDef="let record"
                    style="max-width: 35%; width: 35%; text-align: left; word-wrap: break-word;">
                    <span>{{record.description}}</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="domainType">
                <th mat-header-cell *matHeaderCellDef mat-sort-header
                    [disabled]="!hideFiltersSelectedDataTypes"
                    style="cursor: pointer; max-width: 25%; width: 25%;" columnName="domainType">
                    <span [hidden]="!hideFiltersSelectedDataTypes">Type</span>
                    <div [hidden]="hideFiltersSelectedDataTypes">
                        <mat-form-field class="filter" floatLabel="never">
                            <mat-label>Type</mat-label>
                            <input #filters matInput name="domainType" (keyup)="applyFilter()">
                        </mat-form-field>
                    </div>
                </th>
                <td mat-cell *matCellDef="let record"
                    style="max-width: 25%; width: 25%; text-align: left; word-wrap: break-word;">
                    <span>{{record.domainType}}</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef style="cursor: pointer; max-width: 15%; width: 15%;">
                    Status
                </th>
                <td mat-cell *matCellDef="let record"
                    style="max-width: 15%; width: 15%; text-align: left; word-wrap: break-word;">
                    <span *ngIf="finalResult && finalResult[record.id] && finalResult[record.id].hasError">
                        <div><i class="fas fa-times copyElementError"></i></div>
                        <div class="errorMessage">{{finalResult[record.id].result}}</div>
                    </span>
                    <span *ngIf="finalResult && finalResult[record.id] && !finalResult[record.id].hasError">
                        <div><i class="fas fa-check copyElementSuccess"></i>&nbsp;Success</div>
                    </span>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsSelectedDataTypes"></tr>
            <tr mat-row *matRowDef="let record; columns: displayedColumnsSelectedDataTypes;"></tr>
        </table>
        <div class="mdm--mat-pagination">
            <mat-paginator [pageSizeOptions]="[ 5, 10, 20,50]" [pageSize]="20" [length]="totalSelectedItemsCount" showFirstLastButtons></mat-paginator>
        </div>
        <div style="margin-top: 50px;">
            <div *ngIf="processing">
                <mat-progress-bar value="50" bufferValue="75" color="primary" mode="indeterminate"></mat-progress-bar>
            </div>
            <div *ngIf="!processing && isProcessComplete">
                <div class="alert alert-success" *ngIf="failCount === 0">
                    <strong>Success!</strong> All copied successfully!
                </div>
                <div class="alert alert-danger" *ngIf="failCount > 0">
                    <strong>Error!</strong> {{failCount}} Error(s) in copy process!
                </div>
            </div>
        </div>
    </div>
</div>