.mdm-bulk-edit {
  width: 90%;
  margin: 0 auto;

  &__selection {
    margin: 1.5em 0;
  }

  &__select-count {
    &--invalid {
      color: red;
    }
  }

  &__select-list {
    margin: 1.5em 0;
  }

  &__scoll-viewport {
    height: 50vh;
    width: 100%;
  }

  &__select-filter {
    button,
    input {
      margin: 0 0.5em;
    }

    input[type='search'] {
      padding: 0.375rem 0.75rem;
    }
  }
}
