<form name="editableForm" class="mdm--form">
    <div class="mdm--form-input">
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input required matInput name="label" [(ngModel)]="group.label">
            <mat-error *ngIf="errors && errors['label']">
                {{errors['label']}}
            </mat-error>
        </mat-form-field>
    </div>

    <mat-form-field class="mdm--form-input" appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput rows="3" name="description" [(ngModel)]="group.description"></textarea>
        <mat-error *ngIf="errors && errors['description']">
            {{errors['description']}}
        </mat-error>
    </mat-form-field>

    <button mat-flat-button type="button" (click)="cancel()">
        Cancel
    </button>
    <button mat-flat-button color="primary" type="submit" class="custom" (click)="save()">
        Save group
    </button>
</form>
<hr>
<div class="row" style="margin-top: 10px">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <div *ngIf="group && group.id">
            <mat-tab-group>
                <mat-tab label="Members">
                    <ng-template matTabContent>
                        <div style="width: 100%;">
                       <mdm-group-member-table [parent]="group" ></mdm-group-member-table>
                       </div>
                    </ng-template>
                </mat-tab>
                <mat-tab label="History">
                    <ng-template matTabContent>
                        <div style="width: 100%;">
                            <mdm-history [parent]="group" [parentType]="'UserGroup'" ></mdm-history>
                        </div>
                    </ng-template>
                    </mat-tab>
                </mat-tab-group>
        </div>
    </div>
</div>
