<div>

    <div style="float: left;" ng-show="deletePending">

        <span  ng-show="textLocation == 'left'"  style="font-size: 11px !important;">Are you sure?</span>


        <!-- Cancel Delete-->
        <button type="button"
                class="btn btn-default btn-xs themeColor"
                ng-click="cancelDeleteClicked()">
            <i class="fa fa-times cancelButton"></i>
        </button>

        <!-- Confirm Delete -->
        <button type="button"
                class="btn btn-default btn-xs"
                ng-click="confirmDeleteClicked()">
            <i class="fa fa-check saveButton"></i>
        </button>


        <span  ng-show="textLocation == 'bottom'"  style="font-size: 11px !important;"><br>Are you sure?</span>
    </div>


    <div class="deleteInProgressSpinner" style="position: relative; float: left; margin-right:8px;" ng-if="deleteInProgress">
        <a style="font-size: 14px; text-decoration: none;">
            <i class="fa fa-refresh fa-spin"></i>
        </a>
    </div>


    <div style="float: left;" ng-hide="deletePending">
        <button type="button" class="btn btn-default btn-xs" ng-click="onAskDelete()" ng-disabled="deleteInProgress">
            <i class="fa fa-trash-o deleteButton"></i>
        </button>
    </div>



    <div  id="addContent" class="btn-group-xs" uib-dropdown is-open="false" style="float: left;" ng-hide="deletePending">
        <button uib-tooltip="Add"  type="button" class="btn btn-xs dropdown-toggle btn-default addNewModelButton themeColor" ng-disabled="deleteInProgress"
                uib-dropdown-toggle>
            <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu style="right: 0; left: auto;" role="menu" aria-labelledby="single-button">
            <li class="modelFilterItem" ng-click="newDataClass()">
                <a>Add Data Class</a>
            </li>
            <li class="modelFilterItem" ng-click="newDataElement()">
                <a>Add Data Element</a>
            </li>
        </ul>
    </div>
</div>