<div>
    <div class="panel panel-default">
        <form editable-form
              name="editableForm"
              onaftersave="onAfterSave()"
              onbeforesave="formBeforeSave()"
              onkeypress="return event.keyCode != 13;">
            <div class="panel-body panel-table">
                <h4>
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" style="padding: 0px !important;">
                    <span ng-class="{'deletedDataModelTitle':mcTerminology.deleted, 'xeditableInput':true}">
                        <span ng-bind-html="mcTerminology.label | mchighlighter:$root.searchCriteria"
                              class="dataModelDetailsLabel">
                        </span>
                        <i ng-class="{'fa fa-star favouritesIcon':true, addedToFavourite:addedToFavourite}"
                           ng-click="toggleFavourite()"
                           uib-tooltip="Favourite"></i>
                        <i id="helpIcon" class="fa fa-info-circle themeColor" style="font-size: 14px;"
                           ng-click="loadHelp()" tooltip-placement="left" uib-tooltip="Help"></i>
                    </span>
                        <span class="publiclyReadable" ng-show="mcTerminology.readableByEveryone">
                        <i class="fa fa-globe themeColor" aria-hidden="true" title="Publicly Readable"></i>
                    </span>
                    </div>
                    <div class="dataModelTypeIcon">
                        <i uib-tooltip="Terminology" style="font-size: 30px;" class="fa fa-book themeColor"></i>
                    </div>
                </h4>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 0px !important;">
                    <small class="elementDetailMCType">Terminology</small>
                    <element-status mc-element="mcTerminology"></element-status>
                    <span ng-if="mcTerminology.deleted" class="label label-danger"
                          style="vertical-align: middle;font-size: 9px;">Deleted</span>
                    <br>
                    <div style="font-size: 12px;font-style:italic;">
                        Version: {{mcTerminology.documentationVersion}}
                    </div>
                    <span style="font-size: 11px;font-style: italic" class="dataModelDetailsLastUpdate">Last Update: {{::mcTerminology.lastUpdated | date:"yyyy-MM-dd HH:mm:ss" }}</span>
                    <span ng-if="mcTerminology.finalised && mcTerminology.dateFinalised"
                          style="font-size: 11px;font-style: italic; margin-left: 10px"
                          class="dataModelDetailsLastUpdate">Finalised On: {{::mcTerminology.dateFinalised | date:"yyyy-MM-dd HH:mm:ss" }}</span>
                </div>
            </div>

            <table class="table table-condensed dataModelDetailTable">
                <tbody>
                    <tr>
                        <td class="detailsRowHeader  col-sx-2 col-sm-2 col-md-2">Aliases</td>
                        <td>
                            <div style="width:50%">
                                <element-alias
                                        in-edit-mode="false"
                                        aliases="mcTerminology.editAliases"></element-alias>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="detailsRowHeader  col-sx-2 col-sm-2 col-md-2">Author</td>
                        <td>
                            {{mcTerminology.author}}
                            <!--<span class="xeditableInput">-->
                                <!--<span editable-text="mcTerminology.author"-->
                                      <!--e-name="author"-->
                                      <!--e-style="width: 99%"-->
                                      <!--ng-bind-html="mcTerminology.author | mchighlighter:$root.searchCriteria"-->
                                      <!--class="dataModelDetailsAuthor"></span>-->
                            <!--</span>-->
                        </td>
                    </tr>
                    <tr>
                        <td class="detailsRowHeader col-sx-2 col-sm-2 col-md-2">Organisation</td>
                        <td>
                            {{mcTerminology.organisation}}
                            <!--<span class="xeditableInput">-->
                                <!--<span editable-text="mcTerminology.organisation"-->
                                      <!--e-name="organisation"-->
                                      <!--class="dataModelDetailsOrganisation"-->
                                      <!--e-style="width: 99%"-->
                                      <!--ng-bind-html="mcTerminology.organisation | mchighlighter:$root.searchCriteria"></span>-->
                            <!--</span>-->
                        </td>
                    </tr>
                    <tr>
                        <td class="detailsRowHeader col-md-2">Description</td>
                        <td class="elementDetailDescription">
                            <markdown-text-area mc-editable-form="editableForm" mc-element="mcTerminology" mc-property="'description'"></markdown-text-area>
                        </td>
                    </tr>
                    <tr>
                        <td class="detailsRowHeader  col-sx-2 col-sm-2 col-md-2">Classifications</td>
                        <td>
                            <element-classifications classifications="mcTerminology.classifiers"
                                                     editable="editableForm"></element-classifications>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: right;">

                            <div style="float: right;margin-bottom: 3px;margin-left: 5px;"
                                 ng-show="!editableForm.$visible && !editable.$deletePending" ng-if="showDelete">
                                <div style="float: right;margin-bottom: 3px;margin-left: 5px;"
                                     ng-show="!editableForm.$visible && !editable.$deletePending" uib-dropdown
                                     is-open="false" ng-if="showDelete">
                                    <button type="button"
                                            uib-tooltip="Delete"
                                            class="btn btn-default btn-xs dropdown-toggle"
                                            ng-disabled="deleteInProgress || processing"
                                            uib-dropdown-toggle>
                                        <i class="fa fa-trash-o deleteButton" aria-hidden="true"></i>
                                        <span class="caret" style="margin-right: 2px;"></span>
                                    </button>
                                    <ul class="dropdown-menu" uib-dropdown-menu style="right: 0; left: auto;" role="menu"
                                        aria-labelledby="single-button">
                                        <li class="modelFilterItem" ng-click="askForSoftDelete()"
                                            ng-if="!mcTerminology.deleted">
                                            <a title="Just mark it as deleted">Mark as deleted</a>
                                        </li>
                                        <li class="modelFilterItem" ng-click="askForPermanentDelete()">
                                            <a title="Permanently delete the Terminology">Delete <span class="errorMessage">permanently</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div style="float: right;margin-bottom: 3px">
                                <div ng-if="showEdit" ng-show="!editableForm.$visible && !editable.$deletePending"
                                     class="btn-group-xs" uib-dropdown is-open="false"
                                     style="margin-bottom: 3px;position: relative; float: right; margin-right:4px;">
                                    <button id="singleX-button" type="button"
                                            class="btn btn-xs dropdown-toggle btn-default addNewModelButton themeColor"
                                            ng-show="!editableForm.$visible && !editable.$deletePending"
                                            ng-disabled="deleteInProgress || processing || mcTerminology.finalised"
                                            uib-tooltip="Edit"
                                            ng-click="editableForm.$show();"
                                            uib-dropdown-toggle>
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <editable-form-buttons
                                        ng-show="editableForm.$visible"
                                        on-cancel-edit="onCancelEdit"
                                        editable="editableForm"
                                        text-location="left"
                                        hide-delete="true"
                                        processing="deleteInProgress"></editable-form-buttons>
                            </div>

                            <div ng-if="showFinalise" uib-tooltip="Finalise" class="btn-group-xs"
                                 style="margin-bottom: 3px;position: relative; float: right; margin-right:4px;"
                                 ng-show="!editableForm.$visible && !editable.$deletePending">
                                <button class="btn btn-xs btn-default addNewModelButton themeColor"
                                        ng-click="finalise()" type="button"
                                        ng-disabled="deleteInProgress || processing">
                                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div ng-if="showPermission" uib-tooltip="User & Group Access" class="btn-group-xs"
                                 style="margin-bottom: 3px;position: relative; float: right; margin-right:4px;"
                                 ng-show="!editableForm.$visible && !editable.$deletePending">
                                <button class="btn btn-xs btn-default addNewModelButton themeColor"
                                        ng-click="toggleSecuritySection()" type="button"
                                        ng-disabled="deleteInProgress || processing">
                                    <i class="fa fa-user userAccess"></i>
                                </button>
                            </div>

                            <div ng-if="showNewVersion" uib-tooltip="Create a New Version" class="btn-group-xs"
                                 style="margin-bottom: 3px;position: relative; float: right; margin-right:4px;"
                                 ng-show="!editableForm.$visible && !editable.$deletePending">
                                <button class="btn btn-xs btn-default addNewModelButton themeColor" ng-click="newVersion()"
                                        type="button" ng-disabled="deleteInProgress || processing">
                                    <i class="fa fa-copy userAccess"></i>
                                </button>
                            </div>

                            <!--<div class="btn-group-xs" uib-dropdown is-open="false"-->
                                 <!--style="margin-bottom: 3px;position: relative; float: right; margin-right:4px;"-->
                                 <!--ng-show="!editableForm.$visible && !editable.$deletePending">-->
                                <!--<button ng-if="isLoggedIn" uib-tooltip="Export as JSON, XML,..." tooltip-class="mcTooltip"-->
                                        <!--id="single-button" type="button"-->
                                        <!--class="btn btn-xs dropdown-toggle btn-default addNewModelButton themeColor"-->
                                        <!--ng-disabled="processing || deleteInProgress" uib-dropdown-toggle>-->
                                    <!--<i class="fa fa-download" aria-hidden="true"></i>-->
                                    <!--<span class="caret" style="margin-right: 2px;"></span>-->
                                <!--</button>-->
                                <!--<ul class="dropdown-menu" uib-dropdown-menu style="right: 0; left: auto;" role="menu"-->
                                    <!--aria-labelledby="single-button">-->
                                    <!--<li ng-repeat="exporter in exportList" class="modelFilterItem"-->
                                        <!--ng-click="export(exporter)">-->
                                        <!--<a title="{{exporter.displayName}}">{{exporter.displayName}}</a>-->
                                    <!--</li>-->
                                <!--</ul>-->
                            <!--</div>-->
                            <div class="deleteInProgressSpinner"
                                 style="margin-bottom: 3px;position: relative; float: right; margin-right:8px;"
                                 ng-show="deleteInProgress">
                                <a style="font-size: 14px; text-decoration: none;">
                                    <i class="fa fa-refresh fa-spin"></i> Deleting...
                                </a>
                            </div>


                            <div style="margin-bottom: 3px;position: relative; float: right; margin-right:8px;"
                                 ng-show="exportedFileIsReady">
                                <div id="exportFileDownload"></div>
                            </div>
                            <div style="clear: both;" ng-show="processing">
                                <uib-progressbar max="100" value="100" class="progress-striped active">
                                    <span style="color:white; white-space:nowrap;"></span>
                                </uib-progressbar>
                            </div>
                            <div style="text-align: left" ng-show="exportError">
                                <div style="padding-top: 25px;">
                                    <div class="alert alert-danger">
                                        <a class="close" ng-click="resetExportError()" aria-label="close">&times;</a>
                                        <strong>Error!</strong> {{exportError}}
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div class="userAccess" ng-if="securitySection && !editableForm.$visible && !editable.$deletePending"
         style="margin: 10px 0px 50px 0px">
        <share-with mc-element="mcTerminology" mc-domain-type="'Terminology'"></share-with>
        <div>
            <div style="margin-top: 10px">
                <user-access-new parent="mcTerminology" parent-type="'Terminology'"></user-access-new>
            </div>
            <div style="margin-top: 50px">
                <group-access-new parent="mcTerminology" parent-type="'Terminology'"></group-access-new>
            </div>
        </div>
    </div>
</div>