<div>
    <div appProperties [aliases]="editableForm[property]" *ngFor="let alias of aliases">
        <div style="float: left;">
            <ul class="alias">
                <li>
                    <span *ngIf="!inEditMode">
                        <span class="themeColor">{{alias}}</span>
                    </span>
                    <span *ngIf="inEditMode">
                        <span>{{alias}}</span>
                    </span>
                    <span class="aliasButton"
                          *ngIf="inEditMode"
                          (click)="remove(alias)">
                            <i class="glyphicon glyphicon-remove"></i>
                    </span>
                </li>
            </ul>
        </div>
    </div>

    <div *ngIf="inEditMode" style="clear: both;">
        <div class="input-group">
            <input type="text"
                   #typedAliasId
                   id="aliasInput"
                   (keyup)="keyup($event)"
                   [(ngModel)]="typedAlias"
                   name ="typedAlias"
                   class="form-control input-sm">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm themeColor"
                        type="button"
                        [disabled]="!typedAlias"
                        (click)="add()">
                    <i class="fa fa-plus"></i>
                </button>
            </span>
        </div>
    </div>
</div>