/* Modal window specific style */
.modal-footer {
  text-align: left;
  padding: 0;
}
.cdk-overlay-container {
  z-index: 1050;
}

.summary-metadata-modal {
  overflow: auto;
}

.mdm--form-modal {
  position: relative;
  .close-modal {
    position: absolute;
    top: 0;
    right: 0;
  }
}
