<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">

        <div style="width: 100%" *ngIf ="dataModel">
            <data-element-details
            [parent-data-model] = "dataModel"
            [parent-data-class] = "dataClass">

            </data-element-details>
        </div>

        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <mat-tab-group #tab [selectedIndex]="activeTab" (selectedIndexChange)="tabSelected($event)">

                <mat-tab label="Properties">
                    <ng-template matTabContent>
                        <div style="width: 100%;">
                            <mc-data-set-metadata *ngIf="dataElement" [parent]="dataElement" [type]="'dynamic'"></mc-data-set-metadata>
                        </div>
                    </ng-template>
                </mat-tab>
                <mat-tab label="Comments">
                    <ng-template matTabContent>
                        <div style="width: 100%;">
                            <annotation-list *ngIf="dataElement" [parent]="dataElement"></annotation-list>
                        </div>
                    </ng-template>
                </mat-tab>
                <mat-tab label="Links">
                    <ng-template matTabContent>
                        <div style="width: 100%;">
                            <element-link-list *ngIf="dataElement" [parent]="dataElement"></element-link-list>
                        </div>
                    </ng-template>
                </mat-tab>
                <mat-tab label="Summary">
                    <ng-template matTabContent>
                        <div style="width: 100%;">
                            <summary-metadata-table *ngIf="dataElement" [parent]="dataElement"></summary-metadata-table>
                        </div>
                    </ng-template>
                </mat-tab>


                <mat-tab label="Attachments">
                    <ng-template matTabContent>
                        <div style="width: 100%;">
                            <attachment-list *ngIf="dataElement" [parent]="dataElement"></attachment-list>
                        </div>
                    </ng-template>
                </mat-tab>

            </mat-tab-group>
        </div>
    </div>
</div>
