<div>
    <div class="panel panel-default">
        <form editable-form name="form" onaftersave="onAfterSave()" (ngSubmit)="formBeforeSave()"
            disable-submit-on-enter>
            <div class="panel-body panel-table">
                <h4>
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" style="padding: 0px !important;"
                        *ngIf="mcTerm">
                        <span [ngClass]="{'deletedDataModelTitle': mcTerm.deleted, 'xeditableInput':true}">
                            <div [ngClass]="{'form-group':true, 'has-error': errorMessage != ''}">
                                <span [ngClass]="{'deletedDataModelTitle':mcTerm.deleted, 'xeditableInput':true}">
                                    <span *ngIf="mcTerm.label" [innerHtml]="mcTerm.label" class="dataModelDetailsLabel">
                                    </span>
                                    <i [ngClass]="{'fas fa-star favouritesIcon':true, addedToFavourite:addedToFavourite}"
                                        (click)="toggleFavourite()" matTooltip="Favourite"></i>
                                    <button class="btn btn-default btn-sm" id="helpButton" (click)="loadHelp()"
                                        type="button" style="border: none">
                                        <i class="fas fa-info-circle" matTooltip="Help"></i>
                                    </button>

                                </span>
                                <span class="publiclyReadable" [hidden]="!mcTerm.readableByEveryone">
                                    <i class="fas fa-globe-europe globe" aria-hidden="true"
                                        title="Publicly Readable"></i>
                                </span>

                            </div>
                            <div [ngClass]="{'form-group':true, 'has-error': true }" *ngIf="errorMessage != ''">
                                <span class="help-block">{{errorMessage}}</span>
                            </div>
                        </span>

                    </div>

                </h4>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 0px !important;">
                    <small class="elementDetailMCType">Term</small>

                    <span *ngIf="mcTerm && mcTerm.deleted" class="label label-danger"
                        style="vertical-align: middle;font-size: 9px;">Deleted</span>
                    <br>

                    <span *ngIf="mcTerm && mcTerm.dateCreated" style="font-size: 11px;font-style: italic"
                        class="dataModelDetailsLastUpdate">Created on:
                        {{mcTerm.dateCreated | date:"yyyy-MM-dd HH:mm:ss" }}</span>

                </div>
            </div>

            <table class="table table-bordered dataModelDetailTable">
                <tbody>
                    <tr>
                        <td class="detailsRowHeader">Aliases</td>
                        <td>
                            <div style="width:50%" *ngIf="mcTerm">
                                <mdm-element-alias [inEditMode]="editableForm.visible" [aliases]="mcTerm.aliases"
                                    [editableForm]="editableForm" [property]="'aliases'"></mdm-element-alias>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="detailsRowHeader">Terminology</td>
                        <td *ngIf="mcTerm?.terminology">
                            <span *ngIf="mcTerm.terminology">
                                <span *ngIf="!mcTerm.terminology.finalised" class="label label-warning"
                                    style="vertical-align: middle;font-size: 9px;">Draft</span>
                                <span *ngIf="mcTerm.terminology.finalised" class="label label-success"
                                    style="vertical-align: middle;font-size: 9px;">Finalised</span>
                            </span>
                            <mdm-element-link [element]="mcTerm.terminology" [showLink]="true" [newWindow]="false">
                            </mdm-element-link>

                        </td>
                    </tr>
                    <tr>
                        <td class="detailsRowHeader">Description</td>
                        <td class="elementDetailDescription">
                            <div *ngIf="hasResult">
                                <mdm-markdown-text-area [editableForm]="editableForm" [element]="mcTerm"
                                    [property]="'description'"></mdm-markdown-text-area>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="detailsRowHeade">URL</td>
                        <td *ngIf="mcTerm?.url">
<!--                            <inline-editor empty="" #editableText type="text" [(ngModel)]="mcTerm.url" size="20"-->
<!--                                class="dataModelDetailsLabel" style="width: 45%" name="moduleNameUrl"></inline-editor>-->
                          <mdm-inline-text-edit  [inEditMode]="editableForm.visible" [(ngModel)]="mcTerm.url" [name]="'moduleNameUrl'" size="20"  [styleCss]="'dataModelDetailsLabel'"  ></mdm-inline-text-edit>
                        </td>
                        <td *ngIf="!mcTerm?.url"></td>
                    </tr>

                    <tr>
                        <td class="detailsRowHeader">Classifications</td>
                        <td *ngIf="mcTerm?.classifiers">
                            <mdm-element-classifications [classifications]="mcTerm.classifiers"
                                [editableForm]="editableForm" [element]="mcTerm" [property]="'classifiers'">
                            </mdm-element-classifications>

                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>



</div>
