<div class="panel panel-default mdm--shadow-block">
    <form editable-form name="form" onaftersave="onAfterSave()" (ngSubmit)="formBeforeSave()" disable-submit-on-enter>
        <div class="panel-body">
            <div *ngIf="mcTerm">
                <div [ngClass]="{ 'has-error': errorMessage != ''}">
                  <h4 class="inline-block marginless" [ngClass]="{'deletedDataModelTitle': mcTerm?.deleted}">
                    <span *ngIf="mcTerm.label" [innerHtml]="mcTerm.label" class="dataModelDetailsLabel"></span>
                  </h4>
                  <span class="inline-block">
                    <small *ngIf="mcTerm && mcTerm.deleted" class="warning"> | Deleted</small>
                  </span>
                  <div class="detail-icons--cta">
                    <i class="fas fa-info-circle helpIcon" matTooltip="Help" (click)="loadHelp()"></i>
                    <i [ngClass]="{'fas fa-star favouritesIcon':true, addedToFavourite:addedToFavourite}" (click)="toggleFavourite()" matTooltip="Favourite"></i>
                  </div>
              </div>
              <div [ngClass]="{'form-group':true, 'has-error': true }" *ngIf="errorMessage != ''">
                <span class="help-block">{{errorMessage}}</span>
              </div>
            </div>

            <div class="detail-icons">
                <div class="text-muted" *ngIf="mcTerm?.readableByEveryone">
                    <small>
                      <i class="fas fa-globe-europe globe" aria-hidden="true" title="Publicly Readable"></i>
                      <span><strong>Availability: </strong>Publicly Readable</span>
                    </small>
                  </div>
                <div class="text-muted" *ngIf="mcTerm && mcTerm.dateCreated">
                    <small>
                        <i class="far fa-calendar-alt" matTooltip="Last update"></i>
                        <span><strong>Created on </strong> {{mcTerm.dateCreated | date:"yyyy-MM-dd HH:mm:ss" }}</span>
                    </small>
                </div>
            </div>

        </div>

        <table class="table table-bordered dataModelDetailTable">
            <tbody>
                <tr>
                    <td class="detailsRowHeader">Aliases</td>
                    <td>
                        <div style="width:50%" *ngIf="mcTerm">
                            <mdm-element-alias [inEditMode]="editableForm.visible" [aliases]="mcTerm.aliases"
                                [editableForm]="editableForm" [property]="'aliases'"></mdm-element-alias>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="detailsRowHeader">Terminology</td>
                    <td *ngIf="mcTerm?.terminology">
                        <span *ngIf="mcTerm.terminology">
                            <span *ngIf="!mcTerm.terminology.finalised" class="label label-warning" style="vertical-align: middle;font-size: 9px;">Draft</span>
                            <span *ngIf="mcTerm.terminology.finalised" class="label label-success" style="vertical-align: middle;font-size: 9px;">Finalised</span>
                        </span>
                        <mdm-element-link [element]="mcTerm.terminology" [showLink]="true" [newWindow]="false"></mdm-element-link>
                    </td>
                </tr>
                <tr>
                    <td class="detailsRowHeader">Description</td>
                    <td class="elementDetailDescription">
                        <div *ngIf="hasResult">
                            <mdm-markdown-text-area [editableForm]="editableForm" [element]="mcTerm"
                                [property]="'description'"></mdm-markdown-text-area>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="detailsRowHeader">URL</td>
                    <td *ngIf="mcTerm?.url">
                        <mdm-inline-text-edit [inEditMode]="editableForm.visible" [(ngModel)]="mcTerm.url"
                            [name]="'moduleNameUrl'" size="20" [styleCss]="'dataModelDetailsLabel'">
                        </mdm-inline-text-edit>
                    </td>
                    <td *ngIf="!mcTerm?.url"></td>
                </tr>

                <tr>
                    <td class="detailsRowHeader">Classifications</td>
                    <td *ngIf="mcTerm?.classifiers">
                        <mdm-element-classifications [classifications]="mcTerm.classifiers"
                            [editableForm]="editableForm" [element]="mcTerm" [property]="'classifiers'">
                        </mdm-element-classifications>

                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>