<div class="panel panel-default mdm--shadow-block">
    <form editable-form name="form" onaftersave="onAfterSave()" (ngSubmit)="formBeforeSave()" disable-submit-on-enter>
        <div class="panel-body">
            <div *ngIf="result">
                <div [ngClass]="{ 'has-error': errorMessage != ''}">
                  <h4 class="inline-block marginless" [ngClass]="{'deletedDataModelTitle': result?.deleted}">
                    <span class="dataModelTypeIcon">
                        <i matTooltip="Classifier" class="fas fa-tag"></i>
                    </span>
                        <mdm-inline-text-edit [inEditMode]="editableForm.visible" [(ngModel)]="editableForm.label" [name]="'moduleName'" (input)="onLabelChange($event.target.value)" size="20" [styleCss]="'dataModelDetailsLabel'"></mdm-inline-text-edit>
                  </h4>
                  <span class="inline-block">
                    <small *ngIf="result?.deleted" class="warning"> | Deleted</small>
                  </span>
                </div>
                <div [ngClass]="{'form-group':true, 'has-error': true }" *ngIf="errorMessage != ''">
                    <span class="help-block">{{errorMessage}}</span>
                </div>
            </div>
            <div class="detail-icons">
                <div class="text-muted">
                    <small>
                        <i class="fas fa-cube" matTooltip="Item type"></i>
                        <span><strong>Item type: </strong><span class="item-type">Classifier</span></span>
                    </small>
                </div>
                <div class="text-muted" *ngIf="result?.readableByEveryone">
                  <small>
                        <i class="fas fa-globe-europe globe" aria-hidden="true" matTooltip="Availability"></i>
                    <span><strong>Availability: </strong>Publicly Readable</span>
                  </small>
                </div>
                <div class="text-muted" *ngIf="result">
                  <small>
                    <i class="far fa-calendar-alt" matTooltip="Last update"></i>
                    <span><strong>Last update: </strong> {{result.lastUpdated | date:"yyyy-MM-dd HH:mm:ss" }}</span>
                  </small>
                </div>
            </div>
        </div>

        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td class="detailsRowHeader">Description</td>
                    <td class="elementDetailDescription">
                        <div *ngIf="hasResult">
                            <mdm-markdown-text-area [editableForm]="editableForm"
                                                    [element]="result"
                                                    [property]="'description'"></mdm-markdown-text-area>
                        </div>
                    </td>
                </tr>
                <tr mdmShowIfRolesWritable>
                    <td colspan="2" style="text-align: right;">
                        <div style="float: right">
                            <mdm-editable-form-buttons [hidden]="editableForm.visible"
                                                       [onCancelEdit]="onCancelEdit"
                                                       [editable]="editableForm"
                                                       [textLocation]="'left'"
                                                       [hideDelete]="false"
                                                       [hideCancel]="false"
                                                       [hideEdit]="true"
                                                       (delete)="delete()"
                                                       [processing]="deleteInProgress">
                            </mdm-editable-form-buttons>
                        </div>

                        <div style="float: right;margin-bottom: 3px">
                            <div *ngIf="showEdit" [hidden]="editableForm.visible || editableForm.deletePending" style="position: relative; float: right; margin-right:4px;">
                                <button mat-stroked-button
                                        color="primary"
                                        type="button"
                                        class="paddingless"
                                        [disabled]="deleteInProgress || exporting || result.finalised"
                                        matTooltip="Edit"
                                        aria-label="Edit"
                                        (click)="showForm();">
                                    <i class="fas fa-pencil-alt"></i>
                                </button>
                            </div>
                            <mdm-editable-form-buttons [hidden]="!editableForm.visible"
                                                       [onCancelEdit]="onCancelEdit"
                                                       [editable]="editableForm"
                                                       [textLocation]="'left'"
                                                       [hideDelete]="true"
                                                       [hideCancel]="false"
                                                       [processing]="deleteInProgress">
                            </mdm-editable-form-buttons>
                        </div>

                        <div style="position: relative; float: right; margin-right:4px;" [hidden]="editableForm.visible || editableForm.deletePending">
                            <button mat-stroked-button
                                    color="primary"
                                    type="button"
                                    class="paddingless"
                                    (click)="toggleSecuritySection()"
                                    *ngIf="showPermission"
                                    [disabled]="deleteInProgress || processing"
                                    matTooltip="User & Group Access"
                                    aria-label="User & Group Access"
                                    [hidden]="editableForm.visible || editableForm.deletePending">
                                <i class="fas fa-user userAccess"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>

<div mdmShowIfRolesWritable *ngIf="showSecuritySection && !editableForm.visible && !editableForm.deletePending">
  <div style="width:100%;">
    <div class="userAccess" style="margin: 10px 0px 50px 0px">
      <mdm-share-with [mcElement]="'mcClassification'" [mcDomainType]="'Classifier'"></mdm-share-with>
      <div colspan="2">
        <div style="margin-top: 10px">
          <mdm-user-access-new [parent]="'mcClassification'" [parentType]="'Classifier'"></mdm-user-access-new>
        </div>
        <div style="margin-top: 10px">
          <mdm-group-access-new [parent]="'mcClassification'" [parentType]="'Classifier'"></mdm-group-access-new>
        </div>
      </div>
    </div>
  </div>
</div>
