<div mdmProperties [classifiers]="editableForm[property]" *ngIf="(!editableForm.visible)">
    <div *ngFor="let path of classifications">
        <div style="float: left;">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <span ng-show="!editable || !editable.$visible">
                            <a href="{{path.link}}" target="{{target}}" >
                                <span>{{path.label}} </span>
                                <i class="fas fa-tags" aria-hidden="false"></i>
                            </a>
                        </span>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div *ngIf="editableForm.visible" style="clear: both;">
    <mat-form-field appearance="outline" class="mdm--input mb-2 full-width">
        <mat-select multiple placeholder="Classifications" name="classification" [(ngModel)]="selectedClassification" (ngModelChange)="onModelChanged()">
            <mat-option *ngFor="let classification of allClassifications" [value]="classification">{{classification.label}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
