
<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <div style="width: 100%">
            <mdm-folder-detail [afterSave]="afterSave" [editMode]="editMode"></mdm-folder-detail>
        </div>

        <div *ngIf="showSearch">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>Search</span>
                    <div style="float:right;">
                        <button type="button"
                                class="btn btn-default"
                                (click)="toggleShowSearch()"
                                aria-hidden="false"
                                aria-disabled="false" title="close">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="panel-body panel-table">
                    <mdm-advanced-search-bar [parent]="result"
                                             [showRestrictTo]="false"
                                             [doNotShowDataModelInModelPath]="false"
                                             [doNotDisplayModelPathStatus]="false"
                                             [showDomainTypes]="['Folder', 'DataModel', 'DataClass', 'DataType', 'DataElement']">
                    </mdm-advanced-search-bar>
                </div>
            </div>
        </div>


        <div *ngIf="showSecuritySection">
            <mat-tab-group [selectedIndex]="activeTab.index" (selectedIndexChange)="tabSelected($event)">
                <mat-tab label="User & Group Access">
                    <div style="width:100%;" ng-if="activeTab.name === 'access' && folder">
                        <div class="userAccess"
                             style="margin: 10px 0px 50px 0px">
                            <mdm-share-with [mcElement]="'folder'" [mcDomainType]="'Folder'"></mdm-share-with>
                            <div colspan="2">
                                <div style="margin-top: 10px">
                                    <mdm-user-access-new [parent]="'folder'" [parentType]="'Folder'"></mdm-user-access-new>
                                </div>
                                <div style="margin-top: 50px">
                                    <mdm-group-access-new [parent]="'folder'" [parentType]="'Folder'"></mdm-group-access-new>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="History">
                    <div style="width:100%;" ng-if="activeTab.name === 'history' && folder">
                        <mdm-history [parent]="'folder'" [parentType]="'Folder'" [parentId]=parentId></mdm-history>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
