.c-inline-editor.inline-editor-button-group {
    visibility: hidden !important;
}

#inlineEditWrapper {
    display: inline-block;
    width: auto!important;
    margin-right: 5px
}

.inline-editor-button-group {
	display: none;
}