<div>
    <div class="mcTableTitle">
        <span class="title">History</span>
        <span class="badge element-count ng-binding" style="margin: 0px 3px; display: inline;" aria-hidden="false">{{totalItemCount}}</span>
    </div>
    <div class="mcTableContainer">
        <table mat-table [dataSource]="records" matSort (matSortChange)="getSortedData($event)" class="mdm--table table table-borderless table-striped table-responsive">

            <ng-container matColumnDef="createdBy">
                <th style="cursor:pointer;max-width: 20%;width: 20%;" mat-header-cell *matHeaderCellDef mat-sort-header> User </th>
                <td style="max-width: 20%;width: 20%;text-align: left;word-wrap: break-word;" mat-cell *matCellDef="let element">
                    <div>
                        <div style="float: left;margin: 3px;">
                            <mdm-profile-picture [user]="element.createdBy"></mdm-profile-picture>
                        </div>
                        <div style="float: left;margin: 4px 3px;">
                            <div title="{{element.createdBy.emailAddress}}">
                                <span [innerHTML]="element.createdBy.firstName"></span>
                                <span [innerHTML]="element.createdBy.lastName"></span>
                            </div>
                        </div>
                    </div>
                </td>
            </ng-container>

            <ng-container  matColumnDef="dateCreated">
                <th style="cursor:pointer;max-width: 15%;width: 15%;" mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                <td style="max-width: 15%;width: 15%;text-align: left;word-wrap: break-word;" mat-cell *matCellDef="let element"> {{element.dateCreated | date:"dd/MM/yyyy h:mm a"}} </td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th style="cursor:pointer;max-width: 60%;width: 60%;" mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
                <td style="max-width: 60%;width: 60%;text-align: left;word-wrap: break-word;" mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

    <mat-card *ngIf="isLoadingResults"
              style="display: flex; justify-content: center; align-items: center">
        <mat-progress-spinner
            color="primary"
            mode="indeterminate">
        </mat-progress-spinner>
    </mat-card>

    <div class="mdm--mat-pagination">
        <mdm-paginator [pageSizeOptions]="[5, 10, 20, 50]" [length]="totalItemCount" [pageSize]="10" (page)="getServerData($event)" showFirstLastButtons></mdm-paginator>
    </div>
</div>

