<form name="changePasswordForm" ng-submit="onAfterSave(changePasswordForm)">
    <table class="table table-bordered table-condensed dataModelDetailTable">
        <tr ng-if="requireOldPassword">
            <th class="detailsRowHeader  col-sx-2 col-sm-2 col-md-2">Old password:<sup>*</sup></th>
            <td>
                <div class="form-group" ng-class="{'has-error': (oldPasswordError) || (changePasswordForm.$dirty && changePasswordForm.oldPassword.$error.equals)}">
                    <input type="password" class="form-control" name="oldPassword" ng-model="data.oldPassword" required="Old password can not be empty" equals="{{data.newPassword}}" not-equals>
                    <small ng-if="changePasswordForm.$dirty && changePasswordForm.oldPassword.$error.equals" class="errorMessage">New password must not match old password!</small>
                    <small ng-if="oldPasswordError" class="errorMessage">Your old password doesn't match with the one stored. </small>
                </div>
            </td>
        </tr>

        <tr>
            <th class="detailsRowHeader  col-sx-2 col-sm-2 col-md-2">
                {{ requireOldPassword ? 'New password:' : 'Password:' }}<sup>*</sup>
            </th>
            <td>
                <div class="form-group" ng-class="{'has-error': changePasswordForm.$dirty && changePasswordForm.newPassword.$error.minlength}">
                    <input type="password" name="newPassword" class="form-control" ng-model="data.newPassword" ng-minlength="4"
                           required="New password can not be empty">
                    <password-strenghtometer password="data.newPassword"></password-strenghtometer>
                    <small ng-if="changePasswordForm.$dirty && changePasswordForm.newPassword.$error.minlength" class="errorMessage">
                        Password must be at least 4 characters long!
                    </small>
                </div>
            </td>
        </tr>

        <tr>
            <th class="detailsRowHeader  col-sx-2 col-sm-2 col-md-2">Confirm password:<sup>*</sup></th>
            <td>
                <div class="form-group" ng-class="{'has-error': changePasswordForm.confirm.$dirty && changePasswordForm.confirm.$error.equals}">
                    <input type="password" class="form-control" name="confirm" ng-model="data.confirm"
                           required="Password confirmation can not be empty" equals="{{data.newPassword}}">
                    <small ng-if="changePasswordForm.confirm.$dirty && changePasswordForm.confirm.$error.equals" class="errorMessage">
                        Passwords must match!
                    </small>
                </div>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <button class="btn btn-primary pull-right" ng-disabled="changePasswordForm.$invalid">Submit</button>
            </td>
        </tr>
    </table>
</form>