<div>
    <div style="width: 100%;height: 100%; text-align: center;" class="treeWaitingSpinner" *ngIf="loading && showLoadingSpinner">
        <div style="">
            <a style="font-size: 75px;" class="themeColor">
                <i class="fa fa-refresh fa-spin"></i>
            </a>
        </div>
    </div>
    <div *ngIf="total">
        <div *ngFor="let linkType of linkTypes">
            <mc-paged-list [name]="linkType"
                           [mc-title]="linkType"
                           [type]="'static'"
                           [items]="allLinksMap[linkType].links"
                           [page-size]="3">

                <ng-template #pageListTemplate let-item>
                    <div class="pagedElement" style="word-break: break-all; word-wrap: break-word;">
                        <element-link [element]="item.target"
                                      [show-parent-data-model-name]="true"
                                      [show-link]="true"
                                      [show-type-title]="true"></element-link>
                        <div style="padding-left: 3px" *ngIf="showDescription && item.target.description && item.target.description.length>0">
                            <more-description [description]="item.source.description"></more-description>
                        </div>
                    </div>
                </ng-template>

            </mc-paged-list>
        </div>
    </div>
    <div *ngIf="total == 0 && showNoLinksMessage" style="font-style: italic; font-size: 14px;padding-left: 2px;">
        No Links
    </div>
</div>
