.heading-container {
  padding: 20px 24px;
  border-bottom: none;
  position: relative;
  border: 1px solid #f3f3f3;
  h4 {
    line-height: 1;
    display: inline;
    font-weight: 500;
  }
  .fas.fa-filter {
    @include respond-to($desktop) {
      display: none;
    }
  }
}

.mdm--mat-pagination, 
table.table thead {
  border: 1px solid #f3f3f3;
}

.list-group-settings {
  position: relative;
  display: block;
  padding: 10px 0;
  margin-bottom: -1px;
  list-style: none;
  background-color: #fcfcfd;
  li {
    padding: 0;
    position: relative;
  }
  a {
    color: #5D5B5B;
    text-decoration: none;
    width: 100%;
    padding: 8px 16px;
    display: block;
  }
  i {
    color: inherit;
    margin-right: 6px;
    width: 22px;
    text-align: center;
  }

  .active-setting {
    a, i {
      color: $defaultLinkColour;
    }
  }
  li.active-setting:before {
    content: "";
    display: block;
    position: absolute;
    background: $defaultLinkColour;
    @include size(4px, 32px);
    left: -16px;
    top: 5px;
  }

}

.settings-container {
  .mdm-form--configuration > .form-group {
    margin-bottom: 48px;
  }
  .mat-tab-header {
    margin-bottom: 24px;
  }
  button.save-email-config {
    display: block;
  }
  h3.mat-h3 {
    margin-bottom: 8px;
  }
}

table.mdm--table {
  table-layout: fixed;
  width: 100%;
  margin-bottom: 0 !important;
  td {
    min-height: 60px;
    vertical-align: middle !important;
  }
  th {
    vertical-align: middle !important;
  }
}
td.mat-cell:last-of-type {
  padding-right: 16px !important;
}


table.mdm--table-responsive {
  border: 1px solid #ccc;
}

table.mdm--table-responsive tr {
  border: 1px solid #f3f3f3;
  padding: .35em;
}

table.mdm--table-responsive th, 
table.mdm--table-responsive td {
  padding: .5em;
}
.mdm--td-cell {
  display: none;
}

@media screen and (max-width: $desktop) {
  table.mdm--table-responsive {
    border: 0;
  }
  table.mdm--table-responsive th.mat-header-cell:first-of-type, 
  table.mdm--table-responsive td.mat-cell:first-of-type, 
  table.mdm--table-responsive td.mat-footer-cell:first-of-type {
    padding: 0.5rem 0.75rem
  }
  table.table-striped.mdm--table-responsive tbody tr:nth-of-type(odd) {
    background-color: #fff;
  }
  
  table.mdm--table-responsive thead {
    display: none
  }
  
  table.mdm--table-responsive tr {
    border-bottom: 8px solid #f3f3f3;
    display: block;
    height: auto;
    min-height: 40px;
    margin-bottom: 24px;
    border-radius: 5px;
  }
  
  table.mdm--table-responsive td {
    border-bottom: 1px solid #f3f3f3;
    display: block;
    height: auto;
    min-height: 40px;
    text-align: right!important;
  }
  
  .mdm--td-cell {
    display: inline;
    float: left;
    font-weight: bold;
  }

  table.mdm--table-responsive td:last-child {
    border-bottom: 0;
  }
}




.group {
  padding: 5px 10px;
  list-style: none;
  font-size: 16px;
  background-color: #f3f3f3;
  border-radius: 20px;
  display: inline-block;
  a {
    color: #333333;
  }
}
mat-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

mdm-settings .mat-checkbox-layout {
  white-space: normal;
}


#settings-container--left {
  @include respond-to($tablet) {
    display: none;
  }
}

#sidenav {
  #sidenav-content {
    .mat-menu-item.active {
      background-color: rgba(77, 114, 156, 0.1);
      color: #1157a9; 
      font-weight: 600;
    }
  }
}

#settings-container--left {
  .list-group-settings a.active {
    background-color: rgba(77, 114, 156, 0.1);
    color: #1157a9; 
    font-weight: 600;
  }
}


.mdm--profile-block {
  position: relative;
  > button {
    position: absolute; 
    top: 40px; 
    left: 12px; 
    background: #fff; 
    border-radius: 100%; 
    min-width: 40px;
  }
}