@import "../abstracts/variables";
@import "../theme/default/colors";

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
footer {
  flex-shrink: 0;
  height: 8rem;
}

.fullpage {
  margin-top:-24px;
  margin-bottom: -12px;

  padding: 24px $page-left-right-margin 12px;

  min-height: calc(100vh - 13rem) !important;
}

.background {
  background-color: $cultured;
}

.mat-tooltip {
  /* your own custom styles here */
  /* e.g. */
  background-color: $tooltip-background-color !important;
  color: $tooltip-foreground-color !important;
  border: 1px solid $tooltip-foreground-color !important;
  border-radius: 5px !important;
  font-size: 100% !important;
}