@import "../abstracts/variables";

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
footer {
  flex-shrink: 0;
}

.fullpage {
  margin-top:-24px;
  padding-top: 24px;

  margin-bottom: -12px;
  padding-bottom: 12px;

  padding-left: $page-left-right-margin;
  padding-right: $page-left-right-margin;

}

.background {
  background-color: $cultured;
}
