.bdi--hero-header {
  padding: 0 16px 24px 16px;
  h3:first-child {
    margin-top: 72px;
    @include respond-to($tablet) {
      margin-top: 0px;
    }
  }
  .bdi--hero-header__image {
    img {
      @include respond-to(960px) {
        width: 50%;
      }
    }
  }
}

.feature-icon {
  @include size(80px, 80px);
  border-radius: 100%;
  line-height: 5.6;
  display: inline-block;

  &.feature-icon--3 {
    background-color: rgba(234, 172, 48, 0.1);
    color: #eaac30;
  }
  &.feature-icon--2 {
    background-color: rgba(51, 122, 183, 0.1);
    color: #337ab7;
  }
  &.feature-icon--1 {
    background-color: rgba(10, 133, 53, 0.1);
    color: #0a8535;
  }
}


.flex-block > div {
  flex-basis: auto!important;
}