@import "colors";
@import "../../abstracts/variables";


button.primary, a.primary-button {
  padding: 7px 16px;
  @include respond-to($mobile-xs) {
    padding: 5px 16px;
  }
  &:hover {
    //background-color: lighten($button-secondary-color, 10%);
    background-color: $button-secondary-background-hover;
  }
  font-size: 100%;
  font-weight: 600 ;
  color: $button-secondary-background;
  background-color: $button-secondary-color;
  &[mat-stroked-button] {
    border: 1px solid $button-secondary-color;
  }
  @at-root .login-button {
    border: 1px solid $button-secondary-background !important;
  }
  @at-root .margin-left {
    margin-left: 1em;
  }
  @at-root .small {
    padding: 0.3em !important;
    font-size: 80%;
    line-height: 1.75rem;
    min-width: 2.5rem;
    margin-left: 0.25rem;
  }

}

button.secondary, a.secondary-button {
  padding: 7px 16px;
  @include respond-to($mobile-xs) {
    padding: 5px 16px;
  }
  &:hover {
    background-color: $button-secondary-background-hover;
  }
  color: $button-primary-background;
  background-color: $button-primary-color;
  &[mat-stroked-button] {
    border: 1px solid $button-primary-background;
  }
  @at-root .margin-left {
    margin-left: 1em;
  }

  @at-root .small {
    padding: 0.3em !important;
    font-size: 80%;
    line-height: 1.75rem;
    min-width: 2.5rem;
    margin-left: 0.25rem;
  }

}

