@import "colors";
@import "../../abstracts/variables";




button.primary, a.primary-button {
  padding: 7px 16px;
  @include respond-to($mobile-xs) {
    padding: 5px 16px;
  }
  &:hover {
    //background-color: lighten($button-secondary-color, 10%);
    background-color: $button-primary-background-hover;
  }
  font-size: 100%;
  font-weight: 600 ;
  color: $button-primary-color;
  background-color: $button-primary-background;
  &[mat-stroked-button] {
    border: 1px solid $button-primary-background;
  }
  @at-root .login-button {
    border: 1px solid $button-primary-color !important;
  }
}

button.small {
  padding: 0.3em !important;
  font-size: 80%;
  line-height: 1.75rem;
  min-width: 2.5rem;
  margin-left: 0.25rem;
  border-radius: 50%;

}
button.margin-left, a.margin-left {
  margin-left: 1rem !important;
}

button.margin-top, a.margin-top {
  margin-top: 1rem !important;
}


button.secondary, a.secondary-button {
  padding: 7px 16px;
  font-weight: 600 ;
  text-decoration: none;

  @include respond-to($mobile-xs) {
    padding: 5px 16px;
  }
  &:hover {
    background-color: $button-secondary-background-hover;
  }
  color: $button-secondary-color;
  background-color: $button-secondary-background;
  &[mat-stroked-button] {
    border: 1px solid $button-primary-background;
  }

}

button.modal-close {
  position: absolute;
  right: 0;
  top: 0;
  color: $button-delete-foreground !important;
  background-color: $button-delete-background !important;
  border-color: $button-delete-foreground !important;

  &:hover {
    color: $button-delete-background !important;
    background-color: $button-delete-foreground !important;

  }
}

