/* SCSS HEX */

/* These are the base colours we'll be using for the default palette */
$oxford-blue: #002147ff;
$old-lace: #fff4e5ff;
$steel-teal: #6c969dff;
$cultured: #f5f5f5ff;
$dark-liver: #5b4850ff;
$black: #212529;
$white: #FFF;
$ochre: #D17B0F;
$gold-metallic: #DEB841;

$blanched-almond: #ffeeca;
$khaki-web: #ceb992;
$y-in-mn-blue: #394d78;




/* This maps the default colours to some standard usage */
$primary-foreground-color: $black;
$primary-foreground-color-alternate: $oxford-blue;
$primary-background-color: $white;

$primary-selected-background-color: lighten($y-in-mn-blue, 40%);
$primary-selected-background-border: lighten($y-in-mn-blue, 20%);

$secondary-background-color: $oxford-blue;
$secondary-foreground-color: $white;
$secondary-background-color-highlight: lighten($oxford-blue, 10%);


$tertiary-background-color: $dark-liver;
$tertiary-foreground-color: $white;

$border-color: $black;

/* This defines how particular components use the standardised colour set */

$header-background-color: $secondary-background-color;
$header-foreground-color: $secondary-foreground-color;

$footer-background-color: $secondary-background-color;
$footer-foreground-color: $secondary-foreground-color;
$footer-border-color: $border-color;

$button-primary-background: $secondary-background-color;
$button-primary-color: $primary-background-color;

$button-secondary-background: $primary-background-color;
$button-secondary-background-hover: lighten($y-in-mn-blue, 40%);
$button-secondary-color: $secondary-background-color;


$menu-background: $blanched-almond;
$tab-ink-bar: $khaki-web;


$favourites-star-color: #ffcc11;

$finalised-foreground: darkgreen;
$finalised-background: #eeffee;

$draft-foreground: darkred;
$draft-background: #ffeeee;

$tooltip-background-color: $blanched-almond;
$tooltip-foreground-color: $primary-foreground-color-alternate;