/* SCSS HEX */

/* These are the base colours we'll be using for the default palette */
$oxford-blue: #002147ff;
$old-lace: #fff4e5ff;
$steel-teal: #6c969dff;
$cultured: #f5f5f5ff;
$dark-liver: #5b4850ff;
$black: #212529;
$white: #FFF;
$ochre: #D17B0F;
$gold-metallic: #DEB841;



/* This maps the default colours to some standard usage */
$primary-foreground-color: $black;
$primary-background-color: $white;

$primary-selected-background-color: lighten($steel-teal, 40%);
$primary-selected-background-border: lighten($steel-teal, 20%);

$secondary-background-color: $oxford-blue;
$secondary-foreground-color: $white;
$secondary-background-color-highlight: lighten($oxford-blue, 10%);


$tertiary-background-color: $dark-liver;
$tertiary-foreground-color: $white;

$border-color: $black;

/* This defines how particular components use the standardised colour set */

$header-background-color: $secondary-background-color;
$header-foreground-color: $secondary-foreground-color;

$footer-background-color: $secondary-background-color;
$footer-foreground-color: $secondary-foreground-color;
$footer-border-color: $border-color;

$button-primary-background: $secondary-background-color;
$button-primary-color: $primary-background-color;

$button-secondary-background: $primary-background-color;
$button-secondary-background-hover: $steel-teal;
$button-secondary-color: $secondary-background-color;


