@import "../style/abstracts/variables";
@import "../style/theme/default/colors";


.mat-tab-label {
  background-color: $primary-background-color;
  min-width: 8em;
  //padding: 0 16px;
  height: 3rem !important;
  opacity: 0.5;
  font-size: 100%;
  color: $primary-foreground-color;
  @at-root.mat-tab-label-active {
    opacity: 1 !important;
  }
}


.mat-tab-group {
  background-color: white;
}

.mat-ink-bar {
  background-color: $tab-ink-bar;
  height: 4px !important;
  bottom: 1px !important;
}

.mat-tab-header {
  border-bottom: 1px solid $primary-foreground-color;
  margin-left: -0.8rem;
  margin-right: -0.8rem;
  margin-top: -0.8rem;

  padding-left: 0.8rem;
  padding-right: 0.8rem;

}

.default-theme .mat-tab-label, .default-theme .mat-tab-link {
  font-size: 100% !important;
}
