<div class="form-group">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <span>
                How do you want to add new Data Class(s) to <span>
                    <element-link [parent-data-model]="{id:model.parent.dataModel}"
                                  [parent-data-class]="{id:model.parent.dataClass}"
                                  [new-window]="true"
                                  [element]="model.parent"></element-link>
                </span> ?
            </span>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="panel panel-default" style="margin-left: 10px;cursor: pointer;" (click)="selectCreateType('new')">
                <div class="panel-body">
                    <div>
                        <div>
                            <i style="margin:0px 3px 0px 10px;" class="fas fa-plus"></i>
                            <input type="radio"
                                   name="createType"
                                   [(ngModel)]="model.createType"
                                   [checked]="model.createType === 'new'"
                                   value="new"
                                   style="cursor: pointer">
                            <span style="cursor: pointer;">Create a New Data Class</span>
                            <div style="margin-left: 45px;">You can add label, description...</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="panel panel-default" style="margin-left: 10px;cursor: pointer;" (click)="selectCreateType('copy')">
                <div class="panel-body">
                    <div>
                        <div>
                            <i style="margin:0px 3px 0px 10px;" class="fas fa-copy"></i>
                            <input type="radio"
                                   name="createType"
                                   [(ngModel)]="model.createType"
                                   [checked]="model.createType === 'copy'"
                                   value="copy"
                                   style="cursor: pointer; z-index: 150">
                            <span style="cursor: pointer;">Copy Data Class(s) from...</span>
                            <div style="margin-left: 45px;">
                                <model-selector-tree [(on-select)]="onSelect"

                                                     [placeholder]="'Select Data Model...'"
                                                     [processing]="model.createType != 'copy'"
                                                     [do-not-show-data-classes]="true"
                                                     [(ng-model)]="model.copyFromDataModel"
                                                     [tree-search-domain-type]="'DataModel'"
                                                     (ngModelChange)="model.copyFromDataModel = $event"
                                                     [accepts]="['DataModel']">
                                </model-selector-tree>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
