$min-height: 24px;
$font-size: 12px;
$icon-height: 16px;

.mat-tree {
    .mat-tree-node {
        min-height: $min-height;
        height: $min-height;
        font-size: $font-size;
  
        .mat-icon-button {
            height: $min-height;
            width: $min-height;
            line-height: $min-height - 2;
        }
  
        .mat-tree-node-content {
            display: flex;
            align-items: center;
            padding-top: 2.5px;
    
            .mat-icon {
                height: $icon-height;
                width: $icon-height + 4;

                &.deleted-folder {
                    color: #aaaaaa;
                }
            }

            .mat-checkbox {
                margin-right: 5px;
            }
    
            span {
                cursor: pointer;
                user-select: none;
                padding: 0 5px;
                white-space: nowrap;
        
                &:hover {
                    background-color: #85b2ec;
                    border-radius: 5px;
                    color: #000000;
                }
        
                &.mat-tree-node-active {
                    background-color: #85b2ec;
                    color: #ffffff;
                    border-radius: 4px;
                }

                &.deleted {
                    text-decoration: line-through;
                    opacity: .6;
                }
            }
        }
    }
}
  
.tree-context-menu-item.mat-menu-item {
    height: 28px;
    line-height: 28px; 
}