<div class="form-group">


    <span>Please enter Data Model details:<i id="helpIcon" class="fas fa-info-circle" style="margin: 5px;" (click)="loadHelp()" matTooltipPosition="left" matTooltip="Help"></i></span>
    <form #myForm="ngForm" ngNativeValidate>

        <table class="table table-bordered dataModelDetailTable" ngModelGroup="model">
            <tbody>
                <tr>
                    <th class="detailsRowHeader  col-sx-2 col-sm-2 col-md-2">Folder *</th>
                    <td>
                        <element-link [show-type-title]="false"
                                      [new-window]="true"
                                      [element]="step.scope.parentFolder"></element-link>
                    </td>
                </tr>
                <tr>
                    <th class="detailsRowHeader  col-sx-2 col-sm-2 col-md-2">Label *</th>
                    <td>
                        <input type="text" class="form-control wizardInput" name="label" [(ngModel)]="model.label"
                               required="Name can not be Empty">
                    </td>
                </tr>

                <tr>
                    <th class="detailsRowHeader  col-sx-2 col-sm-2 col-md-2">Author *</th>
                    <td>
                        <input type="text" class="form-control wizardInput" name="author" [(ngModel)]="model.author"
                               required="Author can not be Empty">
                    </td>
                </tr>
                <tr>
                    <th class="detailsRowHeader col-sx-2 col-sm-2 col-md-2">Organisation *</th>
                    <td>
                        <input type="text" class="form-control wizardInput" name="organisation" [(ngModel)]="model.organisation"
                               required="Organisation can not be Empty">
                    </td>
                </tr>
                <tr>
                    <th class="detailsRowHeader col-md-2">Description</th>
                    <td>
                        <textarea type="text" class="form-control" name="description" [(ngModel)]="model.description"></textarea>
                    </td>
                </tr>

                <tr class="type">
                    <th class="detailsRowHeader col-sx-2 col-sm-2 col-md-2">Type *</th>
                    <td>
                        <mat-select class="form-control  wizardInput mcSelect" name="dataModelType" [(ngModel)]="model.dataModelType" required="DataModel Type can not be Empty">
                            <mat-option *ngFor="let option of allDataModelTypes" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-select>
                    </td>

                </tr>

                <tr class="type" *ngIf="model.dataModelType == 'Database'">
                    <th class="detailsRowHeader col-sx-2 col-sm-2 col-md-2">Database Dialect*</th>
                    <td>
                        <input type="text" class="form-control wizardInput" name="databaseDialect" [(ngModel)]="model.dialect"
                               required="Database Dialect can not be Empty">
                    </td>
                </tr>

                <tr>
                    <th class="detailsRowHeader  col-sx-2 col-sm-2 col-md-2">Classifications</th>
                    <td>
                        <app-element-classifications name="classifiers"  (classificationsChanged)="model.classifiers = $event" [editable-form]="{visible :true}"></app-element-classifications>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>