<mat-tab-group [selectedIndex]="activeTab.index" (selectedIndexChange)="tabSelected($event)" dynamicHeight dynamicWidth *ngIf="properties">
	<mat-tab label="Email template">
		<form name="form" (ngSubmit)="f.form.valid && Submit()" #f="ngForm" class="mdm--form mdm--form-configuration">
			<div class="mdm--form-input mdm--block">
				<h4 class="mat-h4">Site URL address</h4>
				<mat-form-field appearance="outline">
					<mat-label>Site URL</mat-label>
					<input matInput name="siteUrl" #siteUrl="ngModel" [(ngModel)]="properties['site.url']" placeholder="e.g. https://example.com" required>
					<mat-error *ngIf="siteUrl.invalid">
						Site URL is required
					</mat-error>
				</mat-form-field>
			</div>
			<div class="mdm--form-input mdm--block">
				<h4 class="mat-h4">From address</h4>
				<mat-form-field class="mdm--form-input" appearance="outline">
					<mat-label>Email address</mat-label>
					<input matInput type="email" name="fromAddress" [(ngModel)]="properties['email.from.address']" #fromAddress="ngModel" required>
					<mat-error *ngIf="fromAddress.invalid">
					Invalid email address
					</mat-error>
				</mat-form-field>
				<mat-form-field class="mdm--form-input" appearance="outline">
					<mat-label>Name of sender</mat-label>
					<input matInput type="email" name="fromName" [(ngModel)]="properties['email.from.name']" #fromName="ngModel" required>
					<mat-error *ngIf="fromName.invalid">
						Invalid name of sender
					</mat-error>
				</mat-form-field>
			</div>
			<div class="mdm--form-input mdm--block">
				<h4 class="mat-h4">Admin confirm user registration email</h4>
				<mat-form-field class="mdm--form-input" appearance="outline">
					<mat-label>Subject</mat-label>
					<input matInput name="adminConfirmSubject" [(ngModel)]="properties['email.admin_confirm_registration.subject']" #subject="ngModel" required>
					<mat-error *ngIf="subject.invalid">
						Subject content is required
					</mat-error>
				</mat-form-field>
				<mat-form-field class="mdm--form-input" appearance="outline">
					<mat-label>Body</mat-label>
					<textarea matInput name="adminConfirmBody" rows="9" [(ngModel)]="properties['email.admin_confirm_registration.body']" #adminConfirmBody="ngModel" required></textarea>
					<mat-error *ngIf="adminConfirmBody.invalid">
						Body content is required
					</mat-error>
				</mat-form-field>
			</div>
			<div class="mdm--form-input mdm--block">
				<h4 class="mat-h4">Admin registered user</h4>
				<mat-form-field class="mdm--form-input" appearance="outline">
					<mat-label>Subject</mat-label>
					<input matInput name="adminRegisterSubject" [(ngModel)]="properties['email.admin_register.subject']" #adminRegisterSubject="ngModel" required>
					<mat-error *ngIf="adminRegisterSubject.invalid">
						Subject content is required
					</mat-error>
				</mat-form-field>
				<mat-form-field class="mdm--form-input" appearance="outline">
					<mat-label>Body</mat-label>
					<textarea matInput name="adminRegisterBody" rows="9" [(ngModel)]="properties['email.admin_register.body']" required #adminRegisterBody="ngModel"></textarea>
					<mat-error *ngIf="adminRegisterBody.invalid">
						Body content is required
					</mat-error>
				</mat-form-field>
			</div>
			<div class="mdm--form-input mdm--block">
				<h4 class="mat-h4">User invited to edit</h4>
				<mat-form-field class="mdm--form-input" appearance="outline">
					<mat-label>Subject</mat-label>
					<input matInput name="inviteEditSubject" [(ngModel)]="properties['email.invite_edit.subject']" #inviteEditSubject="ngModel" required>
					<mat-error *ngIf="inviteEditSubject.invalid">
						Subject content is required
					</mat-error>
				</mat-form-field>
				<mat-form-field class="mdm--form-input" appearance="outline">
					<mat-label>Body</mat-label>
					<textarea matInput name="inviteEditBody" rows="9" [(ngModel)]="properties['email.invite_edit.body']" required #inviteEditBody="ngModel"></textarea>
					<mat-error *ngIf="inviteEditBody.invalid">
						Body content is required
					</mat-error>
				</mat-form-field>
			</div>
			<div class="mdm--form-input mdm--block">
				<h4 class="mat-h4">User invited to view</h4>
				<mat-form-field class="mdm--form-input" appearance="outline">
					<mat-label>Subject</mat-label>
					<input matInput name="inviteViewSubject" [(ngModel)]="properties['email.invite_view.subject']" #inviteViewSubject="ngModel" required>
					<mat-error *ngIf="inviteViewSubject.invalid">
						Subject content is required
					</mat-error>
				</mat-form-field>
				<mat-form-field class="mdm--form-input" appearance="outline">
					<mat-label>Body</mat-label>
					<textarea matInput name="inviteViewBody" rows="9" [(ngModel)]="properties['email.invite_view.body']" #inviteViewBody="ngModel" required></textarea>
					<mat-error *ngIf="inviteViewBody.invalid">
						Body content is required
					</mat-error>
				</mat-form-field>
			</div>
			<div class="mdm--form-input mdm--block">
				<h4 class="mat-h4">User self registered</h4>
				<mat-form-field class="mdm--form-input" appearance="outline">
					<mat-label>Subject</mat-label>
					<input matInput name="selfRegisterSubject" [(ngModel)]="properties['email.self_register.subject']" #selfRegisterSubject="ngModel" required>
					<mat-error *ngIf="selfRegisterSubject.invalid">
						Subject content is required
					</mat-error>
				</mat-form-field>
				<mat-form-field class="mdm--form-input" appearance="outline">
					<mat-label>Body</mat-label>
					<textarea matInput name="selfRegisterBody" rows="9" [(ngModel)]="properties['email.self_register.body']" #selfRegisterBody="ngModel" required></textarea>
					<mat-error *ngIf="selfRegisterBody.invalid">
						Body content is required
					</mat-error>
				</mat-form-field>
			</div>
			<div class="mdm--form-input mdm--block">
				<h4 class="mat-h4">Forgotten password</h4>
				<mat-form-field class="mdm--form-input" appearance="outline">
					<mat-label>Subject</mat-label>
					<input matInput name="forgottenPasswordSubject" [(ngModel)]="properties['email.forgotten_password.subject']" #forgottenPasswordSubject="ngModel" required>
					<mat-error *ngIf="forgottenPasswordSubject.invalid">
						Subject content is required
					</mat-error>
				</mat-form-field>
				<mat-form-field class="mdm--form-input" appearance="outline">
					<mat-label>Body</mat-label>
					<textarea matInput name="forgottenPasswordBody" rows="9" [(ngModel)]="properties['email.forgotten_password.body']" #forgottenPasswordBody="ngModel" required></textarea>
					<mat-error *ngIf="forgottenPasswordBody.invalid">
						Body content is required
					</mat-error>
				</mat-form-field>
			</div>
			<div class="mdm--form-input mdm--block">
				<h4 class="mat-h4">Reset password</h4>
				<mat-form-field class="mdm--form-input" appearance="outline">
					<mat-label>Subject</mat-label>
					<input matInput name="resetPasswordSubject" [(ngModel)]="properties['email.password_reset.subject']" #resetPasswordSubject="ngModel" required>
					<mat-error *ngIf="resetPasswordSubject.invalid">
						Subject content is required
					</mat-error>
				</mat-form-field>
				<mat-form-field class="mdm--form-input" appearance="outline">
					<mat-label>Body</mat-label>
					<textarea matInput name="resetPasswordBody" rows="9" [(ngModel)]="properties['email.password_reset.body']" #resetPasswordBody="ngModel" required></textarea>
					<mat-error *ngIf="resetPasswordBody.invalid">
						Body content is required
					</mat-error>
				</mat-form-field>
				<button mat-flat-button class="custom save-email-config" color="primary">
					Save email configuration
				</button>
			</div>
		</form>
	</mat-tab>

	<mat-tab label="Lucene">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<h4>Lucene Index</h4>
				<p>Please press the following button to rebuild Lucene Search Index.</p>
				<p>
					While reindexing in in progress, some functionalities such as search might not work as expected.
					<br>Once it is complete, you will be notified in this page.
					<br>Please be patient and don't leave this page while reindexing is in progress.
				</p>
				<!-- <input ng-disabled="indexingStatus == 'start'" type="button" class="btn btn-primary"
					(click)="rebuildIndex()" value="Rebuild Index" /> -->
				<button mat-flat-button class="custom" color="primary" ng-disabled="indexingStatus == 'start'"
					(click)="rebuildIndex()">Rebuild index</button>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="text-align: center;">
				<div *ngIf="indexingStatus == 'start'" style="text-align: center;">
					<div style="margin-left: 40%">
						<mat-progress-spinner color="primary" mode="indeterminate">
						</mat-progress-spinner>
					</div>
					<div>
						<p>
							MetadataCatalogue is rebuilding indices.<br>Please wait...
						</p>
					</div>
				</div>
				<div *ngIf="indexingStatus == 'success'">
					<div style="margin-left: 30%">
						<p class="rebuildingIndexSuccess">
							<i class="fas fa-check"></i>
						</p>
					</div>
					<div style="margin-left: 35%; font-weight: bold;">
						<p>Successfully ReIndexed {{indexingTime}}</p>
					</div>
				</div>
				<div *ngIf="indexingStatus == 'error'">
					<div style="margin-left: 30%">
						<p class="rebuildingIndexError">
							<i class="fas fa-times"></i>
						</p>
					</div>
					<div style="margin-left: 35%">
						<p>Error in indexing process!</p>
					</div>
				</div>
			</div>
		</div>
	</mat-tab>
</mat-tab-group>
