<div class="mcTableMain">
    <div class="mcTableTitle">
        <span class="title">Attachments<span class="badge element-count ng-binding" style="margin: 0px 3px; display: inline;" aria-hidden="false">{{totalItemCount}}</span><i class="fa fa-filter themeColor" (click)="filterClick()" style="cursor: pointer;margin-left: 2px;"></i> </span>
        <div class="btn-group-xs" style="float: right; margin-top: -2px; margin-left: 9px;">
            <button type="button" matTooltip="Add Comment" class="btn btn-xs btn-default addNewModelButton themeColor" (click)="add()" *ngIf="access && access.showEdit">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <div class="mcTableContainer">
        <table mat-table matSort [dataSource]="records" class="table table-condensed table-bordered mcTable">
            <ng-container matColumnDef="fileName">
                <th *matHeaderCellDef mat-sort-header style="cursor:pointer;max-width: 50%;width: 50%;" columnName="fileName">
                    <span [hidden]="!hideFilters">File Name</span>
                    <div [hidden]="hideFilters">
                        <mat-form-field class="filter" floatLabel="never">
                            <mat-label>Description</mat-label>
                            <input #filters matInput name="description" (keyup)="applyFilter()">
                        </mat-form-field>
                    </div>
                </th>
                <td *matCellDef="let record;  let i = index " mat-cell style="max-width: 50%; width: 50%; text-align: left; word-wrap: break-word;">
                    <div *ngIf="!record.inEdit">
                        <div>
                            <a href="{{download(record)}}">{{record.fileName}}</a>
                        </div>
                    </div>
                    <div *ngIf="record.isNew">
                        <div style="width:100%;">
                            <form>
                                <input type="file" name="pic" id="File{{i}}" class="form-control" id="file">
                            </form>
                        </div>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="fileSize">
                <th *matHeaderCellDef mat-sort-header style="cursor:pointer;max-width: 20%;width: 20%;" columnName="fileSize">Size</th>
                <td *matCellDef="let record;  let i = index " mat-cell style="max-width: 20%; width: 20%; text-align: left; word-wrap: break-word;">
                    <div *ngIf="!record.inEdit">
                        {{record.fileSize | fileSize}}
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="lastUpdated">
                <th *matHeaderCellDef mat-sort-header style="cursor:pointer;max-width: 20%;width: 20%;" columnName="lastUpdated">Uploaded</th>
                <td *matCellDef="let record;  let i = index " mat-cell style="max-width: 20%; width: 20%; text-align: left; word-wrap: break-word;">
                    <div *ngIf="!record.inEdit">
                        {{record.lastUpdated  | date:"dd/MM/yyyy h:mm a" }}
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="other">
                <th *matHeaderCellDef mat-sort-header style="cursor:pointer;max-width: 10%;width: 10%;" columnName="other"></th>
                <td *matCellDef="let record;  let i = index " mat-cell style="max-width: 10%; width: 10%; text-align: left; word-wrap: break-word;">
                    <div *ngIf="access && access.showEdit">
                        <table-buttons [record]="record" [index]="i" (save)="save($event[0],$event[1])" (delete)="delete($event[0])" [hide-edit]="true"></table-buttons>
                    </div>
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns" style="height: auto;" class="mcTableHeader"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="height: auto"></tr>

        </table>
        
        <mat-card *ngIf="isLoadingResults"
                  style="height:100%; width:100%; background-color:rgba(0, 0, 0, 0.286); z-index:10; position: fixed; display: flex; justify-content: center; align-items: center">
            <mat-progress-spinner color="primary"
                                  mode="indeterminate">
            </mat-progress-spinner>
        </mat-card>
    </div>
    
    <div class="d-flex justify-content-between p-2">
        <mat-paginator [pageSizeOptions]="[5, 10, 20,50]" [pageSize]="20" [length]="totalItemCount" showFirstLastButtons></mat-paginator>
    </div>
</div>