<div class="heading-container">
	<h4>There are {{totalItemCount}} users in this repository waiting for your approval. </h4>
</div>

<div class="mcTableContainer">
	<table mat-table [dataSource]="dataSource" matSort class="mdm--table table table-borderless table-striped table-responsive">
		<ng-container matColumnDef="emailAddress">
			<th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="!hideFilters" style="cursor: pointer; max-width: 26%; width: 26%;" columnName="emailAddress">
				<span [hidden]="!hideFilters">Email</span>
				<div [hidden]="hideFilters">
					<mat-form-field class="filter" floatLabel="never">
						<mat-label>To</mat-label>
						<input #filters matInput name="emailAddress" (keyup)="applyFilter()">
					</mat-form-field>
				</div>
			</th>
			<td mat-cell *matCellDef="let record" style="max-width: 26%; width: 26%; text-align: left; word-wrap: break-word;">
				<span>{{record.emailAddress}}</span>
			</td>
		</ng-container>
		<ng-container matColumnDef="firstName">
			<th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="!hideFilters" style="cursor: pointer; max-width: 26%; width: 26%;" columnName="firstName">
				<span [hidden]="!hideFilters">First Name</span>
			</th>
			<td mat-cell *matCellDef="let record" style="max-width: 26%; width: 26%; text-align: left; word-wrap: break-word;">
				<span>{{record.firstName}}</span>
			</td>
		</ng-container>
		<ng-container matColumnDef="lastName">
			<th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="!hideFilters" style="cursor: pointer; max-width: 26%; width: 26%;" columnName="lastName">
				<span [hidden]="!hideFilters">Last Name</span>
				<div [hidden]="hideFilters">
					<mat-form-field class="filter" floatLabel="never">
						<mat-label>Last Name</mat-label>
						<input #filters matInput name="body" (keyup)="applyFilter()">
					</mat-form-field>
				</div>
			</th>
			<td mat-cell *matCellDef="let record" style="max-width: 26%; width: 26%; text-align: left; word-wrap: break-word;">
				<span>{{record.lastName}}</span>
			</td>
		</ng-container>
		<ng-container matColumnDef="organisation">
			<th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="!hideFilters" style="cursor: pointer; max-width: 26%; width: 26%;" columnName="organisation">
				<span [hidden]="!hideFilters">Organisation</span>
			</th>
			<td mat-cell *matCellDef="let record" style="max-width: 26%; width: 26%; text-align: left; word-wrap: break-word;">
				<span>{{record.organisation}}</span>
			</td>
		</ng-container>
		<ng-container matColumnDef="empty">
			<th mat-header-cell *matHeaderCellDef style="cursor: pointer; max-width: 4%; width: 4%;" columnName="organisation">
				<span [hidden]="!hideFilters"></span>
			</th>
			<td mat-cell *matCellDef="let record" style="max-width: 4%; width: 4%; text-align: left; word-wrap: break-word;">
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let record; columns: displayedColumns;"></tr>

	</table>
</div>

<div>
	<mat-paginator [pageSizeOptions]="[5, 10, 20,50]" [pageSize]="20" [length]="totalItemCount" showFirstLastButtons></mat-paginator>
</div>