<div class="mdm--shadow-block">
	<div class="heading-container">
    <h4 [ngPlural]="totalItemCount" class="marginless">
      <ng-template ngPluralCase="=1">
        There is <span class="mdm--badge mdm--element-count">1</span> user in this repository waiting for your approval.
      </ng-template>
      <ng-template ngPluralCase="other">
        There are <span class="mdm--badge mdm--element-count">{{totalItemCount}}</span> users in this repository waiting for your approval.
      </ng-template>
    </h4>
	</div>

	<div *ngIf="totalItemCount > 0">
		<table mat-table [dataSource]="dataSource" matSort class="mdm--table mdm--table-responsive table table-borderless table-striped">
			<ng-container matColumnDef="firstName">
				<th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="!hideFilters" style="cursor: pointer;" columnName="firstName">
					<span [hidden]="!hideFilters">First Name</span>
				</th>
				<td mat-cell *matCellDef="let record" style="text-align: left; word-wrap: break-word;">
					<div class="mdm--td-cell">First name</div>
					<span>{{record.firstName}}</span>
				</td>
			</ng-container>
			<ng-container matColumnDef="lastName">
				<th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="!hideFilters" style="cursor: pointer;" columnName="lastName">
					<span [hidden]="!hideFilters">Last Name</span>
					<div [hidden]="hideFilters">
						<mat-form-field class="filter" floatLabel="never">
							<mat-label>Last Name</mat-label>
							<input #filters matInput name="body" (keyup)="applyFilter()">
						</mat-form-field>
					</div>
				</th>
				<td mat-cell *matCellDef="let record" style="text-align: left; word-wrap: break-word;">
					<div class="mdm--td-cell">Last name</div>
					<span>{{record.lastName}}</span>
				</td>
			</ng-container>
			<ng-container matColumnDef="emailAddress">
				<th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="!hideFilters" style="cursor: pointer;" columnName="emailAddress">
					<span [hidden]="!hideFilters">Email</span>
					<div [hidden]="hideFilters">
						<mat-form-field class="filter" floatLabel="never">
							<mat-label>To</mat-label>
							<input #filters matInput name="emailAddress" (keyup)="applyFilter()">
						</mat-form-field>
					</div>
				</th>
				<td mat-cell *matCellDef="let record" style="text-align: left; word-wrap: break-word;">
					<div class="mdm--td-cell">Email</div>
					<span>{{record.emailAddress}}</span>
				</td>
			</ng-container>
			<ng-container matColumnDef="organisation">
				<th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="!hideFilters" style="cursor: pointer;" columnName="organisation">
					<span [hidden]="!hideFilters">Organisation</span>
				</th>
				<td mat-cell *matCellDef="let record" style=" text-align: left; word-wrap: break-word;">
					<div class="mdm--td-cell">Organisation</div>
					<span>{{record.organisation}}</span>
				</td>
			</ng-container>
			<!-- TO DO -->
			<!-- <ng-container matColumnDef="empty">
				<th mat-header-cell *matHeaderCellDef style="cursor: pointer;" columnName="organisation">
					<span [hidden]="!hideFilters"></span>
				</th>
				<td mat-cell *matCellDef="let record" style="text-align: left; word-wrap: break-word;"></td>
			</ng-container> -->

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let record; columns: displayedColumns;"></tr>
		</table>

		<div class="mdm--mat-pagination" *ngIf="totalItemCount > 5">
			<mat-paginator [pageSizeOptions]="[5, 10, 20,50]" [pageSize]="20" [length]="totalItemCount" showFirstLastButtons></mat-paginator>
		</div>
  </div>
  <div *ngIf="!totalItemCount" class="pxy-2 bordered">
    <p class="mt-2">There are no pending users in this repository.</p>
  </div>

</div>
