<table
  class="table table-bordered mdm--table-fixed"
>
  <tbody>
    <tr>
      <td class="detailsRowHeader">Aliases</td>
      <td>
        <mdm-element-alias
          *ngIf="catalogueItem"
          [aliases]="catalogueItem.aliases"
          [property]="'aliases'"
          [readOnly]="true"
        >
        </mdm-element-alias>
      </td>
    </tr>
    <tr>
      <td class="detailsRowHeader">Author</td>
      <td *ngIf="catalogueItem">
        <mdm-inline-text-edit
          [readOnly]="true"
          [(ngModel)]="catalogueItem.author"
          [name]="'moduleNameAuthor'"
          size="20"
          [styleCss]="'dataModelDetailsLabel'"
        >
        </mdm-inline-text-edit>
      </td>
    </tr>
    <tr>
      <td class="detailsRowHeader">Organisation</td>
      <td *ngIf="catalogueItem">
        <mdm-inline-text-edit
          [readOnly]="true"
          [(ngModel)]="catalogueItem.organisation"
          [name]="'moduleNameOrganisation'"
          size="20"
          [styleCss]="'dataModelDetailsLabel'"
        >
        </mdm-inline-text-edit>
      </td>
    </tr>
    <tr>
      <td class="detailsRowHeader">Description</td>
      <td class="elementDetailDescription">
        <div *ngIf="catalogueItem">
          <mdm-content-editor
            [(description)]="catalogueItem.description"
            [inEditMode]="false"
          ></mdm-content-editor>
        </div>
      </td>
    </tr>
    <tr>
      <td class="detailsRowHeader">Classifications</td>
      <td *ngIf="catalogueItem">
        <mdm-element-classifications
          [classifications]="catalogueItem.classifiers"
          [element]="catalogueItem"
          [property]="'classifiers'"
          [readOnly]="true"
        ></mdm-element-classifications>
      </td>
    </tr>
  </tbody>
</table>
