<div class="leftTab">
    <div class="container-inner">
        <mat-tab-group [selectedIndex]="activeTab" (selectedIndexChange)="tabSelected($event)">
            <mat-tab>
                <ng-template mat-tab-label>
                    <i class="fas fa-sitemap"></i>&nbsp; Models
                </ng-template>
                <div style="margin-top: 2px;">
                    <div style="position: relative;">
                        <div style="float: left;" class="full-width">
                            <div class="input-group">
                                <input type="search" class="form-control outlined-input" [(ngModel)]="formData.filterCriteria" [disabled]="levels.current === 1" placeholder="Search models..." (keyup)="onSearchInputKeyDown($event)">

                                <span class="tree-top-actions">

                                    <button type="button" mat-stroked-button [disabled]="levels.current === 1" matTooltipPosition="below" matTooltip="Search" (click)="search()" aria-label="Search">
                                        <i class="fas fa-search"></i>
                                    </button>

                                    <button type="button" mat-stroked-button [matMenuTriggerFor]="filterMenu" *ngIf="isLoggedIn()" matTooltipPosition="below" matTooltip="Filters" [disabled]="levels.current === 1" (click)="toggleFilterMenu()" aria-label="Filter">
                                        <i class="fas fa-filter" [ngClass]="{'':!showFilters, 'filterIcon':showFilters}"></i>
                                    </button>
                                    <mat-menu #filterMenu="matMenu" class="filterMenu">
                                        <div mat-menu-item>
                                            <mat-checkbox name="showSupersededModels" (ngModelChange)="toggleFilters('showSupersededModels')" [(ngModel)]="showSupersededModels">
                                                Show Superseded Data Models
                                            </mat-checkbox>
                                        </div>
                                        <div *ngIf="isAdmin" mat-menu-item>
                                            <mat-checkbox name="showDeletedModels" (ngModelChange)="toggleFilters('showDeletedModels')" [(ngModel)]="showDeletedModels">
                                                Show Deleted Data Models
                                            </mat-checkbox>
                                        </div>
                                    </mat-menu>

                                    <button type="button" mat-stroked-button *ngIf="isLoggedIn()" matTooltipPosition="below" matTooltip="Reload Data Models Tree" [disabled]="levels.current === 1" (click)="reloadTree()" aria-label="Reload data models tree">
                                        <i class="fas fa-sync-alt"></i>
                                    </button>

                                    <button type="button" mat-stroked-button [mdmShowIfRoleIsWritable] matTooltipPosition="below" matTooltip="Export DataModel(s)" (click)="changeState('datamodelsexport')" aria-label="Export data model(s)">
                                        <i class="fas fa-download"></i>
                                    </button>

                                    <button type="button" mat-stroked-button [mdmShowIfRoleIsWritable] matTooltipPosition="below" matTooltip="Import a DataModel from JSON, SQL,..." (click)="changeState('import')" aria-label="Import a data model">
                                        <i class="fas fa-upload"></i>
                                    </button>

                                    <button type="button" mat-stroked-button [mdmShowIfRoleIsWritable] matTooltipPosition="below" matTooltip="Create a new Folder" [disabled]="levels.current === 1" (click)="onAddFolder()">
                                        <i class="fas fa-folder-plus"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="width:100%; clear:left;height: calc(100vh - 168px);overflow-y: scroll">

                    <div style="margin:3px 0px 0px 0px" *ngIf="filteredModels && filteredModels.children && filteredModels.children.length!=0">
                        <button mat-button
                                color="primary"
                                type="button"
                                class="paddingless"
                                matTooltip="Previous level"
                                aria-label="Previous level"
                                [disabled]="levels.current === 0"
                                (click)="levels.folders()">
                            <i class="fas fa-arrow-left"></i>
                        </button>

                        <button mat-button
                                color="primary"
                                type="button"
                                class="paddingless"
                                matTooltip="Next level"
                                aria-label="Next level"
                                [disabled]="(levels.current === 0 && !levels.currentFocusedElement) || levels.current === 1"
                                (click)="levels.focusedElement()">
                            <i class="fas fa-arrow-right"></i>
                        </button>
                    </div>



                    <div *ngIf="filteredModels && !reloading">
                        <mdm-folders-tree [inSearchMode]="inSearchMode"
                                        [rememberExpandedStates]="true"
                                        [node]="filteredModels"
                                        [searchCriteria]="searchText"
                                        (compareToEvent)="onCompareTo"
                                        (loadModelsToCompareEvent)="loadModelsToCompare"
                                        [enableDrag]="true"
                                        [enableDrop]="true"
                                        [enableContextMenu]="true"
                                        (addFolderEvent)="onAddFolder"
                                        (deleteFolderEvent)="onDeleteFolder"
                                        (addDataModelEvent)="onAddDataModel"
                                        (addCodeSetEvent)="onAddCodeSet"
                                        (addChildDataClassEvent)="onAddChildDataClass"
                                        (addChildDataElementEvent)="onAddChildDataElement"
                                        (addChildDataTypeEvent)="onAddChildDataType"
                                        (nodeDbClickEvent)="onNodeDbClick($event)"
                                        (nodeClickEvent)="onNodeClick($event)"></mdm-folders-tree>
                    </div>
                    <div class="loading-spinner" *ngIf="reloading">
                        <div>
                            <i class="fas fa-sync-alt fa-spin"></i>
                        </div>
                    </div>

                    <div *ngIf="filteredModels && filteredModels.children && filteredModels.children.length==0">
                        <div *ngIf="!isLoggedIn()">
                            <div class="noDataModel">
                                <div class="title">
                                    There are no Data Models to display publicly.
                                </div>
                                <div class="content">
                                    * Please login or register to view Data Models.
                                </div>
                            </div>

                        </div>
                        <div *ngIf="isLoggedIn()">
                            <div class="noDataModel">
                                <div class="title">
                                    There are no Data Models to display.
                                </div>
                                <div class="content">
                                    Please ask Administrator (or Data Model owner) to grant you access.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <i class="fas fa-tags"></i>&nbsp; Classifications
                </ng-template>
                <div style="margin-top: 2px;">
                    <div>
                        <div style="float: left;" class="full-width">
                            <div class="input-group">
                                <input type="text" class="form-control outlined-input" [(ngModel)]="formData.ClassificationFilterCriteria" placeholder="Search classifications..." (ngModelChange)="filterClassifications()">
                                <span class="tree-top-actions">
                                    <button type="button" mat-stroked-button matTooltipPosition="below" matTooltip="Search"  (click)="filterClassifications()" aria-label="Search">
                                        <i class="fas fa-search"></i>
                                    </button>
                                    <button type="button" mat-stroked-button show-if-role-is-writable matTooltipPosition="below" matTooltip="Create a new Classification"  (click)="addClassifier()" aria-label="Create a new classification">
                                        <i class="fas fa-folder-plus"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="treeHolder" style="width:100%; clear:left;height: calc(80vh - 50px);overflow-y: scroll">
                    <mdm-folders-tree *ngIf="classifiers" [treeName]="'Classifiers'" [searchCriteria]="formData.ClassificationFilterCriteria" [rememberExpandedStates]="true" [node]="classifiers" (nodeClickEvent)="classifierTreeOnSelect($event)"></mdm-folders-tree>
                    <div *ngIf="allClassifiers && allClassifiers.length==0">
                        <div *ngIf="!isLoggedIn()">
                            <div class="noClassification">
                                <div class="title">
                                    There are no Classifications to display publicly.
                                </div>
                                <div class="content">
                                    * Please login or register to view Classifications.
                                </div>
                            </div>
                        </div>
                        <div *ngIf="isLoggedIn()">
                            <div class="noClassification">
                                <div class="title">
                                    There are no Classifications to display.
                                </div>
                                <div class="content">
                                    Please ask Administrator (or Classification owner) to grant you access.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>

            <mat-tab *ngIf="isLoggedIn()">
                <ng-template mat-tab-label>
                    <i class="fas fa-star"></i> &nbsp; Favourite
                </ng-template>
                <div class="treeHolder" style="width: 100%; clear: left; height: calc(80vh - 0px); overflow-y: scroll" *ngIf="currentTab === 'favourites'">
                    <mdm-favourites (favouriteDbClick)="onFavouriteDbClick($event)" (favouriteClick)="onFavouriteClick($event)"></mdm-favourites>
                </div>
            </mat-tab>

        </mat-tab-group>
    </div>
</div>
