<div class="mcTableMain">
    <div class="mcTableTitle">
        <span class="title">Summary Metadata <span class="badge element-count ng-binding" style="margin: 0px 3px; display: inline;" aria-hidden="false">{{totalItemCount}}</span>   <i class="fas fa-filter" (click)="filterClick()" style="cursor: pointer;margin-left: 2px;"></i> </span>
    </div>

    <div class="mcTableContainer">
        <table mat-table matSort [dataSource]="records" class="table table-bordered">
            <ng-container matColumnDef="namespace">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="cursor:pointer;max-width: 40%;width: 40%;">
                    <span [hidden]="!hideFilters">Namespace</span>
                    <div [hidden]="hideFilters">
                        <mat-form-field class="filter" floatLabel="never">
                            <mat-label>Namespace</mat-label>
                            <input #filters matInput name="namespace" (keyup)="applyFilter()">
                        </mat-form-field>
                    </div>
                </th>
                <td mat-cell *matCellDef="let record" style="max-width: 40%; width: 40%; text-align: left; word-wrap: break-word;">
                    <div>{{record.name}}</div>
                    <div>{{record.description}}</div>
                </td>
            </ng-container>
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef style="cursor:pointer;max-width: 65%;width: 65%; font-weight: 700; color: black"  columnName="description">
                    Description
                </th>
                <td  *matCellDef="let record" style="max-width: 65%;width: 65%;text-align: left;word-wrap: break-word;">
                    <div *ngIf="record.summaryMetadataType === 'map'">
                        <mdm-summary-metadata-map [summary]="record" [chartType]="'bar'"  [showMoreDetailsBtn]="true"></mdm-summary-metadata-map>
                    </div>

                    <div *ngIf="record.summaryMetadataType === 'number' ">
                        <mdm-summary-metadata-map [summary]="record" [chartType]="'line'"  [showMoreDetailsBtn]="true"></mdm-summary-metadata-map>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
    </div>

    <mat-card *ngIf="isLoadingResults"
              style="display: flex; justify-content: center; align-items: center">
        <mat-progress-spinner
            color="primary"
            mode="indeterminate">
        </mat-progress-spinner>
    </mat-card>

    <div class="d-flex justify-content-between p-2">
        <mat-paginator [pageSizeOptions]="[5, 10, 20,50]" [pageSize]="20" [length]="totalItemCount" showFirstLastButtons></mat-paginator>
    </div>
</div>
