<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <mat-vertical-stepper #stepper (selectionChange)="fireChanged($event)" >
            <mat-step *ngFor="let step of steps; let i = index">
                <ng-template matStepLabel>{{step.title}}</ng-template>
                <mdm-dcl-wrapper [type]="step.component" [step]="steps[i]"></mdm-dcl-wrapper>
                <div class="row">
                    <div class="col-xs-5 col-sm-5 col-md-6 col-lg-5">
                        <button mat-stroked-button color="primary" class="custom" *ngIf="i !== 0" style="margin-right: 8px" matStepperPrevious>
                            <span class="fas fa-chevron-left"></span>
                            Previous step
                        </button>
                    </div>

                    <div class="col-xs-5 col-sm-5 col-md-6 col-lg-5" style="text-align: right">
                        <button mat-button color="warn" (click)="cancelWizard()">
                            Cancel
                        </button>
                        <button mat-stroked-button color="primary" class="custom" *ngIf="(i+1) !== steps.length" matStepperNext>
                            Next step
                            <span class="fas fa-chevron-right"></span>
                        </button>
                        <button mat-flat-button color="primary" class="custom" *ngIf="(i+1) === steps.length" [disabled]="step.invalid || isProcessComplete"  (click)="save()">Submit Data Element</button>
                    </div>
                </div>
            </mat-step>
        </mat-vertical-stepper>
    </div>
</div>
