<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <mat-horizontal-stepper #stepper (selectionChange)="fireChanged($event)">
            <mat-step *ngFor="let step of steps; let i = index">
                <ng-template matStepLabel>{{step.title}}</ng-template>
                <mdm-dcl-wrapper [type]="step.component" [step]="steps[i]"></mdm-dcl-wrapper>
                <div class="row">
                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                        <button class="btn btn-default btn-sm" style="margin-right: 5px" matStepperPrevious>
                            <span class="fas fa-chevron-left"></span>
                            Previous
                        </button>
                        <button class="btn btn-default btn-sm" (click)="cancelWizard()">
                            Cancel
                        </button>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="text-align: center">
                        <strong>{{(i+1)}} / {{steps.length}}</strong>
                    </div>

                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5" style="text-align: right">
                        <button class="btn btn-default btn-sm" *ngIf="(i+1) !== steps.length" matStepperNext [disabled]="step.invalid">
                            Next
                            <span class="fa fa-chevron-right"></span>
                        </button>
                        <button class="btn btn-success btn-sm" *ngIf="(i+1) === steps.length" [disabled]="step.invalid || isProcessComplete"  (click)="save()">Submit</button>
                    </div>
                </div>
            </mat-step>
        </mat-horizontal-stepper>
    </div>
</div>
