<mat-vertical-stepper #stepper (selectionChange)="fireChanged($event)">
    <mat-step *ngFor="let stp of steps; let i = index">
        <ng-template matStepLabel>{{stp.title}}</ng-template>
        <mdm-dcl-wrapper [type]="stp.component" [step]="steps[i]"></mdm-dcl-wrapper>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <button mat-stroked-button color="primary" class="custom" *ngIf="i !== 0" style="margin-right: 8px" matStepperPrevious>
                    <i class="fas fa-chevron-left"></i>
                    Previous step
                </button>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="text-align: right">
                <button mat-button color="warn" (click)="cancelWizard()">
                    Cancel
                </button>
                <button mat-stroked-button color="primary" class="custom" *ngIf="(i+1) !== steps.length" matStepperNext>
                    Next step
                    <i class="fas fa-chevron-right"></i>
                </button>
                <button mat-flat-button color="primary" class="custom" *ngIf="(i+1) === steps.length" [disabled]="stp.invalid || isProcessComplete"  (click)="save()">Submit Data Element</button>
            </div>
        </div>
    </mat-step>
</mat-vertical-stepper>
