
<div>
    <div ng-if="model.createType == 'new'">
        <div class="form-group">
            <form name="detailForm" style="width: 100%; table-layout:fixed;">

                <label>Please enter Data Element details:</label>
                </b>

                <table class="table table-bordered table-condensed dataModelDetailTable">
                    <tbody>
                    <tr>
                        <th class="detailsRowHeader col-sx-2 col-sm-2 col-md-2">Parent<br>Data Class</th>
                        <td>
                            <model-path path="model.parent.breadcrumbs"></model-path>
                        </td>
                    </tr>

                    <tr>
                        <th class="detailsRowHeader col-sx-2 col-sm-2 col-md-2">Label *</th>
                        <td>
                            <input type="text"
                                   class="form-control  wizardInput"
                                   name="label"
                                   id="label"
                                   ng-model="model.label"
                                   required="Name can not be Empty">
                        </td>
                    </tr>
                    <tr>
                        <th class="detailsRowHeader col-md-2">Description</th>
                        <td>
                    <textarea type="text" class="form-control" id="description"
                              ng-model="model.description"></textarea>
                        </td>
                    </tr>
                    <tr class="parent">
                        <th class="detailsRowHeader col-sx-2 col-sm-2 col-md-2">Multiplicity</th>
                        <td>
                            <div>
                                <div style="width: 10%; padding-left: 0px !important; float: left">
                                    <span for="minMultiplicity">Min</span>
                                    <input type="text"
                                           class="form-control wizardInput"
                                           ng-style="multiplicityError? {'border': '1px solid #a94442'} :''"
                                           id="minMultiplicity"
                                           ng-model="model.minMultiplicity">
                                </div>
                                <div style="width: 10%; margin-left: 10px !important;float: left">
                                    <span for="minMultiplicity">Max</span>
                                    <input type="text"
                                           class="form-control wizardInput"
                                           ng-style="multiplicityError? {'border': '1px solid #a94442'} :''"
                                           id="maxMultiplicity"
                                           ng-model="model.maxMultiplicity">
                                </div>
                            </div>
                            <div style="font-size: 12px;clear: both;margin: 2px 0px" class="error text-danger">
                        <span ng-show="multiplicityError">
                            {{multiplicityError}}
                        </span>
                            </div>
                            <div style="clear: both;font-size: 11px;font-style: italic;">
                                Please enter <strong style="font-size: 14px">*</strong> for unbound multiplicity.
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <th class="detailsRowHeader col-sx-2 col-sm-2 col-md-2">Data Type *</th>
                        <td>

                            <div style="padding: 0px 0px 10px 10px;" ng-if="model.dataType">
                                <element-data-type
                                        element-data-type="model.dataType"
                                        mc-parent-data-model="model.parentDataModel"></element-data-type>
                            </div>

                            <div ng-if="allDataTypesCount === 0">
                                <label>No Data Type defined for '{{model.parent.breadcrumbs[0].label}}' Data Model.<br>Please enter Data Type details:</label>
                            </div>

                            <div ng-if="allDataTypesCount != 0">
                                <label ng-if="!model.showNewInlineDataType">Please select a Data Type or <a style="cursor: pointer;" ng-click="showNewInlineDataType()">Add a new one</a>:</label>
                                <label ng-if="model.showNewInlineDataType">Please <a style="cursor: pointer;" ng-click="showNewInlineDataType()">select a Data Type </a> or Add a new one:</label>
                            </div>

                            <div ng-if="model.showNewInlineDataType">
                                <new-data-type-inline
                                        parent-scope-handler="parentScopeHandler"
                                        model="model.newlyAddedDataType"
                                        parent-data-model="model.parentDataModel"
                                        show-parent-data-model="false">
                                </new-data-type-inline>
                            </div>
                            <div ng-if="!model.showNewInlineDataType">
                                <div class="col-sx-12 col-sm-12 col-md-12 col-lg-12" style="padding: 0px;">
                                    <mc-select-2
                                            width="'100%'"
                                            accept-typed-input="false"
                                            value-type="'dynamic'"
                                            default-value="model.dataType"
                                            load-dynamic-values="fetch"
                                            min-input-length="1"
                                            record="record"
                                            id-property="'id'"
                                            display-property="'label'"
                                            search-property="'label'"
                                            load-all-on-click="true"
                                            on-select="onTargetSelect">
                                        <div>
                                            <div ng-bind-html="$item.label | mchighlighter:searchTerm"></div>
                                            <div>
                                                <element-link mc-element="$item" show-type-title="true" show-link="false"></element-link>
                                            </div>
                                        </div>
                                    </mc-select-2>
                                </div>
                            </div>
                        </td>
                    </tr>


                    <tr>
                        <th class="detailsRowHeader  col-sx-2 col-sm-2 col-md-2">Classifications</th>
                        <td>
                            <element-classifications
                                    classifications="model.classifiers"
                                    editable="{$visible :true}"></element-classifications>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <div ng-if="model.createType == 'copy'" class="row" style="margin-bottom:20px;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <label>Please Select Data Element(s):</label>
            <mc-table
                    mc-record-type="'dynamic'"
                    mc-fetch-method="dataElementsFetch"
                    mc-records="records"
                    mc-static-loading-in-progress="loading"
                    mc-table-handler="mcTableValues.mcTableHandler"
                    mc-display-records="mcDisplayRecords"
                    mc-on-fetch-called="onFetchCalled"
                    mc-page-number="1">
                <div class="mcTableMain">
                    <div class="mcTableTitle">
                        <span class="title">Data Elements</span>
                        <div
                                tooltip-placement="bottom"
                                tooltip-class = "selectedDataElementsToolTip"
                                data-uib-tooltip-html="selectedDataElementsStr"
                                style="float: right; margin-right: 10px;">
                            <a style="text-decoration: none;cursor: pointer;">Selected</a>
                            <span
                                    class="badge element-count"
                                    style="margin:0px 3px;display:inline;font-size:12px !important; cursor: pointer;">{{model.selectedDataElements.length}}</span>
                        </div>
                    </div>
                    <div class="mcTableContainer">
                        <table class="table table-condensed table-bordered mcTable">
                            <thead>
                            <tr class="mcTableHeader">
                                <th style="cursor:pointer;max-width: 15%;width: 15%;" columnName="label"
                                    sortable="true" filterable="true">
                                    <input style="cursor:pointer;" type="checkbox" ng-model="mcTableValues.selectAllRows" ng-change="selectAllChanged()" ng-click="selectAllClicked($event)"> Name
                                </th>
                                <th style="cursor:pointer;max-width: 20%;width: 20%;" columnName="description"
                                    sortable="true" filterable="true">
                                    Description
                                </th>
                                <th style="cursor:pointer;max-width: 20%;width: 20%;" columnName="domainType"
                                    sortable="true" filterable="true">
                                    Type
                                </th>
                            </tr>
                            <tr class="mcTableFilter">
                                <td style="cursor:pointer;max-width: 15%;width: 15%;">
                                    <input class="form-control input-sm" type="text" autocomplete="off">
                                </td>
                                <td style="cursor:pointer;max-width: 20%;width: 20%;">
                                    <input class="form-control input-sm" type="text" autocomplete="off">
                                </td>
                                <td style="cursor:pointer;max-width: 20%;width: 20%;">

                                </td>
                            </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="record in mcDisplayRecords">
                                    <td style="max-width: 15%;width: 15%;text-align: left;word-wrap: break-word;">
                                        <div>
                                            <input type="checkbox"
                                                   style="cursor: pointer;"
                                                   ng-click="add(record)"
                                                   ng-checked="isChecked(record)"></select>
                                            <element-link mc-element="record"
                                                          new-window="true"
                                                          mc-data-model-parent="{id:record.dataModel}"></element-link>
                                        </div>
                                    </td>
                                    <td style="max-width: 20%;width: 20%;text-align: left;word-wrap: break-word;">
                                        <div ng-if="record.description && record.description.length>0"
                                             style="margin-bottom: 10px;">
                                            <more-description description="{{::record.description}}"></more-description>
                                        </div>
                                    </td>
                                    <td style="max-width: 20%;width: 20%;text-align: left;word-wrap: break-word;">
                                        <element-data-type
                                                new-window="true"
                                                hide-enum-list="true"
                                                element-data-type="record.dataType"
                                                mc-parent-data-model="{id:model.copyFromDataClass[0].dataModel}"></element-data-type>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="paginationContainer">
                        <mc-table-pagination display-records="mcDisplayRecords"></mc-table-pagination>
                    </div>
                </div>
            </mc-table>
        </div>
    </div>
</div>

