<div class="form-group">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <label>How do you want to add new Data Element(s) to <span>
                <element-link new-window="true"
                              mc-element="model.parent"></element-link></span> ?</label>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="panel panel-default" style="margin-left: 10px;cursor: pointer;" ng-click="selectCreateType('new')">
                <div class="panel-body">
                    <div>
                        <div>
                            <i style="margin:0px 3px 0px 10px;" class="fa fa-plus themeColor"></i>
                            <input type="radio"
                                   name="createType"
                                   ng-model="model.createType"
                                   ng-checked="model.createType === 'new'"
                                   value="new"
                                   style="cursor: pointer">
                            <label style="cursor: pointer;">Create a New Data Element</label>
                            <div style="margin-left: 45px;">You can add label, description...</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="panel panel-default" style="margin-left: 10px;ursor: pointer;" ng-click="selectCreateType('copy')">
                <div class="panel-body">
                    <div>
                        <div>
                            <i style="margin:0px 3px 0px 10px;" class="fa fa-copy themeColor"></i>
                            <input type="radio"
                                   name="createType"
                                   ng-model="model.createType"
                                   ng-checked="model.createType === 'copy'"
                                   value="copy"
                                   style="cursor: pointer">
                            <label style="cursor: pointer;">Copy Data Element(s) from...</label>
                            <div style="margin-left: 45px;">
                                <model-selector-tree
                                        on-select="onSelect"
                                        default-elements="model.copyFromDataClass"
                                        placeholder="'Select Data Class...'"
                                        processing="model.createType != 'copy'"
                                        ng-model="model.copyFromDataClass"
                                        tree-search-domain-type="'DataClass'"
                                        accepts="['DataClass']">
                                </model-selector-tree>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>