<div>
    <mc-table
            mc-name="groupsAccessTable"
            id="groupsAccessTable"
            mc-record-type="'static'"
            mc-records="groups"
            mc-table-handler="mcTableHandler"
            mc-display-records="mcDisplayRecords"
            mc-page-sizes="[5,10,15,20]"
            mc-page-size="5"
            mc-page-number="1">
        <div class="mcTableMain">
            <div class="mcTableTitle">
                <span class="title">Group Access</span>

                <div ng-if="parent.editable" class="btn-group-xs" style="float: right; margin-top: -2px; margin-left: 9px;">
                    <button type="button" uib-tooltip="Add Group"  class="btn btn-xs btn-default addNewModelButton themeColor" ng-click="add()">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                </div>

                <div class="btn-group-xs" style="float: right; margin-top: -2px; margin-left: 9px;" ng-if="clientSide">
                    <button type="button" uib-tooltip="Add Group"  class="btn btn-xs btn-default addNewModelButton themeColor" ng-click="add()">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                </div>

            </div>
            <div class="mcTableContainer">
                <table class="table table-condensed table-bordered mcTable">
                    <thead>
                        <tr class="mcTableHeader">
                            <th style="cursor:pointer;max-width: 20%;width: 20%;" columnName="group.label" sortable="true" filterable="true">
                                Group
                            </th>
                            <th style="cursor:pointer;max-width: 20%;width: 20%;"  columnName="readAccess" sortable="true" filterable="true">
                                Read
                            </th>
                            <th style="cursor:pointer;max-width: 20%;width: 20%;"  columnName="writeAccess" sortable="true" filterable="true">
                                Write
                            </th>
                            <th style="cursor:pointer;max-width: 8%;width: 8%;" >
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                         <tr ng-repeat="record in mcDisplayRecords">
                        <td style="max-width: 20%;width: 20%;text-align: left;word-wrap: break-word;">
                            <div ng-show="!record.inEdit">
                                {{record.group.label}}
                            </div>

                            <div ng-show="record.inEdit">
                                <div ng-show="!record.isNew">
                                    {{record.group.label}}
                                </div>
                                <div ng-show="record.isNew">
                                    <mc-select-2
                                            width="'100%'"
                                            accept-typed-input="false"
                                            value-type="'static'"
                                            default-value="record.group"
                                            static-values="allGroups"
                                            min-input-length="1"
                                            has-error="record.edit.errors && record.edit.errors['group']"
                                            record="record"
                                            id-property="'id'"
                                            display-property="'label'"
                                            search-property="'label'"
                                            on-select="onGroupSelect">
                                        <div>
                                            <div>{{$item.label}}</div>
                                        </div>
                                    </mc-select-2>
                                    <small  ng-show="record.edit.errors && record.edit.errors['group']" class="errorMessage">{{record.edit.errors['group']}}</small>
                                </div>
                            </div>
                        </td>
                        <td style="max-width: 20%;width: 20%;text-align: left;word-wrap: break-word;">
                            <span ng-show="record.readAccess && !record.inEdit">
                                <i class="fa fa-check userAccessCheckBox themeColor" aria-hidden="true"></i>
                            </span>
                            <span ng-show="record.inEdit">
                                <input type="checkbox" ng-model="record.edit.readAccess" ng-change="readAccessChecked(record, $index)">
                            </span>
                        </td>
                        <td style="max-width: 20%;width: 20%;text-align: left;word-wrap: break-word;">
                            <span ng-show="record.writeAccess && !record.inEdit">
                                <i class="fa fa-check userAccessCheckBox themeColor" aria-hidden="true"></i>
                            </span>
                            <span ng-show="record.inEdit">
                                <input type="checkbox" ng-model="record.edit.writeAccess" ng-change="writeAccessChecked(record, $index)">
                            </span>
                        </td>
                        <td style="max-width: 8%;width: 8%;text-align: center;word-wrap: break-word;">
                            <div ng-if="record.isNew">
                                <mc-table-button record="record" index="$index" save="save" delete="delete" validate="validate" cancel-edit="cancelEdit" on-edit="onEdit" hide-delete="true"></mc-table-button>
                            </div>

                            <div ng-if="!record.isNew && record.inEdit">
                                <div ng-if="record.user.userRole === 'ADMINISTRATOR'">
                                    <small style="font-style: italic">Admin</small>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="paginationContainer">
                <mc-table-pagination display-records="mcDisplayRecords"></mc-table-pagination>
            </div>
        </div>
    </mc-table>
</div>