<form role='form' onkeypress='return event.keyCode != 13;'>
    <div class='modal-header'>
        <h3 class='modal-title'>Forgot Password</h3>
        <div>
            Please enter your email address and we'll send you instructions on how to reset your password.
        </div>
    </div>
    <div class='modal-body'>
        <div class='form-group'>
            <label for='username'>Email:</label>
            <input class='form-control' id='username' ng-model='username'>
        </div>
        <di>
            <div class="alert alert-success" ng-if="message == 'success'">
                <i class="fa fa-check"></i>
                A password reset message was sent to your email address. Please check the link in that message to reset your password.
                <br>If you don't receive the password reset message within a few moments, please check your spam folder or other filtering tools.
            </div>
            <div class="alert alert-danger" ng-if="message == 'error'">
                There was a problem sending reset message was sent to your email address.
            </div>
        </di>
    </div>

    <div class='modal-footer'>
        <button type='button'
                class='btn btn-success'
                ng-click='resetPassword()'
                ng-disabled="!username || message == 'success'"><span
                class='glyphicon glyphicon-ok'></span>
            Reset My Password
        </button>
        <button class='btn btn-default' ng-click='close()'>Close</button>
    </div>
</form>

