<div *ngIf="model" class="mdm--block">
	<span>How do you want to add a new Data Type(s) to </span>
	<mdm-element-link [parentDataModel]="{id:model.parent}" [newWindow]="true" [element]="model.parent"></mdm-element-link>
	<span>? <i class="fas fa-info-circle helpIcon" (click)="loadHelp()" matTooltipPosition="below" matTooltip="Help"></i></span>
	<mat-radio-group name="createType" [(ngModel)]="model.createType" (click)="selectCreateType('new')">
		<mat-radio-button [checked]="model.createType === 'new'" value="new">Create a New Data Type</mat-radio-button>
	</mat-radio-group>
	<mat-radio-group name="createType" [(ngModel)]="model.createType" (click)="selectCreateType('copy')">
		<mat-radio-button [checked]="model.createType === 'copy'" value="copy">Copy Data Type(s) from...</mat-radio-button>
	</mat-radio-group>

	<mdm-model-selector-tree [onSelect]="onSelect"
		ngDefaultControl
		[placeholder]="'Select Data Model...'"
		[processing]="model.createType != 'copy'"
		[doNotShowDataClasses]="true"
		[ngModel]="model.copyFromDataModel"
		[treeSearchDomainType]="'DataModel'"
		(ngModelChange)="model.copyFromDataModel = $event"
		[accepts]="['DataModel']">
	</mdm-model-selector-tree>
</div>
