<form name="form" onaftersave="onAfterSave()" (ngSubmit)="formBeforeSave()" disable-submit-on-enter *ngIf="user" #userDetailsForm="ngForm" class="mdm--form">
	<div class="mb-2">
		<h4 class="marginless ">{{user.emailAddress}}</h4>
		<p class="text-muted">{{user.userRole}}</p>
	</div>
	<div class="mdm--form-input">
		<mat-form-field appearance="outline">
			<mat-label>First name</mat-label>
			<input matInput [(ngModel)]="user.firstName" id="firstName" name="firstName" #firstName="ngModel" required>
		</mat-form-field>
	</div>
	<div class="mdm--form-input">
		<mat-form-field appearance="outline">
			<mat-label>Last name</mat-label>
			<input matInput [(ngModel)]="user.lastName" id="lastName" name="lastName" #lastName="ngModel" required>
		</mat-form-field>
	</div>
	<div class="mdm--form-input">
		<mat-form-field appearance="outline">
			<mat-label>Organisation</mat-label>
			<input matInput [(ngModel)]="user.organisation" name="organisation" required>
		</mat-form-field>
	</div>
	<div class="mdm--form-input">
		<mat-form-field appearance="outline">
			<mat-label>Role in Organisation</mat-label>
			<input matInput [(ngModel)]="user.jobTitle" name="jobTitle">
		</mat-form-field>
	</div>
	<button mat-flat-button class="custom" color="primary">
		Save profile
	</button>
</form>
