<div class="row" style="margin-top: 10px;">
    <div class="col-lg-offset-2 col-lg-6 col-md-6 col-xs-12 col-sm-12" ng-show="!confirmed">
        <form name="editableForm">
            <table class="table table-bordered table-condensed dataModelDetailTable">
                <tbody>
                <tr>
                    <td class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mcTableTitle" colspan="2">
                        Reset Password
                    </td>
                </tr>
                <tr>
                    <td class="detailsRowHeader col-xs-2 col-sm-2 col-md-2  col-lg-2" style="text-align: left">
                        Password*
                    </td>
                    <td style="text-align: left" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group" ng-class="{'has-error':errors && errors['password']}">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left: 0px;">
                                <input type="password" class="form-control wizardInput" ng-model="user.password">
                                <password-strenghtometer password="user.password"></password-strenghtometer>
                                <small ng-show="errors && errors['password']" class="errorMessage">
                                    {{errors['password']}}
                                </small>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="detailsRowHeader col-xs-2 col-sm-2 col-md-2 col-lg-2" style="text-align: left">Confirm
                        Password*
                    </td>
                    <td style="text-align: left">
                        <div class="form-group" ng-class="{'has-error':errors && errors['confirmPassword']}">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left: 0px;">
                                <input type="password" class="form-control wizardInput" ng-model="user.confirmPassword">
                                <small ng-show="errors && errors['confirmPassword']" class="errorMessage">
                                    {{errors['confirmPassword']}}
                                </small>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: right;">
                        <div class="alert alert-danger" style="text-align: center;" ng-if="message === 'error'">
                            An error occurred when processing the request.
                        </div>
                        <div style="float: right;margin-bottom: 3px">
                            <button type="button"
                                    ng-disabled="processing"
                                    class="btn btn-success btn-xs"
                                    ng-click="save()">
                                Submit
                            </button>
                            <button type="button"
                                    ng-disabled="processing"
                                    class="btn btn-default btn-xs"
                                    ng-click="cancel()">
                                Cancel
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div class="col-lg-offset-2 col-lg-6 col-md-6 col-xs-12 col-sm-12" ng-if="message === 'success'">
        <div class="alert alert-success" style="text-align: center;font-size: 16px;">
            <p style="padding: 5px">Your password has been reset successfully!
        </div>
    </div>
</div>






