<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <div style="width: 100%">
            <terminology-details hide-edit-button="true"
                                 mc-terminology="terminology"
                                 after-save="Save"
                                 open-edit-form="openEditForm"></terminology-details>
        </div>

        <div style="width: 100%;margin-bottom: 10px;">
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color: #E8E8E8 !important;"><strong>Find Terms</strong></div>
                <div class="panel-body">
                    <mc-select-2
                            do-not-close-on-select="true"
                            width="'100%'"
                            default-placeholder="'Search for Term...'"
                            accept-typed-input="false"
                            value-type="'dynamic'"
                            load-dynamic-values="fetch"
                            min-input-length="1"
                            id-property="'id'"
                            display-property="'definition'"
                            search-property="'definition'"
                            on-select="onTermSelect">
                        <div>
                            <a><span  ng-bind-html="($item.code | mchighlighter:$inputText) + ': ' + ($item.definition | mchighlighter:$inputText)"></span></a>
                            <div ng-if="$item.aliases && $item.aliases.length>0">
                                <span ng-repeat="alias in $item.aliases" style="margin:5px 0px; font-size: 12px;">
                                    <a ng-bind-html="'(' + (alias | mchighlighter:$inputText) + ')'"></a>
                                </span>
                            </div>
                        </div>
                    </mc-select-2>
                </div>
            </div>
        </div>

        <div ng-show="!showEditForm">
            <uib-tabset active="activeTab.index">

                <!--<uib-tab select="tabSelected('terms')">-->
                    <!--<uib-tab-heading>-->
                        <!--Terms-->
                    <!--</uib-tab-heading>-->
                    <!--<div style="width:100%;" ng-if="activeTab.name == 'terms' && terms">-->
                        <!--<terminology-terms-table-->
                                <!--terminology="terminology"-->
                                <!--type="'dynamic'"-->
                                <!--loading-data="loadingData"></terminology-terms-table>-->
                    <!--</div>-->
                <!--</uib-tab>-->

                <uib-tab select="tabSelected('properties')">
                    <uib-tab-heading>
                        Properties
                    </uib-tab-heading>
                    <div style="width:100%;" ng-if="activeTab.name == 'properties' && terminology">
                        <mc-data-set-metadata
                                parent="terminology"
                                type="'dynamic'"
                                loading-data="loadingData"></mc-data-set-metadata>
                    </div>
                </uib-tab>
                <uib-tab select="tabSelected('comments')">
                    <uib-tab-heading>
                        Comments
                    </uib-tab-heading>
                    <div style="width:100%;" ng-if="activeTab.name == 'comments' && terminology">
                        <annotation-list parent="terminology" loading-data="loadingData"
                                         type="'dynamic'"></annotation-list>
                    </div>
                </uib-tab>

                <uib-tab select="tabSelected('attachments')">
                    <uib-tab-heading>
                        Attachments
                    </uib-tab-heading>
                    <div>
                        <div ng-if="activeTab.name == 'attachments' && terminology">
                            <attachment-list parent="terminology" loading-data="loadingData" type="'dynamic'"></attachment-list>
                        </div>
                    </div>
                </uib-tab>

                <uib-tab select="tabSelected('history')">
                    <uib-tab-heading>
                        History
                    </uib-tab-heading>
                    <div style="width:100%;" ng-if="activeTab.name == 'history' && terminology">
                        <history parent="terminology" parent-type="'Terminology'"></history>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>