
<style media="screen" type="text/css">

    .ui-state-active,
    .ui-widget-content .ui-state-active,
    .ui-widget-header .ui-state-active,
    a.ui-button:active,
    .ui-button:active,
    .ui-button.ui-state-active:hover {
        border: 1px solid #205081 !important;
        background: #205081 !important;
    }
    .ui-dialog-titlebar-close{
        display: none;
    }


    div.designerContainer{
        /*border: 1px solid red;*/
        width:  calc(99vw - 20px);
        height: calc(90vh - 5px);
        overflow: scroll;
    }
    div.designer{
        width: calc(200vw - 20px);
        height: calc(180vh - 10px);
        border: 1px solid #DDD;
        position:relative;
    }
    svg.designer {
        width: calc(200vw - 20px);
        height: calc(180vh - 10px);
        /*border: 1px solid black;*/
    }
    path.deletePath{
        cursor: pointer;
    }
    path.deletePathHide{
        display: none;
    }
    circle.middleCircle{
        cursor: pointer;
    }
    circle.middleCircleHide{
        display: none;
    }
    .fatPath {
        stroke: gray;
        stroke-width: 20;
        fill: none;
        opacity:0.1;
        cursor: pointer;
    }
    .fatPathSelected {
        stroke: orange !important;
        stroke-width: 20;
        fill: none;
        opacity:0.2;
        cursor: pointer;
    }
    .fatPath.hideFatPath{
        stroke: transparent;
    }
    .deleteButtonHide{
        display: none;
    }
    .topicToolBox {
        border: 1px dashed #5f6060;
        color: #205081;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        -khtml-border-radius: 2px;
        margin: 10px;
        cursor: move;
        width: 140px;
        text-align: center;
    }
    span.deleteIconContainer{
        background-color: white;
        line-height: 40%;
    }
    span.deleteIconContainer > i {
        padding: 0px;
        margin: 0px;
        display: inline-block;
        width: auto;
        height: auto;
        line-height: inherit;
        vertical-align: baseline;
        background-color: white;
    }



    .greyOut {
        opacity: 0.15;
        background-color:#F0F0F0 !important;
        color:#A0A0A0 !important;
    }

    /*************************  Topic *************************************************************/
    .topic{
        border: 1px solid #DDD;
        padding: 10px;
        background-color: #FFF;
        cursor: move;
    }
    .topicTitle {
        cursor: pointer;
    }
    .topicSelected {
        border: 1px solid #ff9933 !important;
        background-color: #fff2e6 !important;
    }
    .topicDeleteButton {
        font-size:18px;
        position: absolute;
        top:0;
        left:0;
        color: red;
        background-color: transparent;
        top:-11px;
        left:-11px;
        cursor: pointer;
    }
    /*************************  Topic *************************************************************/



    /*************************  DataModel *************************************************************/
    .dataModel{
        border:  2px solid #d8d8d8;
        width:150px;
        height:60px;
        text-align: center;
        cursor: move;
        overflow: hidden;
        padding-top: 5px;
        background-color: #ededed;
    }
    .dataModelTitle{
        text-align: center;
        cursor: pointer;
    }
    .dataModelSelected {
        border-color: #ff9933 !important;
        background-color: #fff2e6 !important;
    }
    .dataModelDeleteButton {
        font-size:18px;
        position: absolute;
        top:-11px;
        left:-11px;
        color: red;
        background-color: transparent;
        cursor: pointer;
    }
    /*************************  DataModel *************************************************************/

</style>




<div style="width: 100%; margin: 5px auto;height: calc(100vh - 70px);border: 1px solid #DDD;">
    <div id="one-left" class="split split-horizontal" style="width: calc(20% - 5px);">
        <div id="one-left-top" class="split split-vertical" style="width: 100%;border: 1px solid #DDD;border-radius: 3px;">
            <div style="background-color: #f5f5f5; padding:11px 10px; border-bottom: 1px solid #ddd;">
                Data Models
            </div>
            <div style="width: 100%;height: 100%;" class="treeWaitingSpinner" ng-show="loading">
                <div style="position: relative;top:calc(40vh - 50px);left:40%;">
                    <a style="font-size: 75px;" class="themeColor">
                        <i class="fa fa-refresh fa-spin treeViewSpinner"></i>
                    </a>
                </div>
            </div>
            <div my-tree-multi-level
                 tree-name="'models'"
                 children="allModels"
                 style="padding-top: 4px;height: 100%;overflow-y: scroll;overflow-x: scroll;"
                 on-select="modelTreeOnSelect"
                 on-db-click="modelTreeOnDbClick"
                 on-add-data-model="addDataModel"
                 on-add-child-data-class="modelTreeOnAddChildDataClass"
                 on-add-data-element="modelTreeOnAddDataElement"
                 on-add-data-type="modelTreeOnAddDataType"
                 select-on-state-change="true">
            </div>
        </div>
        <div id="one-left-bottom" class="split split-vertical" style="width: 100%;border: 1px solid #DDD;border-radius: 3px;">
            <div style="background-color: #f5f5f5; padding:11px 10px; border-bottom: 1px solid #ddd;">
                Properties
            </div>
            <div style="padding-top: 5px;">
                <div>
                    <div ng-show="selectedElement && selectedElement.type == 'topic'">
                        <form style="margin: 10px;">
                            <div class="form-group">
                                <label for="topicName">Name</label>
                                <input class="form-control form-control-sm" id="topicName" aria-describedby="dataFlowName" placeholder="Topic Name" ng-model="form.label">
                            </div>
                            <button type="button" class="btn btn-primary btn-sm" ng-click="saveForm()">Save</button>
                            <button type="button" class="btn btn-default btn-sm" ng-click="cancelForm()">Cancel</button>
                        </form>
                    </div>
                    <div ng-show="selectedElement && selectedElement.type == 'dataModel'">

                        <table class="table table-hover table-condensed" >
                            <tbody>
                                <tr>
                                    <td width="5px" style="border-top: 0px !important;">
                                        <strong>Name</strong>
                                        <div>{{selectedElement.dataModel.label}}</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="5px" style="border-top: 0px !important;">
                                        <strong>Description</strong>
                                        <div>{{selectedElement.dataModel.description}}</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-show="!selectedElement">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="one-centre" class="split split-horizontal" style="width: calc(80% - 5px);">
            <div style="width: 100%; margin: 0 auto;border-bottom: 1px solid #ddd;">
                <div class="topicToolBox">New Topic</div>
            </div>
            <div style="width: 100%; margin: 0 auto;height: 100%;">
                <div>
                    <div class="designerContainer">
                        <div class="designer">
                            <div id="dialog-confirm" title="TopicView" style="display: none;position: relative;">
                                Are you sure?
                            </div>
                            <svg class="designer" xmlns="http://www.w3.org/2000/svg">
                                <defs>
                                    <marker id="markerCircle" markerWidth="8" markerHeight="8" refX="5" refY="5">
                                        <circle cx="5" cy="5" r="3" style="stroke: none; fill:#000000;"/>
                                    </marker>
                                    <marker id="markerArrow" markerWidth="13" markerHeight="13" refX="2" refY="6" orient="auto">
                                        <path d="M2,2 L2,11 L10,6 L2,2" style="fill: #000000;"/>
                                    </marker>
                                </defs>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>


<script type="text/javascript">

    $(function() {
        Split(['#one-left-top', '#one-left-bottom'], {
            sizes: [65, 35],
            direction: 'vertical'
        });

        Split(['#one-left', '#one-centre'], {sizes: [20, 80]});

        $(".topicToolBox").draggable({
            helper: "clone"
        });

    });

</script>
