<mat-vertical-stepper #stepper (selectionChange)="fireChanged($event)">
	<mat-step *ngFor="let step of steps; let i = index" >
		<ng-template matStepLabel>{{step.title}}</ng-template>
		<mdm-dcl-wrapper [type]="step.component" [step]="steps[i]"></mdm-dcl-wrapper>
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<div *ngIf="i !== 0">
					<button mat-stroked-button color="primary" class="custom" matStepperPrevious>
						<i class="fas fa-chevron-left"></i>
						Previous step
					</button>
					<button mat-button color="warn" (click)="cancelWizard()">
						Cancel
					</button>
				</div>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="text-align: right">
				<button mat-stroked-button color="primary" class="custom" *ngIf="(i+1) !== steps.length" matStepperNext [disabled]="step.invalid">
					Next step
					<i class="fas fa-chevron-right"></i>
				</button>
				<button mat-flat-button color="primary" class="custom" *ngIf="(i+1) === steps.length" [disabled]="step.invalid || isProcessComplete" (click)="save()">Submit Data Type Model</button>
			</div>
		</div>
	</mat-step>
</mat-vertical-stepper>
