<div class="mdm--shadow-block">
  <div class="heading-container">
    <h4 [ngPlural]="totalItemCount" class="marginless">
      <ng-template ngPluralCase="=1">
        There is <span class="mdm--badge mdm--element-count">1</span> email in this repository.
      </ng-template>
      <ng-template ngPluralCase="other">
        There are <span class="mdm--badge mdm--element-count">{{totalItemCount}}</span> emails in this repository.
      </ng-template>
    </h4>
    <i class="fas fa-filter" (click)="filterClick()" style="cursor: pointer;margin-left: 2px;"></i>
  </div>
  <div class="table-responsive">
  <table mat-table matSort [dataSource]="records"  class="mdm--table mdm--table-responsive table table-borderless table-striped">
    <ng-container matColumnDef="sentToEmailAddress">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="sentToEmailAddress" [disabled]="!hideFilters" style="cursor: pointer;" columnName="sentToEmailAddress">
        <span [hidden]="!hideFilters">To</span>
        <div [hidden]="hideFilters">
          <mat-form-field class="filter" floatLabel="never">
            <mat-label>To</mat-label>
            <input #filters matInput name="sentToEmailAddress" (keyup)="applyFilter()">
          </mat-form-field>
        </div>
      </th>
      <td mat-cell *matCellDef="let record" style=" text-align: left; word-wrap: break-word;">
        <span>{{record.sentToEmailAddress}}</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="dateTimeSent">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="dateTimeSent" [disabled]="!hideFilters" style="cursor: pointer;" columnName="dateTimeSent">
        <span [hidden]="!hideFilters">Date/Time</span>
      </th>
      <td mat-cell *matCellDef="let record" style="text-align: left; word-wrap: break-word;">
        <span> {{record.dateTimeSent | date: 'dd/MM/yyyy h:mm a'}}</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="subject">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="subject" [disabled]="!hideFilters" style="cursor: pointer;" columnName="subject">
        <span [hidden]="!hideFilters">Subject/Body</span>
        <div [hidden]="hideFilters">
          <mat-form-field class="filter" floatLabel="never">
            <mat-label>Subject/Body</mat-label>
            <input #filters matInput name="body" (keyup)="applyFilter()">
          </mat-form-field>
        </div>
      </th>
      <td mat-cell *matCellDef="let record" style="text-align: left; word-wrap: break-word;">
        <span><strong>{{record.subject}}</strong></span>
        <br>
        <mdm-more-description [description]="record.body" [length]="200" style="display: block; max-width: 80%; margin-left: auto;"></mdm-more-description>
      </td>
    </ng-container>
    <ng-container matColumnDef="successfullySent">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="successfullySent" [disabled]="!hideFilters" style="cursor: pointer; text-align: left;" columnName="successfullySent">
        <span [hidden]="!hideFilters">Status</span>
      </th>
      <td mat-cell *matCellDef="let record" style="text-align: left; word-wrap: break-word;">
        <div class="mdm--td-cell">Status</div>
        <div>
          <a *ngIf="record.successfullySent">
            Successful
          </a>
          <a *ngIf="!record.successfullySent" (click)="toggleMessage(record)" style="text-decoration: none; cursor: pointer;">
            Failed
          </a>
          <div *ngIf="!record.successfullySent && record.showFailure" style="margin-top: 5px;">
            {{record.failureReason}}
          </div>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let record; columns: displayedColumns;"></tr>
  </table>
</div>
  <div class="mdm--mat-pagination" >
    <mdm-paginator [pageSizeOptions]="[5, 10, 20,50]" [pageSize]="5" [length]="totalItemCount" showFirstLastButtons></mdm-paginator>
  </div>
</div>
