<div class="mcTableMain">
	<div class="mcTableTitle">
		<span class="title">
			Emails<span class="badge element-count ng-binding" style="margin: 0px 3px; display: inline;" aria-hidden="false">{{totalItemCount}}</span>
			<!--<i class="fa fa-filter themeColor" (click)="filterClick()" style="cursor: pointer;margin-left: 2px;"></i>-->
		</span>
	</div>
	<div class="mcTableContainer">
		<table mat-table [dataSource]="dataSource" matSort class="table table-condensed table-bordered mcTable">
			<ng-container matColumnDef="sentToEmailAddress">
				<th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="!hideFilters" style="cursor: pointer; max-width: 22%; width: 22%;" columnName="sentToEmailAddress">
					<span [hidden]="!hideFilters">To</span>
					<div [hidden]="hideFilters">
						<mat-form-field class="filter" floatLabel="never">
							<mat-label>To</mat-label>
							<input #filters matInput name="sentToEmailAddress" (keyup)="applyFilter()">
						</mat-form-field>
					</div>
				</th>
				<td mat-cell *matCellDef="let record" style="max-width: 20%; width: 20%; text-align: left; word-wrap: break-word;">
					<span>{{record.sentToEmailAddress}}</span>
				</td>
			</ng-container>
			<ng-container matColumnDef="dateTimeSent">
				<th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="!hideFilters" style="cursor: pointer; max-width: 10%; width: 10%;" columnName="dateTimeSent">
					<span [hidden]="!hideFilters">Date/Time</span>
				</th>
				<td mat-cell *matCellDef="let record" style="max-width: 10%; width: 10%; text-align: left; word-wrap: break-word;">
					<span>{{record.dateTimeSentString}}</span>
				</td>
			</ng-container>
			<ng-container matColumnDef="subject">
				<th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="!hideFilters" style="cursor: pointer; max-width: 50%; width: 50%;" columnName="subject">
					<span [hidden]="!hideFilters">Subject/Body</span>
					<div [hidden]="hideFilters">
						<mat-form-field class="filter" floatLabel="never">
							<mat-label>Subject/Body</mat-label>
							<input #filters matInput name="body" (keyup)="applyFilter()">
						</mat-form-field>
					</div>
				</th>
				<td mat-cell *matCellDef="let record" style="max-width: 50%; width: 50%; text-align: left; word-wrap: break-word;">
					<span style="font-weight: bold;">{{record.subject}}</span>
					<br>
					<more-description [description]="record.body" [length]="200"></more-description>
				</td>
			</ng-container>
			<ng-container matColumnDef="successfullySent">
				<th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="!hideFilters" style="cursor: pointer; max-width: 15%; width: 15%;" columnName="successfullySent">
					<span [hidden]="!hideFilters">Delivery Status</span>
				</th>
				<td mat-cell *matCellDef="let record" style="max-width: 15%; width: 15%; text-align: left; word-wrap: break-word;">
					<a *ngIf="record.successfullySent">
						Successful
					</a>
					<a *ngIf="!record.successfullySent" (click)="toggleMessage(record)" style="text-decoration: none; cursor: pointer;">
						Failed
					</a>
					<div *ngIf="!record.successfullySent && record.showFailure" style="margin-top: 5px;">
						{{record.failureReason}}
					</div>
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns" style="height: auto;" class="mcTableHeader"></tr>
			<tr mat-row *matRowDef="let record; columns: displayedColumns;" style="height: auto"></tr>

		</table>
	</div>

	<div class="d-flex justify-content-between p-2">
		<mat-paginator [pageSizeOptions]="[5, 10, 20,50]" [pageSize]="20" [length]="totalItemCount" showFirstLastButtons></mat-paginator>
	</div>
</div>

