<div class="heading-container">
    <h4 class="marginless">Classified Elements</h4>
    <span class="mdm--badge mdm--element-count">{{totalItemCount}}</span>
    <i class="fas fa-filter" (click)="filterClick()" style="cursor: pointer;margin-left: 2px;"></i>
</div>
<table mat-table matSort [dataSource]="records" class="mdm--table table table-borderless table-striped table-responsive">
    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="type" [disabled]="!hideFilters" style="cursor:pointer;max-width: 15%;width: 15%;" columnName="type">
            <span [hidden]="!hideFilters">Type</span>
            <div [hidden]="hideFilters">
                <mat-label>Type</mat-label>
                <mat-select [(value)]="domainType"
                            name="domainType"
                            [(ngModel)]="domainType"
                            (ngModelChange)="applyMatSelectFilter($event, 'domainType')">
                    <mat-option></mat-option>
                    <mat-option [value]="baseType.id" *ngFor="let baseType of classifiableBaseTypes">{{baseType.title}}</mat-option>
                </mat-select>
            </div>
        </th>
        <td mat-cell *matCellDef="let record" style="max-width: 15%;width: 15%;text-align: left;word-wrap: break-word;" >
            <mdm-element-link [element]="record" [showLink]="false" [showTypeTitle]="true"></mdm-element-link>
        </td>
    </ng-container>
    <ng-container matColumnDef="label">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="label" [disabled]="!hideFilters" style="cursor:pointer;max-width: 15%;width: 15%;" columnName="label">
            <span [hidden]="!hideFilters">Name</span>
            <div [hidden]="hideFilters">
                <mat-form-field class="filter" floatLabel="never">
                    <mat-label>Name</mat-label>
                    <input #filters matInput name="label" (keyup)="applyFilter()">
                </mat-form-field>
            </div>
        </th>
        <td mat-cell *matCellDef="let record" style="max-width: 15%;width: 15%;text-align: left;word-wrap: break-word;" >
        <mdm-element-link
                [parentDataModel]="{id:record.dataModel}"
                [parentDataClass]="{id:record.dataClass}"
                [element]="record"></mdm-element-link>
        <br>
        <mdm-model-path [path]="record.breadcrumbs"></mdm-model-path>
        </td>
    </ng-container>
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="description" [disabled]="!hideFilters" style="cursor:pointer;max-width: 15%;width: 15%;" columnName="description">
            <span [hidden]="!hideFilters">Description</span>
            <div [hidden]="hideFilters">
                <mat-form-field class="filter" floatLabel="never">
                    <mat-label>Description</mat-label>
                    <input #filters matInput name="description" (keyup)="applyFilter()">
                </mat-form-field>
            </div>
        </th>
        <td mat-cell *matCellDef="let record" style="max-width: 15%;width: 15%;text-align: left;word-wrap: break-word;">
            <div *ngIf="record.description && record.description.length>0" style="margin-bottom: 10px;" [ngClass]="{'descBottomBorder':record.domainType == 'DataElement'}">
                <mdm-more-description description="{{record.description}}"></mdm-more-description>
            </div>

            <div>
                <mdm-all-links-in-paged-list [parent]="record" ></mdm-all-links-in-paged-list>
            </div>
        </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<mat-card *ngIf="isLoadingResults" style="display: flex; justify-content: center; align-items: center">
    <mat-progress-spinner color="primary"mode="indeterminate">
    </mat-progress-spinner>
</mat-card>

<div class="mdm--mat-pagination">
    <mdm-paginator [pageSizeOptions]="[5, 10, 20,50]" [pageSize]="20" [length]="totalItemCount" showFirstLastButtons></mdm-paginator>
</div>
