<div>Data Elements {{records.length}}</div>
<div>You are currently editing the following data elements:</div>
<table class="table table-bordered mdm--table-fixed" style="max-width: 1400px;">
  <thead></thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
  <tr *ngFor="let item of records">
    <td style="max-width: 200px"><span name="elementName" ngDefaultControl [(ngModel)]="item.label">{{item.label}}</span></td>
    <td class="elementDetailDescription">
      <div>
        <textarea name="description" [(ngModel)]="item.description" style="min-width: 900px"></textarea>
      </div>
    </td>
  </tr>
</table>
<div style="text-align: right">
  <button mat-flat-button (click)="cancel()" color="">Cancel</button>
  <button mat-flat-button (click)="saveChanges()" color="primary">Save changes</button>
</div>

