<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <mat-vertical-stepper #stepper>
            <mat-step *ngFor="let stp of steps; let i = index">
                <ng-template matStepLabel>{{stp.title}}</ng-template>
                <mdm-dcl-wrapper [type]="stp.component" [step]="steps[i]"></mdm-dcl-wrapper>
                <div class="row">
                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                        <div *ngIf="i !== 0">
                            <button mat-stroked-button color="primary" class="custom" matStepperPrevious>
                                <i class="fas fa-chevron-left"></i>
                                Previous step
                            </button>
                        </div>
                        <!-- <button mat-stroked-button color="warn" (click)="cancelWizard()">
                            Cancel
                        </button> -->
                    </div>
                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5" style="text-align: right">
                        <button mat-stroked-button color="primary" class="custom" *ngIf="(i+1) !== steps.length" matStepperNext>
                            Next step
                            <i class="fas fa-chevron-right"></i>
                        </button>
                        <button mat-flat-button color="primary" class="custom" *ngIf="(i+1) === steps.length" (click)="save()">Submit Data Model</button>
                    </div>
                </div>
            </mat-step>
        </mat-vertical-stepper>
    </div>
</div>
