<div class="modal-header pxy-2">
  <h4 class="modal-title marginless">Element Select</h4>
</div>
<div class="modal-body pxy-2">
  <p>Please select the elements you wish to edit.</p>
</div>
<mat-form-field appearance="outline" style="width: 500px">
  <mat-label>Element</mat-label>
  <mat-select
    multiple
    [compareWith]="objectComparisonFunction"
    [(ngModel)]="context.elements"
  >
    <mat-option *ngFor="let element of elements" [value]="element">
      {{ element.label }}
    </mat-option>
  </mat-select>
</mat-form-field>
<div class="modal-footer pxy-2">
  <button mat-button color="warn" type="button" class="mr-1" (click)="cancel()">
    Cancel
  </button>

  <button
    [disabled]="context.elements.length <= 0"
    mat-stroked-button
    type="button"
    color="primary"
    type="button"
    class="mr-1"
    (click)="proceedToProfile()"
  >
    Next
  </button>
</div>
