<div class="panel panel-default" *ngIf="dataModel">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="detailsRowHeader" colspan="3">New Version</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div style="margin-bottom: 10px">
                        <div style="margin-bottom: 10px">
                            <span class="badge importFormStep themeBackgroundColor">1</span>
                            <span class="importFormStepTitle">&nbsp;Please select type of the new version you want to
                                create:</span>
                            <div style="margin-left: 30px;">
                                <small>A new version of the Data Model, keeps all Data Classes, Data Types, Data
                                    Elements and Properties of the current Data Model </small>
                                <small>(<element-link [parent-data-model]="{id:dataModel.id}" [element]="dataModel">
                                    </element-link>)</small>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="panel panel-default" style="margin-left: 10px;">
                                    <div class="panel-body">
                                        <div>
                                            <div style="float: left;font-size: 16px;">
                                                <i class="fas fa-list"></i>
                                            </div>
                                            <div>
                                                &nbsp;
                                                <input type="radio" [(ngModel)]="versionType" value="newElementVersion"
                                                    checked (click)="versionTypeChecked()" style="cursor: pointer"
                                                    [disabled]="processing">
                                                <span>&nbsp;New Data Model Version</span>
                                                <br>
                                                <small>This will create a new version of <element-link
                                                        [parent-data-model]="{id:dataModel.id}" [element]="dataModel">
                                                    </element-link>, You must choose a different name for the new Data
                                                    Model.</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="panel panel-default" style="margin-right: 10px;">
                                    <div class="panel-body">
                                        <div>
                                            <div style="float: left;font-size: 16px;">
                                                <i class="fas fa-file-alt"></i>
                                            </div>
                                            <div>
                                                &nbsp;
                                                <input type="radio" [(ngModel)]="versionType" value="newDocumentVersion"
                                                    (click)="versionTypeChecked()" style="cursor: pointer"
                                                    [disabled]="processing">
                                                <span>&nbsp;New Document Model</span>
                                                <br>
                                                <small>This will create a new <strong>Document Model</strong> for
                                                    <element-link [parent-data-model]="{id:dataModel.id}"
                                                        [element]="dataModel">
                                                    </element-link></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="versionType === 'newElementVersion'">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div style="margin-bottom: 10px">
                                    <span class="badge importFormStep themeBackgroundColor">2</span>
                                    <span class="importFormStepTitle">&nbsp;Please provide the following details:</span>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div [ngClass]="{'form-group':true, 'has-error': errors && errors.label }">
                                        <label for="label">Data Model Name*</label>
                                        <input class="form-control col-lg-6 col-md-6 col-sm-6" id="label"
                                            [(ngModel)]="form.label" required [disabled]="processing">
                                        <span class="help-block"
                                            *ngIf="errors && errors.label"><small>{{errors.label}}</small></span>
                                    </div>
                                    <span class="help-block" style="margin-top:0px;"><small>The name should be different
                                            from the current version name '{{dataModel.label}}'</small></span>
                                </div>
                            </div>
                        </div>

                        <!--<div class="row" ng-if="dataModel.editable">-->
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div [ngClass]="{'form-group':true, 'has-error': errors }"
                                        style="margin-bottom: 0px;">
                                        <input type="checkbox" id="copyPermissions" [(ngModel)]="form.copyPermissions"
                                            [disabled]="processing">
                                        <label style="padding-left: 5px" for="copyPermissions">Copy Permissions</label>
                                        <span class="help-block"
                                            *ngIf="errors && errors.copyPermissions"><small>{{errors.copyPermissions}}</small></span>

                                    </div>
                                    <span class="help-block" style="margin-top:0px;"><small>If checked, all read/write
                                            permissions for users and groups of this Data Model will be copied to the
                                            new Data Model.</small></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div [ngClass]="{'form-group':true, 'has-error': errors}"
                                        style="margin-bottom: 0px;">
                                        <input type="checkbox" id="copyDataFlows" [(ngModel)]="form.copyDataFlows"
                                            [disabled]="processing">
                                        <label style="padding-left: 5px" for="copyDataFlows">Copy DataFlows</label>
                                        <span class="help-block"
                                            *ngIf="errors && errors.copyDataFlows"><small>{{errors.copyDataFlows}}</small></span>
                                    </div>
                                    <span class="help-block" style="margin-top:0px;"><small>If checked, all Dataflows
                                            which this Data Model is a target of, will be copied to the new Data Model
                                            version.</small></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="versionType === 'newDocumentVersion'">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div style="margin-bottom: 10px">
                                    <span class="badge importFormStep themeBackgroundColor">2</span>
                                    <span class="importFormStepTitle">&nbsp;Please provide the following details:</span>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div [ngClass]="{'form-group':true, 'has-error': errors && errors.copyPermissions}"
                                        style="margin-bottom: 0px;">
                                        <input type="checkbox" id="moveDataFlows" ng-model="form.moveDataFlows">
                                        <label style="padding-left: 5px" for="copyPermissions">Move Dataflows</label>
                                        <span class="help-block"
                                            *ngIf="errors && errors"><small>{{errors}}</small></span>
                                    </div>
                                    <span class="help-block" style="margin-top:0px;"><small>If checked, all Dataflows
                                            which this Data Model is a target of will be moved to the new Document
                                            Model.</small></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="step > 1">
                        <div class="col-lg-12 col-md-9 col-sm-12">
                            <button class="btn btn-success btn-sm" (click)="save()" [disabled]="processing">
                                Submit
                            </button>
                            <button class="btn btn-default btn-sm" (click)="cancel()" [disabled]="processing">
                                Cancel
                            </button>
                            <div style="margin-top: 5px;" *ngIf="processing">
                                <mat-progress-bar value="50" bufferValue="75" color="primary" mode="indeterminate">
                                </mat-progress-bar>
                            </div>
                        </div>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>