html, body, mdm-root, #mdm-ui, mdm-ui-view {
  height: 100%;
}
body, mdm-root {
  display: flex;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}

strong {
  font-weight: 600;
}
ol li, ul li {
  font-size: $defaultFontSize;
}
@media only screen and (min-width: 1600px) {
  .container {
    max-width: 1600px;
    width: 1600px;
  }
}
.container {
  @include respond-to(992px) {
    max-width: 100%;
    width: 100%;
  }
}
.mdm--container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

label {
  @include font(20px, 600);
  margin-bottom: 0;
}
em {
  font-style: oblique;
}

a.show-more, a.show-less {
  color: $defaultLinkColour;
  text-decoration:none;
  cursor: pointer;
}
.pill-card--red, .pill-card--green {
  padding: 5px 10px;
  list-style: none;
  font-size: 16px;
  border-radius: 20px;
  display: inline-block;
}
.pill-card--red {
  color: #fff;
  background-color: #A5122A;
}
.pill-card--green {
  color: #fff;
  background-color: #0A8535;
  // color: #0A8535;
  //   background-color: rgba(29,201,183,.1);
}
hr {
  margin-top: 16px;
  margin-bottom: 16px;
}
.mat-body, .mat-body-1, .mat-typography {
  @include respond-to($tablet) {
    font: 500 16px/24px Nunito Sans, sans-serif;
  }
}

.helpIcon {
  color: $defaultLinkColour;
  cursor: pointer;
}
mat-progress-bar.mat-progress-bar.mat-primary {
  margin-top: 16px;
}

.fa.fa-remove:before {
  content: "\f2ed";
}

.input-group > .custom-select:not(:last-child), .input-group > .form-control:not(:last-child) {
  border-radius: 5px;
}


/* Breadcrumbs */
.breadcrumbClassification.emptyBackground {
  background-color: transparent !important;
}

.breadcrumbClassification {
  margin-right: 8px;
  padding: 2px 8px;
  margin-bottom: 2px;
  list-style: none;
  font-size: 12px;
  background-color: #f5f5f5;
  border-radius: 4px;
  display: inline-block;

  > li {
    display: inline-block;

    .breadcrumbRemoveButton {
      &:before {
        content: none;
      }

      padding-left: 3px;
      color: #c62828;
    }
  }
}
.breadcrumbClassification > li {
	display: inline-block;
}
.breadcrumbClassification > li + li:before {
  padding: 0px 0px 0px 3px;
  color: #000;
  content: "/";
}

.breadcrumbClassification > li.breadcrumbRemoveButton:before {
  content: none;
}

.mdm--shadow-block {
  box-shadow: 0 0 13px 0 rgba(82,63,105,.05);
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 4px;
  .panel-body {
    padding: 14px 20px;
    border: 1px solid #f3f3f3;
  }
}

.mat-badge-medium.mat-badge-above .mat-badge-content {
  top: 1px;
  right: -28px;
}

.mdm--element-count {
  background-color: #777777;
  color: #fff;
  margin: 0px 3px;
}
.mdm--badge {
  display: inline-block;
  padding: 8px 9px;
  font-size: 17px;
  font-weight: 700;
  line-height: 0.9;
  text-align: center;
  border-radius: 0.25rem;
}

a {
  color: #337ab7;
}

.breadcrumb {
  display: inline-flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 4px 8px;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #e9ecef;
  border-radius: .25rem;
  margin-bottom: 0;
}

.loading-spinner {
  @include size();
  div {
    position: absolute;
    top:70%;
    left:40%;
  }
  i {
    font-size: 75px;
  }
}

.badge {
  font-size: 100%;
}

a {
  color: #337ab7;
}

.breadcrumb {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: .5rem .75rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #e9ecef;
  border-radius: .25rem;
  margin-bottom: 0;
}

.loading-spinner {
  @include size();
  div {
    position: absolute;
    top:70%;
    left:40%;
  }
  i {
    font-size: 75px;
  }
}
