html, body, mdm-root, #mdm-ui, mdm-ui-view {
  height: 100%;
}
body, mdm-root {
  display: flex;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
mdm-footer {
  flex-shrink: 0;
}
strong {
  font-weight: 600;
}
ol li, ul li {
  font-size: $defaultFontSize;
}
@media only screen and (min-width: 1600px) {
  .container {
    max-width: 1600px;
    width: 1600px;
  }
}
.container {
  @include respond-to(992px) {
    max-width: 100%;
    width: 100%;
  }
}
label {
  @include font(20px, 500);
  margin-bottom: 0;
}
.table > thead > tr > th {
  border: none !important;
}
table.mat-table .mat-header-cell {
  font-size: $defaultFontSize;
  font-weight: 500;
}
table.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fcfcfd;
}
.highlight {
  background-color: #FCFCFC;
  padding: 24px 0;
}
a.show-more, a.show-less {
  color: $defaultLinkColour;
  text-decoration:none;
  cursor: pointer;
}
.pill-card--red, .pill-card--green {
  padding: 5px 10px;
  list-style: none;
  font-size: 16px;
  border-radius: 20px;
  display: inline-block;
}
.pill-card--red {
  color: #fff; 
  background-color: #A5122A;
}
.pill-card--green {
  color: #fff; 
  background-color: #0A8535;
  // color: #0A8535;
  //   background-color: rgba(29,201,183,.1);
}
hr {
  margin-top: 16px;
  margin-bottom: 16px;
}
.mat-body, .mat-body-1, .mat-typography {
  @include respond-to($tablet) {
    font: 500 16px/24px Nunito Sans, sans-serif;
  }
}

input[type="checkbox"] {
  cursor: pointer;
}
.helpIcon {
  color: $defaultLinkColour;
  cursor: pointer;
}
mat-progress-bar.mat-progress-bar.mat-primary {
  margin-top: 16px;
}
.step-description {
  font-size: 13px;
  line-height: 1.5;
}
.fa.fa-remove:before {
  content: "\f2ed";
}


tr td.mat-cell, tr td.mat-footer-cell, tr th.mat-header-cell {
  padding: 0.75em;
  border-bottom: .07rem dashed #ebedf2;
}