/* Modal window specific style */
.modal-footer {
  text-align: left;
  padding: 0;
}
.modal-body {
  // padding: 0;
}
.cdk-overlay-container {
  z-index: 1050;
}

.cdk-overlay-pane {
  @include respond-to($mobile) {
    min-width: 90%!important;
    max-width: 80vw;
  }
}