<div style="min-width: 400px;">
    <div style="float:left; margin-left: 10px;">
        <div>
            <p class="marginless">From</p>
            <input type="text" class="outlined-input" [min]="date1Options.minDate" [max]="date1Options.maxDate" [matDatepicker]="dp1" [(ngModel)]="dtFrom" [required]="true" (ngModelChange)="datePicker1Changed($event, oldVal); oldVal = $event;">
            <mat-datepicker #dp1></mat-datepicker>
            <span class="input-group-btn">
                <button mat-stroked-button color="warn" class="paddingless" (click)="clear1()" aria-label="Clear" matTooltip="Clear">
                    <i class="fas fa-times"></i>
                </button>
                <button mat-flat-button color="primary" class="paddingless" (click)="open1()" aria-label="Open calendar" matTooltip="Open calendar">
                    <i class="far fa-calendar-alt"></i>
                </button>
            </span>
        </div>
    </div>
    <div style="float:left; margin-left: 10px;">

        <p class="marginless">To</p>
        <input type="text" class="outlined-input" [min]="date2Options.minDate" [max]="date2Options.maxDate" [matDatepicker]="dp2" [(ngModel)]="dtTo" [required]="true" (ngModelChange)="datePicker2Changed($event, oldVal); oldVal = $event;">
        <mat-datepicker #dp2></mat-datepicker>
        <span class="input-group-btn">
            <button mat-stroked-button color="warn" class="paddingless" (click)="clear2()" aria-label="Clear" matTooltip="Clear">
                <i class="fas fa-times"></i>
            </button>
            <button mat-flat-button color="primary" class="paddingless" (click)="open2()" aria-label="Open calendar" matTooltip="Open calendar">
                <i class="far fa-calendar-alt"></i>
            </button>
        </span>
    </div>
</div>