<div class="ngTable">
    <table ng-table="tableParams" class="table table-condensed table-bordered table-striped">
        <tr ng-repeat="row in $data">

            <td header-class="'hidden-xs'" class="hidden-xs col-sm-2 col-md-2 col-lg-2" data-title="'Name'" filter="{label: 'text'}" sortable="'label'">
                {{ row.label }}
            </td>
            <td header-class="'hidden-xs'" class="hidden-xs col-sm-2 col-md-2 col-lg-2" data-title="'Description'" filter="{description: 'text'}" sortable="'description'">
                {{ row.description }}
            </td>

            <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="white-space: nowrap">
                <div style="float: right;margin-bottom: 3px">


                    <button type="button"
                            class="btn btn-default btn-xs"
                            uib-tooltip="Edit"
                            ng-click="onEdit(row)">
                        <i class="fa fa-edit editButton themeColor"></i>
                    </button>

                    <button type="button"
                            class="btn btn-default btn-xs"
                            uib-tooltip="Delete"
                            ng-click="delete(row, $index)">
                        <i class="fa fa-trash-o mcTableDeleteBtn"></i>
                    </button>


                </div>
            </td>
        </tr>
    </table>
</div>
