<div>
	<div class="row" style="padding: 5px">
		<div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
			<div style="text-align: left;margin-left: 10px;">
				<h2>Metadata Catalogue <b>Core</b></h2>
				<p class="lead">Data models and terminologies</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
			<mat-tab-group [selectedIndex]="activeTab.index"
						   (selectedIndexChange)="tabSelected($event)"
						   dynamicHeight dynamicWidth>
				<mat-tab>
					<ng-template mat-tab-label>
						<i class="fa fa-users"></i>&nbsp;
						<span class="title">Active Sessions</span>
					</ng-template>
					<app-active-sessions></app-active-sessions>
				</mat-tab>
				<mat-tab>
					<ng-template mat-tab-label>
						<i class="fa fa-plug"></i>&nbsp;
						<span class="title">Plugins & Modules</span>
					</ng-template>
					<div style="width: 100%; margin-top: 20px;">
						<div style="width: 30%;">
							<app-modules></app-modules>							
						</div>
						<div style="width: 80%;">
							<app-plugins></app-plugins>
						</div>
					</div>
				</mat-tab>
			</mat-tab-group>
		</div>
	</div>
</div>

















