<mat-tab-group [selectedIndex]="activeTab.index" (selectedIndexChange)="tabSelected($event)" dynamicHeight dynamicWidth>
	<mat-tab>
		<ng-template mat-tab-label>
			<i class="fas fa-users"></i>&nbsp;
			<span class="title">Active Sessions</span>
		</ng-template>
		<mdm-active-sessions></mdm-active-sessions>
	</mat-tab>
	<mat-tab>
		<ng-template mat-tab-label>
			<i class="fas fa-plug"></i>&nbsp;
			<span class="title">Plugins & Modules</span>
		</ng-template>
		<div style="width: 100%; margin-top: 20px;">
			<div>
				<mdm-modules></mdm-modules>
			</div>
			<div>
				<app-plugins></app-plugins>
			</div>
		</div>
	</mat-tab>
</mat-tab-group>
