<mat-tree #foldersTree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding matTreeNodePaddingIndent="20">
        <button mat-icon-button disabled></button>

        <!-- Use #nodeContentTemplate ng-template and pass in node as default context. -->
        <ng-container *ngTemplateOutlet="nodeContentTemplate; context:{$implicit: node}"></ng-container>
    </mat-tree-node>

    <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding matTreeNodePaddingIndent="20" (contextmenu)="noop($event)">
        <!-- Do not show expansion icon if node's domain type not in expandOnNodeClickFor list  -->
        <ng-container *ngIf="expandOnNodeClickFor && !expandOnNodeClickFor.includes(node.domainType)">
            <button mat-icon-button disabled></button>
        </ng-container>

        <!-- Default to show expansion icon -->
        <ng-container *ngIf="!expandOnNodeClickFor || expandOnNodeClickFor.includes(node.domainType)">
            <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name" (click)="toggleChildren(node)">
                <mat-icon class="mat-icon-rtl-mirror" fontSet="fa" fontIcon="{{treeControl.isExpanded(node) ? 'fa-minus' : 'fa-plus'}}"></mat-icon>
            </button>
        </ng-container>

        <!-- Use #nodeContentTemplate ng-template and pass in node as default context. -->
        <ng-container *ngTemplateOutlet="nodeContentTemplate; context:{$implicit: node}"></ng-container>
    </mat-tree-node>
</mat-tree>