<form ngNativeValidate #myForm="ngForm" class="full-width">
  <div class="mdm--form-input">
      <mat-form-field appearance="outline" class="full-width">
          <mat-label>Label</mat-label>
          <input matInput type="text" name="label" [(ngModel)]="model.label" required="required" />
      </mat-form-field>
  </div>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Description</mat-label>
    <textarea matInput name="description" [(ngModel)]="model.description"></textarea>
  </mat-form-field>
</form>
