<div class="form-group">
    <span>Please enter Classifier details:</span>
    <form ngNativeValidate #myForm="ngForm">
        <table class="table table-bordered dataModelDetailTable" ngModelGroup="model">
            <tbody>
                <tr>
                    <th class="detailsRowHeader">Label *</th>
                    <td>
                        <input type="text" class="form-control outlined-input" name="label" [(ngModel)]="model.label"
                            required="required" />
                    </td>
                </tr>

                <tr>
                    <th class="detailsRowHeader">Description</th>
                    <td>
                        <textarea type="text" class="form-control outlined-input" name="description" [(ngModel)]="model.description"></textarea>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>