<div>
    <div class="container-fluid content">
        <div class="row menuTwoSidePanel" style="padding-top: 60px">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 leftPanel">
            <div class="leftMenu" style="margin-top: 15px;">
                <h4  class="hidden-xs">General</h4>
                <ul class="list-group">
                    <!--<li class="category"><a href="#">General</a></li>-->

                    <li class="list-group-item">
                        <a ui-sref="appContainer.mainApp.twoSidePanel.catalogue.allDataModel">
                            <div>
                                <i class="fa fa-home" aria-hidden="true"></i> <span class="hidden-xs">Home</span>
                            </div>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a ui-sref="appContainer.adminArea.home">
                            <div>
                                <i class="fa fa-dashboard" aria-hidden="true"></i> <span class="hidden-xs">Dashboard</span>
                            </div>
                        </a>
                    </li>


                    <li class="list-group-item">
                        <a ui-sref="appContainer.adminArea.modelManagement">
                            <div>
                                <i class="fa fa-list" aria-hidden="true"></i> <span class="hidden-xs">Model Management</span>
                            </div>
                        </a>
                    </li>


                    <li class="list-group-item">
                        <a ui-sref="appContainer.adminArea.emails">
                            <div>
                                <i class="fa fa-envelope" aria-hidden="true"></i> <span class="hidden-xs">Emails</span>
                            </div>
                        </a>
                    </li>

                    <li class="list-group-item">
                        <a ui-sref="appContainer.adminArea.users">
                            <div><i class="fa fa-user" aria-hidden="true"></i> <span class="hidden-xs">Users</span></div>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a ui-sref="appContainer.adminArea.pendingUsers">
                            <div>
                                <i class="fa fa-check" aria-hidden="true"></i>
                                <span  class="hidden-xs">
                            Pending Users <span style="background-color: #c62828 !important"  class="badge element-count ng-binding" aria-hidden="false" ng-show="pendingUsersCount != 0">{{pendingUsersCount}}</span>
                        </span>
                            </div>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a ui-sref="appContainer.adminArea.groups">
                            <div><i class="fa fa-users" aria-hidden="true"></i> <span class="hidden-xs">Groups</span></div>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a ui-sref="appContainer.adminArea.configuration">
                            <div><i class="fa fa-cog" aria-hidden="true"></i> <span class="hidden-xs">Configuration</span></div>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href ng-click="logout()">
                            <div><i class="fa fa-sign-out" aria-hidden="true"></i> <span class="hidden-xs">Log out</span></div>
                        </a>
                    </li>
                    <!--<li class="item"><a href="#">Roles</a></li>-->
                    <!--<li class="category"><a href="#">General</a></li>-->
                    <!--<li class="item"><a href="#">Logs</a></li>-->
                </ul>
            </div>
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 rightPanel"  style="min-height: calc(99vh - 60px);">
            <div style="padding: 10px;" ui-view></div>
            <div style="position: absolute;bottom: 0;">
                <div mc-footer></div>
            </div>
        </div>
</div>
    </div>
</div>