<div style="margin-top: 10px">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <h4>Data Models Bulk Delete</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12" style="padding-bottom: 10px;">
            <div>
                <span class="badge importFormStep themeBackgroundColor">1</span>
                <span class="importFormStepTitle">&nbsp;Please select one or more element(s):</span>
                <div style="margin-top: 10px;">

                    <div class="form-group">
                        <label for="filterElement">Filter elements by type:</label>
                        <select class="form-control" id="filterElement" ng-model="filterElement" ng-change="onFilterChange()">
                            <option value="" selected></option>
                            <option value="dataModel">DataModel</option>
                            <option value="terminology">Terminology</option>
                        </select>
                    </div>


                    <div class="form-group">
                        <label for="filterStatus">Filter element by status:</label>
                        <select class="form-control"
                                id="filterStatus"
                                ng-disabled="filterElement === ''"
                                ng-model="filterStatus"
                                ng-change="onFilterChange()">
                            <option value="" selected></option>
                            <option value="deleted">Mark as Deleted</option>
                            <option value="documentSuperseded">Document Superseded</option>
                            <option value="modelSuperseded">Model Superseded</option>
                        </select>
                    </div>

                </div>
            </div>
            <div ng-if="!reloading">
                <div style="border: 1px solid #ccc;background-color:#FFF; width:100%;z-index: 900; border-radius: 5px;">
                    <div style="width: 100%; height: 400px;overflow-y: auto">
                        <folders-tree-2
                                do-not-make-selected-bold="true"
                                do-not-show-data-classes="true"
                                do-not-show-terms="true"
                                enable-local-storage="false"
                                default-checked-map="true"
                                show-checkbox-for="['DataModel','Terminology']"
                                accepts="['DataModel','Terminology']"
                                propagate-checkbox="true"
                                enable-local-storage="false"
                                node="folders"
                                on-node-checked="onNodeChecked">
                        </folders-tree-2>
                    </div>
                </div>
            </div>
            <div style="height: 100px" ng-if="reloading">
                <div style="width: 100%;height: 100%;" class="treeWaitingSpinner">
                    <div style="position: absolute;top:70%;left:40%;">
                        <a style="font-size: 75px;" class="themeColor">
                            <i class="fa fa-refresh fa-spin"></i>
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
            <div ng-if="selectedElementsCount > 0">
                <div style="margin-bottom: 10px">
                    <span class="badge importFormStep themeBackgroundColor">2</span>
                    <span class="importFormStepTitle">&nbsp;You can delete the following selected element(s) <strong>{{selectedElementsCount}}</strong> :
                    </span>
                </div>
                <div ng-repeat="(key, record) in selectedElements">
                    <element-link
                            show-type-title="true"
                            new-window="true"
                            mc-parent-data-model="{id:record.dataModel}"
                            mc-parent-data-class="{id:record.dataClass}"
                            mc-element="record"></element-link>
                    </span>
                </div>
                <div style="padding-top: 20px;">
                    <button type="button" class="btn btn-default btn-xs"  ng-click="askForPermanentDelete()" ng-disabled="deleteInProgress">
                        <i class="fa fa-trash-o deleteButton"></i> Delete <strong class="deleteButton">Permanently</strong>
                    </button>
                    <button type="button" class="btn btn-default btn-xs" ng-click="askForSoftDelete()" ng-disabled="deleteInProgress">
                        <i class="fa fa-check deleteButton"></i> Mark as Deleted
                    </button>
                    <span class="deleteInProgressSpinner" style="margin-bottom: 3px;position: relative; margin-right:8px;" ng-if="deleteInProgress">
                        <a style="font-size: 14px; text-decoration: none;">
                            <i class="fa fa-refresh fa-spin"></i> Deleting...
                        </a>
                    </span>
                    <div class="alert alert-success" style="margin-top: 10px;" ng-if="deleteSuccessMessage">
                        {{deleteSuccessMessage}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>