<form class="mdm--form mdm--form-modal" (keyup)='$event.keyCode != 13;'>
    <h3 class='modal-title text-center'>Forgot your password?</h3>
    <p class="mdm--block text-center">
        Enter below your email address for your account and we will send you a password reset link.
    </p>
    <div class="mdm--form-input">
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput name="username" [(ngModel)]='username' autocomplete="on" placeholder="Enter your email" required>
        </mat-form-field>
    </div>
    <div class="mdm--block">
        <button mat-flat-button class="custom mdm--form-button" color="primary" (click)='resetPassword()'>Recover password</button>
    </div>
    <div class="text-center">
        <button mat-button color="primary" class="forgotPassword" (click)='login()'>Back to Log in</button>
    </div>

    <div *ngIf="message == 'success'">
        <div class="modal-footer">
            <div class="mdm--block">
                <div class="alert alert-success">
                    <p>
                        <i class="fas fa-check"></i>
                        A password reset message was sent to your email address. Please check the link in that message
                        to reset your password.
                    </p>
                    <p>If you don't receive the password reset message within a few moments, please check your spam
                        folder or other filtering tools. </p>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="message == 'error'">
        <div class="modal-footer">
            <div class="mdm--block">
                <div class="alert alert-danger">
                    <p>
                        <i class="fas fa-exclamation-triangle"></i>
                        There was a problem sending a reset message to your email address.
                    </p>
                </div>
            </div>
        </div>
    </div>
</form>