<div>
    <small [hidden]="!(record.inDelete)">
        Are you sure?
    </small>
</div>
<button mat-button color="primary" type="button" class="paddingless" *ngIf="!hideEdit && !record.inEdit && !record.inDelete" (click)="editClicked(record, index)" matTooltip="Edit">
    <i class="fas fa-pencil-alt"></i>
</button>
<button mat-button color="accent" type="button" class="paddingless" *ngIf="record.inEdit" (click)="saveClicked(record, index)" matTooltip="Save">
    <i class="fas fa-check"></i>
</button>
<button mat-button color="warn" type="button" class="paddingless" *ngIf="record.inEdit" (click)="editCancelled(record, index)" matTooltip="Cancel edit">
    <i class="fas fa-times"></i>
</button>

<button mat-button color="warn" type="button" class="paddingless" *ngIf="!hideDelete && !record.inEdit && !record.inDelete" (click)="deleteClicked(record, index)" matTooltip="Delete">
    <i class="far fa-trash-alt"></i>
</button>
<button mat-button color="accent" type="button" class="paddingless" *ngIf="record.inDelete" (click)="deleteApproved(record, index)" matTooltip="Approve">
    <i class="fas fa-check"></i>
</button>
<button mat-button color="warn" type="button" class="paddingless" *ngIf="record.inDelete"  (click)="deleteCancelled(record, index)" matTooltip="Cancel deletion">
    <i class="fas fa-times"></i>
</button>