<div class="form-group">
    <div style="margin: 10px 0px;">
        <span>Default Data Types (optional):</span>
        <br>You can add default Data Types for this Data Model.
        <br>Please select one of the Data Type categories that you expect to have all its Data Types in this Data Model:
    </div>

    <div class="row" style="margin-bottom: 10px;">
        <div class="col-lg-6 col-md-6 col-xs-10 col-sm-10">
            <mc-select [width]="'100%'"
                       [multi-select]="false"
                       [accept-typed-input]="false"
                       [value-type]="'static'"
                       [static-values]="defaultDataTypeProviders"
                       [id-property]="'name'"
                       [display-property]="'displayName'"
                       [search-property]="'displayName'"
                       (on-select)="onSelectDataTypeProvider($event)">
                <ng-template #lineContent let-item>
                    <div>{{item.displayName}} <span style="font-style: italic;font-size: 10px;">{{item.version}}</span></div>
                </ng-template>
            </mc-select>
        </div>
    </div>


    <div class="row" style="margin-bottom: 10px;" *ngIf="dataTypes">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <element-owned-data-type-list [parent]="{editable:false}"
                                          [type]="'static'"
                                          [loading-data]="loadingData"
                                          [child-owned-data-types]="dataTypes"></element-owned-data-type-list>
        </div>
    </div>

</div>
