
<div style="margin: 10px 0px;">
    <p>
        You can add default Data Types for this Data Model.
        <br>Default Data Types (optional):
        <br>Please select one of the Data Type categories that you expect to have all its Data Types in this Data Model:
    </p>
</div>

<div class="row" style="margin-bottom: 10px;">
    <div class="col-lg-6 col-md-6 col-xs-10 col-sm-10">
        <mdm-select [width]="'100%'"
                    [multiSelect]="false"
                    [acceptTypedInput]="false"
                    [valueType]="'static'"
                    [staticValues]="defaultDataTypeProviders"
                    [idProperty]="'name'"
                    [displayProperty]="'displayName'"
                    [searchProperty]="'displayName'"
                    (selectEvent)="onSelectDataTypeProvider($event)">
            <ng-template #lineContent let-item>
                <div>{{item.displayName}} <span style="font-style: italic;font-size: 10px;">{{item.version}}</span></div>
            </ng-template>
        </mdm-select>
    </div>
</div>


<div class="row mdm--block" *ngIf="dataTypes">
    <mdm-element-owned-data-type-list [parent]="{editable:false}"
                                      [type]="'static'"
                                      [loadingData]="loadingData"
                                      [childOwnedDataTypes]="dataTypes"></mdm-element-owned-data-type-list>
</div>
