<div>
    <div ng-repeat="enum in diffs" style="position: relative;">
        <div ng-if="enum.created" style="display: table;margin-bottom: 3px;">
            <div class="comparisonRow created" style="margin-right: 5px;display: table-cell;width:20px;">
            </div>
            <div style="padding-left: 5px">{{enum.label}}</div>
        </div>
        <div ng-if="enum.modified" style="display: table;margin-bottom: 3px;">
            <div style="display: table-cell;width:20px;" class="comparisonRow modified">
            </div>
            <div style="display: table-cell;padding-left: 5px;">
                {{enum.label}}
                <div style="padding-left: 12px"><span style="border-bottom: 1px dashed #000;opacity: 0.7;">{{enum.left}}</span></div>
                <div style="padding-left: 12px"><span style="border-bottom: 1px dashed #000;">{{enum.right}}</span></div>
            </div>
        </div>
        <div ng-if="enum.deleted" style="display: table;margin-bottom: 3px;">
            <div class="comparisonRow deleted" style="margin-right: 5px;display: table-cell;width:20px;">
            </div>
            <div style="padding-left: 5px">{{enum.label}}</div>
        </div>
    </div>
</div>