<div class="heading-container">
    <h4>
        <span *ngIf="user.id">Edit User</span>
        <span *ngIf="!user.id">Add User</span>
    </h4>
</div>

<form name="editableForm" class="mdm--form">
    <div class="mdm--form-input">
        <mat-form-field appearance="outline">
            <mat-label>First name*</mat-label>
            <input matInput name="firstName" [(ngModel)]="user.firstName">
            <mat-error *ngIf="errors && errors['firstName']"> -->
                {{errors['firstName']}}
            </mat-error>
        </mat-form-field>
    </div>
    <div class="mdm--form-input">
        <mat-form-field appearance="outline">
            <mat-label>Last name*</mat-label>
            <input matInput name="lastName" [(ngModel)]="user.lastName">
            <mat-error *ngIf="errors && errors['lastName']">
                {{errors['lastName']}}
            </mat-error>
        </mat-form-field>
    </div>
    <div class="mdm--form-input">
        <mat-form-field appearance="outline">
            <mat-label>Email*</mat-label>
            <input matInput name="emailAddress" [(ngModel)]="user.emailAddress">
            <mat-error *ngIf="errors && errors['emailAddress']">
                {{errors['emailAddress']}}
            </mat-error>
        </mat-form-field>
    </div>
    <div class="mdm--form-input">
        <mat-form-field appearance="outline">
            <mat-label>Organisation</mat-label>
            <input matInput name="organisation" [(ngModel)]="user.organisation">
        </mat-form-field>
    </div>
    <div class="mdm--form-input">
        <mat-form-field appearance="outline">
            <mat-label>Role in organisation</mat-label>
            <input matInput name="jobTitle" [(ngModel)]="user.jobTitle">
        </mat-form-field>
    </div>
    <div class="mdm--form-input">
        <mat-form-field appearance="outline">
            <mat-label>Role*</mat-label>
            <mat-select name="userRole" [(ngModel)]="user.userRole">
                <mat-option *ngFor="let role of roles" [value]="role.value">{{role.text}}</mat-option>
            </mat-select>
            <mat-error *ngIf="errors && errors['userRole']">
                {{errors['userRole']}}
            </mat-error>
        </mat-form-field>
    </div>
    <div class="mdm--form-input mdm--block">
        <mat-label>Groups*</mat-label>
        <mdm-select
                [width]="'100%'"
                [multiSelect]="true"
                [acceptTypedInput]="false"
                [valueType]="'static'"
                [staticValues]="allGroups"
                [defaultValue]="user.groups"
                [idProperty]="'id'"
                [displayProperty]="'label'"
                [searchProperty]="'label'"
                (selectEvent)="onGroupSelect">
                <ng-template #lineContent let-item>
                    <div>{{item.label}}</div>
                </ng-template>
        </mdm-select>
    </div>

    <button mat-button type="button" (click)="cancel()">
        Cancel
    </button>
    <button mat-flat-button color="primary" type="submit" class="custom" (click)="save()">
        <span *ngIf="user.id">Update user details</span>
        <span *ngIf="!user.id">Add user</span>
    </button>

</form>
