<div class="heading-container">
    <h4>Data models bulk delete</h4>
</div>
		
<div class="row">
	<div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
		<h3>Please select one or more element(s):</h3>
		<div class="mdm--block">
			<label id="filterElement">Filter elements by type:</label>
			<mat-radio-group aria-label="filterElement" class="marginless" name="filterElement" [(ngModel)]="filterElement" (ngModelChange)="onFilterChange()">
				<mat-radio-button value="dataModel">Data Model</mat-radio-button>
				<mat-radio-button value="terminology">Terminology</mat-radio-button>
			</mat-radio-group>
		</div>
		<div class="mdm--block">
			<label for="filterStatus">Filter element by status:</label>
			<mat-radio-group aria-label="filterStatus" class="marginless" name="filterStatus" [disabled]="filterElement === ''" [(ngModel)]="filterStatus" (ngModelChange)="onFilterChange()">
				<mat-radio-button value="deleted">Mark as Deleted</mat-radio-button>
				<mat-radio-button value="documentSuperseded">Document Superseded</mat-radio-button>
				<mat-radio-button value="modelSuperseded">Model Superseded</mat-radio-button>
			</mat-radio-group>
		</div>

		<div *ngIf="!reloading">
			<div class="treeDropDown">
				<div style="width: 100%; height: 400px; overflow-y: auto">
					<mdm-folders-tree
						doNotMakeSelectedBold="true"
						doNotShowDataClasses="true"
						doNotShowTerms="true"
						defaultCheckedMap="true"
						showCheckboxFor="['DataModel','Terminology']"
						propagateCheckbox="true"
						[node]="folders"
						tree-name="'folders'"
						(nodeCheckedEvent)="onNodeChecked($event[0])"></mdm-folders-tree>
					<!--accepts="['DataModel','Terminology']"-->
				</div>
			</div>
		</div>
		<div style="height: 100px" *ngIf="reloading">
			<div style="width: 100%;height: 100%;" class="treeWaitingSpinner">
				<div style="position: absolute;top:70%;left:40%;">
					<a style="font-size: 75px;" class="themeColor">
						<i class="fas fa-sync-alt fa-spin"></i>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
		<div *ngIf="selectedElementsCount > 0">
			<div style="margin-bottom: 10px">
				<h4 class="importFormStepTitle">
					You can delete the following selected element(s) <strong>{{selectedElementsCount}}</strong> :
				</h4>
			</div>
			<div *ngFor="let record of selectedElements">
				<mdm-element-link [show-type-title]="true"
				[new-window]="true"
				[parent-data-model]="{id:record.dataModel}"
				[parent-data-class]="{id:record.dataClass}"
				[element]="record"></mdm-element-link>
			</div>
			<div style="padding-top: 20px;">
				<button mat-stroked-button color="warn" type="button" class="custom" style="margin-right: 10px;" (click)="askForPermanentDelete()" [disabled]="deleteInProgress">
					<i class="far fa-trash-alt warning"></i> Delete <strong class="warning">Permanently</strong>
				</button>

				<button mat-flat-button color="warn" type="button" class="custom" (click)="askForSoftDelete()" [disabled]="deleteInProgress">
					<i class="far fa-trash-alt"></i> Mark as Deleted
				</button>
				
				<span class="deleteInProgressSpinner" style="margin-bottom: 3px;position: relative; margin-right:8px;" *ngIf="deleteInProgress">
					<a style="font-size: 14px; text-decoration: none;">
						<i class="fas fa-sync-alt fa-spin"></i> Deleting...
					</a>
				</span>
				<div class="alert alert-success" style="margin-top: 10px;" *ngIf="deleteSuccessMessage">
					{{deleteSuccessMessage}}
				</div>
			</div>
		</div>
	</div>
</div>