<div class="heading-container">
	<h4>There are {{totalItemCount}} users in this repository </h4>
	<i class="fas fa-filter" (click)="filterClick()"></i>
	<div class="addUserTrigger">
		<mdm-data-type-list-buttons [displayRecords]="records" [showContentDropdown]="false" [showDeleteButton]="false" [add]="add"></mdm-data-type-list-buttons>
	</div>
</div>

<div class="mcTableContainer">
	<table mat-table matSort [dataSource]="records" class="mdm--table table table-borderless table-striped table-responsive">

		<ng-container matColumnDef="firstName">
			<th mat-header-cell *matHeaderCellDef mat-sort-header="firstName" [disabled]="!hideFilters"
				style="cursor: pointer; max-width: 19%; width: 19%;" columnName="firstName">
				<span [hidden]="!hideFilters">First name</span>
				<div [hidden]="hideFilters">
					<mat-form-field class="filter" [style.width.px]="100" floatLabel="never">
						<mat-label>First name</mat-label>
						<input #filters matInput name="firstName" (keyup)="applyFilter()">
					</mat-form-field>
				</div>
			</th>
			<td mat-cell *matCellDef="let record" style="max-width: 19%; width: 19%; text-align: left; word-wrap: break-word;">
				<div>
					{{record.firstName}}
				</div>
			</td>
		</ng-container>
		<ng-container matColumnDef="lastName">
			<th mat-header-cell *matHeaderCellDef mat-sort-header="lastName" [disabled]="!hideFilters"
				style="cursor: pointer; max-width: 15%; width: 15%;" columnName="lastName">
				<span [hidden]="!hideFilters">Last name</span>
				<div [hidden]="hideFilters">
					<mat-form-field class="filter" [style.width.px]="100" floatLabel="never">
						<mat-label>Last name</mat-label>
						<input #filters matInput name="lastName" (keyup)="applyFilter()">
					</mat-form-field>
				</div>
			</th>
			<td mat-cell *matCellDef="let record"
				style="max-width: 15%; width: 15%; text-align: left; word-wrap: break-word;">
				<div>
					{{record.lastName}}
				</div>
			</td>
		</ng-container>
		<ng-container matColumnDef="emailAddress">
			<th mat-header-cell *matHeaderCellDef mat-sort-header="emailAddress" [disabled]="!hideFilters"
				style="cursor: pointer; max-width: 30%; width: 30%;" columnName="emailAddress">
				<span [hidden]="!hideFilters">Email</span>
				<div [hidden]="hideFilters">
					<mat-form-field class="filter" floatLabel="never">
						<mat-label>Email</mat-label>
						<input #filters matInput name="emailAddress" (keyup)="applyFilter()">
					</mat-form-field>
				</div>
			</th>
			<td mat-cell *matCellDef="let record"
				style="max-width: 30%; width: 30%; text-align: left; word-wrap: break-word;">
				<div>
					{{record.emailAddress}}
					<!-- <a href="#" (click)="editUser(record)"></a> -->
				</div>
			</td>
		</ng-container>
		<ng-container matColumnDef="organisation">
			<th mat-header-cell *matHeaderCellDef mat-sort-header="organisation" [disabled]="!hideFilters"
				style="cursor: pointer; max-width: 16%; width: 16%;" columnName="lastName">
				<span [hidden]="!hideFilters">Organisation</span>
				<div [hidden]="hideFilters">
					<mat-form-field class="filter" [style.width.px]="100" floatLabel="never">
						<mat-label>Organisation</mat-label>
						<input #filters matInput name="organisation" (keyup)="applyFilter()">
					</mat-form-field>
				</div>
			</th>
			<td mat-cell *matCellDef="let record"
				style="max-width: 18%; width: 18%; text-align: left; word-wrap: break-word;">
				<div>
					{{record.organisation}}
				</div>
			</td>
		</ng-container>
		<ng-container matColumnDef="userRole">
			<th mat-header-cell *matHeaderCellDef mat-sort-header="userRole" [disabled]="!hideFilters"
				style="cursor: pointer; max-width: 11%; width: 11%;" columnName="userRole">
				<span [hidden]="!hideFilters">Role</span>
			</th>
			<td mat-cell *matCellDef="let record"
				style="max-width: 11%; width: 11%; text-align: left; word-wrap: break-word;">
				<div>
					{{record.userRole | titlecase }}
				</div>
			</td>
		</ng-container>
		<ng-container matColumnDef="groups">
			<th mat-header-cell *matHeaderCellDef style="cursor: pointer; max-width: 14%; width: 14%;"
				columnName="groups">
				<span [hidden]="!hideFilters">Groups</span>
			</th>
			<td mat-cell *matCellDef="let record"
				style="max-width: 14%; width: 14%; text-align: left; word-wrap: break-word;">
				<div>
					<span *ngFor="let group of record.groups">
						<div class="group">
							<span (click)="editGroup(group)">{{group.label}}</span>
						</div>
					</span>
				</div>
			</td>
		</ng-container>
		<ng-container matColumnDef="status">
			<th mat-header-cell *matHeaderCellDef mat-sort-header="disabled" [disabled]="!hideFilters"
				style="cursor: pointer; max-width: 9%; width: 9%;" columnName="status">
				<span [hidden]="!hideFilters">Status</span>
			</th>
			<td mat-cell *matCellDef="let record" style="max-width: 10%; width: 10%; text-align: left; word-wrap: break-word;">
				<div>
					<span *ngIf="record.disabled" class="pill-card--red">Disabled</span>
					<span *ngIf="!record.disabled" class="pill-card--green">Active</span>
				</div>
			</td>
		</ng-container>

		<ng-container matColumnDef="icons">
			<th mat-header-cell *matHeaderCellDef style="cursor: pointer; max-width: 15%; width: 15%;" columnName="icons"></th>
			<td mat-cell *matCellDef="let record; let i = index" style="max-width: 15%; width: 15%; text-align: left; word-wrap: break-word;">
				<div style="float: right;margin-bottom: 3px">

					<button mat-flat-button color="primary" [matMenuTriggerFor]="actions" style="color: #1157a9; border: 1px solid rgba(17, 87, 169, 0.3); background-color: #fff;">Actions <i class="fas fa-chevron-down fa-xs"></i></button>
					<mat-menu #actions="matMenu" yPosition="below" xPosition="after">
						<button mat-menu-item (click)="resetPassword(record)" aria-label="Reset password">
							<i class="fas fa-key" color="primary"></i> Reset password
						</button>
						<button mat-menu-item (click)="editUser(record)">
							<i class="fas fa-pencil-alt" color="primary"></i> Edit user
						</button>
						<button mat-menu-item *ngIf="!record.disabled" (click)="toggleDeactivate(record)" aria-label="Deactivate">
							<i class="fas fa-ban warning"></i> Deactivate
						</button>
						<button mat-menu-item *ngIf="record.disabled" (click)="toggleDeactivate(record)" aria-label="Activate">
							<i class="fas fa-check saveButton"></i> Activate
						</button>
					</mat-menu>
				</div>
			</td>
		</ng-container>
		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let record; columns: displayedColumns;"></tr>
	</table>
</div>

<div class="mdm--mat-pagination">
	<mat-paginator [pageSizeOptions]="[5, 10, 20,50]" [pageSize]="20" [length]="totalItemCount" showFirstLastButtons></mat-paginator>
</div>
