<div style="text-align: right">
    <!-- Edit -->
    <button mat-stroked-button
            type="button"
            matTooltip="{{displayEditTitle}}"
            class="paddingless"
            [disabled]="processing"
            *ngIf="!editable.visible && !editable.deletePending && !hideEdit"
            (click)="editClicked()"
            aria-label="Edit">
        <i class="fas fa-pencil-alt editButton"></i>
    </button>

    <!-- Delete -->
    <button mat-stroked-button 
            type="button" 
            class="paddingless"
            matTooltip="Delete" 
            [disabled]="editable.waiting || processing"
            *ngIf="!hideDelete && !editable.deletePending" 
            (click)="deleteClicked()"
            aria-label="Delete">
        <i [ngClass]="!displayDeleteIcon ? ['far','displayDeleteIcon','warning','']: ['far','fa-trash-alt','warning']"></i>
    </button>


    <div *ngIf="!hideDelete && editable.deletePending">

        <span (show)="textLocation == 'left'" style="font-size: 11px;">Are you sure?</span>
        <!-- Confirm Delete -->
        <button mat-stroked-button
                type="button" 
                class="paddingless" 
                (click)="confirmDeleteClicked()"
                aria-label="Confirm delete">
            <i class="fas fa-check saveButton"></i>
        </button>

        <!-- Cancel Delete-->
        <button mat-stroked-button 
                type="button" 
                class="paddingless" 
                (click)="cancelDeleteClicked()"
                aria-label="Cancel delete">
            <i class="fas fa-times cancelButton"></i>
        </button>

        <span [hidden]="textLocation != 'bottom'" style="font-size: 11px;"><br>Are you sure?</span>
    </div>


        <!--edit Cancel -->
    <button mat-button 
            color="warn"
            type="button" 
            [disabled]="editable.waiting || processing"
            *ngIf="editable.visible && !hideCancel" 
            (click)="cancelEditClicked()"
            aria-label="Cancel edit">
            Cancel edit
    </button>

    <!-- Save -->
    <button mat-flat-button
            color="primary"
            type="submit" 
            class="custom"
            [disabled]="editable.waiting || editable.validationError"
            *ngIf="editable.visible" 
            (click)="saveClicked()"
            aria-label="Save">
            Save changes
    </button>
</div>