<div class="heading-container">
	<h4>There are {{totalItemCount}} modules in this repository. </h4>
</div>

<div class="mcTableContainer">
	<table mat-table matSort [dataSource]="dataSource" class="table table-borderless mdm--table table-striped">
		<ng-container matColumnDef="name">
			<th mat-header-cell *matHeaderCellDef mat-sort-header="name" [disabled]="!hideFilters" style="cursor: pointer; max-width: 78%; width: 78%;" columnName="name">
				<span [hidden]="!hideFilters">Name</span>
				<div [hidden]="hideFilters">
					<mat-form-field class="filter" [style.width.px]="100" floatLabel="never">
						<mat-label>Name</mat-label>
						<input #filters matInput name="name" (keyup)="applyFilter()">
					</mat-form-field>
				</div>
			</th>
			<td mat-cell *matCellDef="let record" style="max-width: 78%; width: 78%; text-align: left; word-wrap: break-word;">
				<div>
					{{record.name}}
				</div>
			</td>
		</ng-container>
		<ng-container matColumnDef="version">
			<th mat-header-cell *matHeaderCellDef mat-sort-header="version" [disabled]="!hideFilters" style="cursor: pointer; max-width: 22%; width: 22%;" columnName="version">
				<span [hidden]="!hideFilters">Version</span>
				<div [hidden]="hideFilters">
					<mat-form-field class="filter" [style.width.px]="100" floatLabel="never">
						<mat-label>Version</mat-label>
						<input #filters matInput name="version" (keyup)="applyFilter()">
					</mat-form-field>
				</div>
			</th>
			<td mat-cell *matCellDef="let record" style="max-width: 22%; width: 22%; text-align: left; word-wrap: break-word;">
				<div>
					<span [ngClass]="(record.isUI)?'label label-success':'label label-primary'">{{ record.version }}</span>
				</div>
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let record; columns: displayedColumns;"></tr>

	</table>
</div>
<br>
