<span [hidden]="!(description && description.length != 0)">
    <div *ngIf="showMore">
        <span [innerHTML]="fullDesc"></span>
        <a color="primary" class="show-less" (click)="toggle()" [hidden]="!(fullDesc && fullDesc.length > 0 && fullDesc.length > maxLength)">Show less</a>
    </div>
    <div *ngIf="!showMore">
        <span [innerHTML]="shortDesc"></span>&nbsp;
        <a color="primary" class="show-more" (click)="toggle()" [hidden]="!(shortDesc && shortDesc.length > 0  && fullDesc.length > maxLength)">Show more</a>
    </div>
</span>