<span [hidden]="!(description && description.length != 0)">
    <div *ngIf="showMore">
        <span [innerHTML]="fullDesc"></span>&nbsp;<a style="cursor: pointer;text-decoration:none;" (click)="toggle()"  [hidden]="!(fullDesc && fullDesc.length > 0 && fullDesc.length > maxLength)">close</a>
    </div>
    <div *ngIf="!showMore">
        <span [innerHTML]="shortDesc"></span>&nbsp;<a style="cursor: pointer;text-decoration:none;" (click)="toggle()"   [hidden]="!(shortDesc && shortDesc.length > 0  && fullDesc.length > maxLength)">more</a>
    </div>
</span>