
<div class="panel panel-default">
    <table class="table table-bordered table-condensed ">
        <thead>
            <tr>
                <th class="detailsRowHeader" colspan="3">
                    Import <i id="helpIcon" class="fa fa-info-circle themeColor" style="font-size: 14px;" (click)="loadHelp()" tooltip-placement="left" matTooltip="Help"></i>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div *ngIf="importers" style="margin-bottom: 10px">
                        <div style="margin-bottom: 10px">
                            <span class="badge importFormStep themeBackgroundColor">1</span>
                            <span class="importFormStepTitle">&nbsp;Please select an importer:</span>
                        </div>
                        <label>Importer *</label> <i *ngIf="importerHelp" id="importerHelpIcon" class="fa fa-info-circle themeColor" style="font-size: 14px;" (click)="loadImporterHelp()" matTooltipPostion="left" matTooltip="Help"></i>
                        <br />
                        <mat-select [(ngModel)]="selectedImporterStr" placeholder="Select..." (selectionChange)="importerChanged()" class="form-control mcSelect" style="width:90%">
                            <mat-option *ngFor="let item of importers" [value]="item">{{item.displayName}}</mat-option>
                        </mat-select>


                    </div>
                    <div *ngIf="step >= 2 && selectedImporterGroups && selectedImporterGroups.length > 0">
                        <div style="margin-bottom: 15px">
                            <span class="badge importFormStep themeBackgroundColor">2</span>
                            <span class="importFormStepTitle">&nbsp;Please fill the following form and press submit button:</span>
                        </div>

                        <form #userForm="ngForm" id="userForm" (ngSubmit)="submitForm(userForm.valid)" novalidate enctype="multipart/form-data" method="POST">

                            <div *ngFor="let group of selectedImporterGroups" class="form-group" style="margin: 0px 0px 20px 10px;">

                                <span style="font-weight: bold; font-style: italic;" class="themeColor">{{group.name}}</span>
                                <hr style="margin: 1px 0px; border-top: 1px solid" class="themeColor">


                                <div *ngFor="let option of group.parameters" style="margin: 0px 0px 0px 20px;">
                                    <label>{{option.displayName}}<span [hidden]="option.optional">*</span></label>
                                    <div class="importForm">{{option.description}}</div>

                                    <div *ngIf="option.type === 'Folder'">
                                        <model-selector-tree [tree-search-domain-type]="'Folder'"
                                                             [just-show-folders]="true"
                                                             [ng-model]="option.value"
                                                             (ngModelChange)="option.value = $event"
                                                             [accepts]="['Folder']"
                                                             [show-validation-error]="option.optional === false"
                                                             [is-required]="option.optional == false"></model-selector-tree>
                                    </div>

                                    <div *ngIf="option.type === 'DataModel'">
                                        <model-selector-tree [tree-search-domain-type]="'DataModel'"
                                                             [ng-model]="option.value"
                                                             [accepts]="['DataModel']"
                                                             (ngModelChange)="option.value = $event"
                                                             [show-validation-error]="option.optional === false"
                                                             [is-required]="option.optional == false"></model-selector-tree>
                                    </div>


                                    <div *ngIf="option.type === 'Text'">
                                        <div [ngClass]="{'has-error' : userForm.form.get(option.name)?.invalid && userForm.form.get(option.name)?.touched}">
                                            <textarea [(ngModel)]="option.value"
                                                      name="{{option.name}}"
                                                      id="{{option.name}}"
                                                      [required]="option.optional == false"
                                                      rows="5"
                                                      class="form-control">
                                        </textarea>
                                        </div>

                                    </div>
                                    <div *ngIf="option.type !== 'Folder' && option.type !== 'DataModel' && option.type != 'Text'">
                                        <div [ngClass]="{'has-error' : userForm.form.get(option.name)?.invalid && userForm.form.get(option.name)?.touched}">
                                            <input type="{{formOptionsMap[option.type]}}"
                                                   [(ngModel)]="option.value"
                                                   name="{{option.name}}"
                                                   id="{{option.name}}"
                                                   [ngClass]="{'form-control' : formOptionsMap[option.type] != 'checkbox'}"
                                                   [required]="option.optional === false"
                                                   [attr.valid-file]="formOptionsMap[option.type] == 'file'">
                                        </div>
                                    </div>
                                    <div class="has-error">
                                        <div *ngIf="userForm.form.get(option.name)?.errors?.number && option.type == 'Integer'">
                                            <span class="control-label">This is not a valid number.</span>
                                        </div>
                                        <div *ngIf="userForm.form.get(option.name)?.errors?.required && userForm.form.get(option.name)?.touched">
                                            <span class="control-label">This field is required.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="width: 100%;">
                                <div *ngIf="importingInProgress">
                                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                                </div>
                            </div>
                            <div style="margin-top: 10px;">
                                <button type="submit" class="btn btn-success" [disabled]="userForm.invalid || importingInProgress">Submit</button>
                                <button type="reset" class="btn btn-default" [disabled]="importingInProgress">Reset</button>
                            </div>
                        </form>
                    </div>
                    <div *ngIf="importCompleted && importResult.count > 1">
                        <hr>
                        <span><strong>The following Data Models ({{importResult.count}}) are imported successfully:</strong></span>
                        <div *ngFor="let import of importResult.items" style="padding-left: 5px;">
                            <div>
                                <element-link [element]="import"></element-link>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="importHasError && importErrors.length > 0" style="margin-top: 10px;">
                        <div class="alert alert-danger">
                            <strong>Import Errors ({{importErrors.length}})</strong>
                            <div *ngFor="let error of importErrors">
                                <div>{{error.message}}</div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>