<h2>Change Password</h2>
<form #changePasswordForm="ngForm" role='form' (keyup)='$event.keyCode != 13;'>
    <div *ngIf='message' class='alert alert-danger'>
        <a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a>
        {{message}}
    </div>
    <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Old password</mat-label>
        <mat-pass-toggle-visibility #toggleOldPassword matSuffix></mat-pass-toggle-visibility>
        <input required matInput [type]='toggleOldPassword.type' id='oldPassword' name='oldPassword' [(ngModel)]='oldPassword'/>
    </mat-form-field>


    <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Password</mat-label>
        <mat-pass-toggle-visibility #toggleNewPassword matSuffix ></mat-pass-toggle-visibility>
        <input autocomplete="new-password" required matInput [type]='toggleNewPassword.type' id='newPassword' name='newPassword' [(ngModel)]='newPassword'/>
    </mat-form-field>
    <mat-password-strength
            [password]='newPassword'
            class="green"
            [enableDigitRule]="true"
            [enableLengthRule]="true"
            [enableLowerCaseLetterRule]="true"
            [enableSpecialCharRule]="false"
            [enableUpperCaseLetterRule]="true"
    ></mat-password-strength>

    <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Confirm password</mat-label>
        <mat-pass-toggle-visibility #toggleConfirmPassword matSuffix></mat-pass-toggle-visibility>
        <input required matInput [type]='toggleConfirmPassword.type' id='confirmPassword' name='confirm' [(ngModel)]='confirm'/>
    </mat-form-field>

    <button type='button' class='btn btn-success' (click)='changePassword()' [disabled]='disabled()'><span class='glyphicon glyphicon-ok'></span> Change Password</button>

</form>
