<div class="heading-container">
    <h4>Change password</h4> 
</div>

<form #changePasswordForm="ngForm" role='form' (keyup)='$event.keyCode != 13;' class="mdm--form">
    <div *ngIf='message' class='alert alert-danger'>
        <a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a>
        {{message}}
    </div>
    <div class="mdm--form-input"> 
        <mat-form-field appearance="outline">
            <mat-label>Old password</mat-label>
            <mat-pass-toggle-visibility #toggleOldPassword matSuffix></mat-pass-toggle-visibility>
            <input matInput required [type]='toggleOldPassword.type' id='oldPassword' name='oldPassword'
                [(ngModel)]='oldPassword' />
        </mat-form-field>
    </div>
    <div class="mdm--block mdm--form-input">    
        <mat-form-field class="paddingless" appearance="outline">
            <mat-label>New password</mat-label>
            <mat-pass-toggle-visibility #toggleNewPassword matSuffix></mat-pass-toggle-visibility>
            <input matInput autocomplete="new-password" required [type]='toggleNewPassword.type' id='newPassword' 
                name='newPassword' [(ngModel)]='newPassword'>
        </mat-form-field>
        <mat-password-strength [password]='newPassword' class="green" [enableDigitRule]="true" [enableLengthRule]="true"
            [enableLowerCaseLetterRule]="true" [enableSpecialCharRule]="false" [enableUpperCaseLetterRule]="true">
        </mat-password-strength>
    </div>

    <mat-form-field appearance="outline">
        <mat-label>Confirm password</mat-label>
        <mat-pass-toggle-visibility #toggleConfirmPassword matSuffix></mat-pass-toggle-visibility>
        <input matInput required [type]='toggleConfirmPassword.type' id='confirmPassword' name='confirm' [(ngModel)]='confirm'>
    </mat-form-field>

    <button mat-flat-button type='button' color="primary" class='custom' (click)='changePassword()' [disabled]='disabled()'>
        Change password
    </button>

</form>
