<div class="panel panel-default mdm--shadow-block">
    <form editable-form name="form" onaftersave="onAfterSave()" (ngSubmit)="formBeforeSave()" disable-submit-on-enter>
        <div class="panel-body">
            <h4 class="marginless">
                <mdm-inline-text-edit [(ngModel)]="editableForm.label" name="labelName" [inEditMode]="editableForm.visible" [styleCss]="'dataTypeDetailsLabel'"></mdm-inline-text-edit>
            </h4>
            <div class="detail-icons">
                <div class="text-muted">
                  <small>
                        <i class="fas fa-cube" matTooltip="Item type"></i>
                        <span><strong>Item type: </strong><span class="item-type">Data Type</span></span>
                    </small>
                </div>
                <div class="text-muted">
                    <small>
                    <i class="far fa-calendar-check" matTooltip="Last update"></i>
                    <span><strong>Last Update:</strong> {{ mcDataTypeObject.lastUpdated | date:"yyyy-MM-dd HH:mm:ss" }}</span>
                  </small>
                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td class="detailsRowHeader">Aliases</td>
                    <td>
                        <div *ngIf="!editableForm.visible" style="max-width: 100%;">
                            <mdm-element-alias [inEditMode]="editableForm.visible" [aliases]="mcDataTypeObject?.aliases" [editableForm]="editableForm" [property]="'aliases'"></mdm-element-alias>
                        </div>
                        <div *ngIf="editableForm.visible" style="max-width: 50%;">
                            <mdm-element-alias [inEditMode]="editableForm.visible" [aliases]="mcDataTypeObject?.aliases" [editableForm]="editableForm" [property]="'aliases'"></mdm-element-alias>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class="detailsRowHeader">Description</th>
                    <td class="elementDetailDescription">
                        <mdm-markdown-text-area [editableForm]="editableForm" [element]="mcDataTypeObject" [property]="'description'"></mdm-markdown-text-area>
                    </td>
                </tr>
                <tr>
                    <th class="detailsRowHeader">DataModel</th>
                    <td class="elementDetailDescription">
                        <mdm-model-path [path]="mcDataTypeObject.breadcrumbs"></mdm-model-path>
                    </td>
                </tr>
                <tr>
                    <th class="detailsRowHeader">Type</th>
                    <td>
                        {{allDataTypesMap[mcDataTypeObject.domainType]["displayLabel"]}}
                        <mdm-element-data-type [elementDataType]="mcDataTypeObject"
                                           [hideName]="true"
                                           [showTypeName]="true"
                                           [onlyShowRefDataClass]="true"
                                           [hideEnumList]="true"></mdm-element-data-type>
                    </td>
                </tr>
                <tr>
                    <th class="detailsRowHeader">Classifications</th>
                    <td>
                        <mdm-element-classifications [classifications]="mcDataTypeObject.classifiers" [editableForm]="editableForm"></mdm-element-classifications>
                    </td>
                </tr>

                <tr show-if-role-is-writable mc-element="mcDataTypeObject">
                    <td colspan="2" style="text-align: right;">
                        <div style="float: right">
                            <mdm-editable-form-buttons
                                    [hideEdit]="true"
                                    [hideDelete]="true"
                                    [onCancelEdit]="onCancelEdit"
                                    [editable]="editableForm"
                                    [textLocation]="'left'">
                            </mdm-editable-form-buttons>
                        </div>
                        <div style="float: right">
                            <div  [hidden]="editableForm.visible || editableForm.deletePending" style="position: relative; margin-right:4px;">
                                <button mat-stroked-button
                                        color="warn"
                                        type="button"
                                        matTooltip="Delete"
                                        aria-label="Delete"
                                        class="paddingless"
                                        (click)="askToDelete()"
                                        *ngIf="!editableForm.visible && !editableForm.deletePending"
                                        [disabled]="deleteInProgress">
                                    <i class="far fa-trash-alt warning" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                        <div style="float: right">
                            <div *ngIf="!editableForm.visible && !editableForm.deletePending" style="position: relative; margin-right:4px;">
                                <button mat-stroked-button
                                        color="primary"
                                        type="button"
                                        matTooltip="Edit"
                                        aria-label="Edit"
                                        class="paddingless"
                                        (click)="editableForm.show();"
                                        [hidden]="editableForm.visible"
                                        [disabled]="deleteInProgress">
                                    <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
