<div class="panel panel-default">
    <form editable-form name="form"  onaftersave="onAfterSave()"   (ngSubmit)="formBeforeSave()"   disable-submit-on-enter>
        <div class="panel-body panel-table">
            <h4>
                <mdm-inline-text-edit [(ngModel)]="editableForm.label" [inEditMode]="editableForm.visible" [styleCss]= "'dataTypeDetailsLabel'"></mdm-inline-text-edit>
            </h4>
            <small class="elementDetailMCType">Data Type</small><br>
            <span style="font-size: 11px;font-style: italic" class="dataTypeDetailsLastUpdate">Last Update: {{ mcDataTypeObject.lastUpdated | date:"yyyy-MM-dd HH:mm:ss" }}</span>
        </div>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td class="detailsRowHeader">Aliases</td>
                    <td>
                        <div style="width:50%">
                            <mdm-element-alias [inEditMode]="editableForm.visible" [aliases]="mcDataTypeObject?.aliases" [editableForm]="editableForm" [property]="'aliases'"></mdm-element-alias>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class="detailsRowHeader">Description</th>
                    <td class="elementDetailDescription">

                        <mdm-markdown-text-area [editableForm]="editableForm" [element]="mcDataTypeObject" [property]="'description'"></mdm-markdown-text-area>

                    </td>
                </tr>
                <tr>
                    <th class="detailsRowHeader">DataModel</th>
                    <td class="elementDetailDescription">
                        <mdm-model-path [path]="mcDataTypeObject.breadcrumbs"></mdm-model-path>
                    </td>
                </tr>
                <tr>
                    <th class="detailsRowHeader">Type</th>
                    <td>
                        {{allDataTypesMap[mcDataTypeObject.domainType]["displayLabel"]}}
                        <mdm-element-data-type [elementDataType]="mcDataTypeObject"
                                           [hideName]="true"
                                           [showTypeName]="true"
                                           [onlyShowRefDataClass]="true"
                                           [hideEnumList]="true"></mdm-element-data-type>
                    </td>
                </tr>
                <tr>
                    <th class="detailsRowHeader">Classifications</th>
                    <td>
                        <mdm-element-classifications [classifications]="mcDataTypeObject.classifiers" [editableForm]="editableForm"></mdm-element-classifications>
                    </td>
                </tr>

                <tr show-if-role-is-writable mc-element="mcDataTypeObject">
                    <td colspan="2" style="text-align: right;">
                        <div style="float: right">
                            <mdm-editable-form-buttons
                                    [hideEdit]="true"
                                    [hideDelete]="true"
                                    [onCancelEdit]="onCancelEdit"
                                    [editable]="editableForm"
                                    [textLocation]="'left'">
                            </mdm-editable-form-buttons>
                        </div>
                        <div style="float: right">
                            <div *ngIf="!editableForm.visible && !editableForm.deletePending" class="btn-group-xs" is-open="false" style="margin-bottom: 3px;position: relative; float: right; margin-right:4px;">
                                <button matTooltip="Edit" id="singleX-button" type="button" class="btn btn-xs dropdown-toggle btn-default addNewModelButton"
                                        (click)="editableForm.show();"
                                        [hidden]="!editableForm.visible || !editableForm.deletePending" [disabled]="deleteInProgress">
                                    <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                        <div style="float: right">
                            <div  [hidden]="editableForm.visible || editableForm.deletePending" class="btn-group-xs"  is-open="false" style="margin-bottom: 3px;position: relative; float: right; margin-right:4px;">
                                <button matTooltip="Delete" type="button" class="btn btn-xs dropdown-toggle btn-default addNewModelButton"
                                        (click)="askToDelete()"
                                        *ngIf="!editableForm.visible && !editableForm.deletePending"
                                        [disabled]="deleteInProgress" >
                                    <i class="far fa-trash-alt warning" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>

                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
