<div class="panel panel-default">
    <form editable-form name="form"  onaftersave="onAfterSave()"   (ngSubmit)="formBeforeSave()"   disable-submit-on-enter>
        <div class="panel-body panel-table">
            <h4>
                <div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 0px !important;">
                       <app-inline-text-edit [(ngModel)]="editableForm.label" [inEditMode]="editableForm.visible" [styleCss]= "'dataTypeDetailsLabel'"></app-inline-text-edit>
                    </div>
                </div>

            </h4>

            <small class="elementDetailMCType">Data Type</small><br>
            <span style="font-size: 11px;font-style: italic" class="dataTypeDetailsLastUpdate">Last Update: {{ mcDataTypeObject.lastUpdated | date:"yyyy-MM-dd HH:mm:ss" }}</span>
        </div>
        <table class="table table-bordered table-condensed dataTypeDetailTable">
            <tbody>
                <tr>
                    <td class="detailsRowHeader  col-sx-2 col-sm-2 col-md-2">Aliases</td>
                    <td>
                        <div style="width:50%">
                            <app-element-alias [inEditMode]="editableForm.visible" [aliases]="mcDataTypeObject?.aliases" [editable-form]="editableForm" [property]="'aliases'"></app-element-alias>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class="detailsRowHeader  col-md-2">Description</th>
                    <td class="elementDetailDescription">

                        <markdown-text-area [editable-form]="editableForm" [element]="mcDataTypeObject" [property]="'description'"></markdown-text-area>

                    </td>
                </tr>
                <tr>
                    <th class="detailsRowHeader  col-md-2">DataModel</th>
                    <td class="elementDetailDescription">
                        <model-path [path]="mcDataTypeObject.breadcrumbs"></model-path>
                    </td>
                </tr>
                <tr>
                    <th class="detailsRowHeader  col-md-2">Type</th>
                    <td>
                        {{allDataTypesMap[mcDataTypeObject.domainType]["displayLabel"]}}
                        <element-data-type [element-data-type]="mcDataTypeObject"
                                           [hide-name]="true"
                                           [show-type-name]="true"
                                           [show-ref-data-class]="true"
                                           [hide-enum-list]="true"></element-data-type>
                    </td>
                </tr>
                <tr>
                    <th class="detailsRowHeader  col-sx-2 col-sm-2 col-md-2">Classifications</th>
                    <td>
                        <app-element-classifications [(classifications)]="mcDataTypeObject.classifiers" [editable-form]="editableForm"></app-element-classifications>
                    </td>
                </tr>

                <tr show-if-role-is-writable mc-element="mcDataTypeObject">
                    <td colspan="2" style="text-align: right;">
                        <div style="float: right">
                            <editable-form-buttons
                                    [hide-edit]="true"
                                    [hide-delete]="true"
                                    [on-cancel-edit]="onCancelEdit"
                                    [editable]="editableForm"
                                    [text-location]="'left'">
                            </editable-form-buttons>
                        </div>
                        <div style="float: right">
                            <div *ngIf="!editableForm.visible && !editableForm.deletePending" class="btn-group-xs" is-open="false" style="margin-bottom: 3px;position: relative; float: right; margin-right:4px;">
                                <button matTooltip="Edit" id="singleX-button" type="button" class="btn btn-xs dropdown-toggle btn-default addNewModelButton themeColor"
                                        (click)="editableForm.show();"
                                        [hidden]="!editableForm.visible || !editableForm.deletePending" [disabled]="deleteInProgress">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                        <div style="float: right">
                            <div  [hidden]="editableForm.visible || editableForm.deletePending" class="btn-group-xs"  is-open="false" style="margin-bottom: 3px;position: relative; float: right; margin-right:4px;">
                                <button matTooltip="Delete" type="button" class="btn btn-xs dropdown-toggle btn-default addNewModelButton themeColor"
                                        (click)="askToDelete()"
                                        *ngIf="!editableForm.visible && !editableForm.deletePending"
                                        [disabled]="deleteInProgress" >
                                    <i class="fa fa-trash-o deleteButton" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>

                    </td>
                </tr>


            </tbody>
        </table>
    </form>
</div>