<div class="form-group">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <label>How do you want to add new Data Type(s) to <span>
                <element-link new-window="true" mc-element="model.parentDataModel"></element-link></span> ? <i id="helpIcon" class="fa fa-info-circle themeColor"  ng-click="loadHelp()" tooltip-placement="left" uib-tooltip="Help"></i></label>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="panel panel-default" style="margin-left: 10px;cursor: pointer;" ng-click="selectCreateType('new')">
                <div class="panel-body">
                    <div>
                        <div>
                            <i style="margin:0px 3px 0px 10px;" class="fa fa-plus themeColor"></i>
                            <input type="radio"
                                   name="createType"
                                   ng-model="model.createType"
                                   ng-checked="model.createType === 'new'"
                                   value="new"
                                   style="cursor: pointer">
                            <label style="cursor: pointer;">Create a New Data Type</label>
                            <div style="margin-left: 45px;">You can add label, description, type...</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="panel panel-default" style="margin-left: 10px;cursor: pointer;" ng-click="selectCreateType('copy')">
                <div class="panel-body">
                    <div>
                        <div style="cursor: pointer;">
                            <i style="margin:0px 3px 0px 10px;" class="fa fa-copy themeColor"></i>
                            <input type="radio"
                                   name="createType"
                                   ng-model="model.createType"
                                   ng-checked="model.createType === 'copy'"
                                   value="copy"
                                   style="cursor: pointer">
                            <label style="cursor: pointer;">Copy Data Type(s) from...</label>
                            <div style="margin-left: 45px;">
                                <model-selector-tree
                                        on-select="onSelect"
                                        default-elements="model.copyFromDataModel"
                                        placeholder="'Select Data Model...'"
                                        processing="model.createType != 'copy'"
                                        do-not-show-data-classes="true"
                                        ng-model="model.copyFromDataModel"
                                        tree-search-domain-type="'DataModel'"
                                        accepts="['DataModel']">
                                </model-selector-tree>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>