<div>
    <img *ngIf="user.profilePicture"
         class="profilePicture"
         matTooltip="'{{dynamicTooltipText}}'"
         tooltip-class = "profilePictureToolTip"
         src="data:{{user.profilePicture.fileType}};base64,{{user.profilePicture.fileContents | byteArrayToBase64}}"/>
    <span *ngIf="!user.profilePicture"
          style="cursor: pointer; font-size: 18px;"
          matTooltip="'{{dynamicTooltipText}}'"
          tooltip-class = "profilePictureToolTip"
          class="glyphicon glyphicon-user profilePicture themeColor"></span>
</div>