<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <div style="width: 100%">
            <app-data-class-details [after-save]="afterSave"></app-data-class-details>
        </div>
        <div *ngIf="showSearch">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <label>Search</label>
                    <div style="float:right;">
                        <button type="button"
                                class="btn btn-default btn-xs"
                                (click)="toggleShowSearch()"
                                aria-hidden="false"
                                aria-disabled="false" title="close">
                            <i class="fa fa-times themeColor"></i>
                        </button>
                    </div>
                </div>
                <div class="panel-body panel-table">
                    <app-advanced-search-bar [parent]="dataClass"
                                             [show-restrict-to]="false"
                                             [do-not-show-data-model-in-model-path]="false"
                                             [do-not-display-model-path-status]="false"
                                             show-domain-types="['Folder', 'DataModel', 'DataClass', 'DataType', 'DataElement']">
                    </app-advanced-search-bar>
                </div>
            </div>
        </div>
        <div *ngIf="!showSearch">
            <div *ngIf="dataClass && dataClass.semanticLinks && dataClass.semanticLinks.length > 0">
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Links</strong></div>
                    <div class="panel-body" style="padding-top: 5px !important;">
                        <all-links-in-paged-list
                                [show-loading-spinner]="true"
                                [parent]="dataClass"
                                [show-description]="true"
                                [show-no-links-message]="true"
                                [type]="'static'"></all-links-in-paged-list>
                    </div>
                </div>
            </div>

        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <mat-tab-group #tab [selectedIndex]="activeTab" (selectedIndexChange)="tabSelected($event)">
                <mat-tab label="Content">
                    <ng-template matTabContent>
                        <div style="width: 100%;">
                            <app-content-table *ngIf="dataClass" [parent-data-model]="parentDataModel" [parent-data-class]="dataClass" [grand-parent-data-class]="parentDataClass" ></app-content-table>

                        </div>
                    </ng-template>
                </mat-tab>

                <mat-tab label="Properties">
                    <ng-template matTabContent>
                        <div style="width: 100%;">
                            <mc-data-set-metadata *ngIf="dataClass" [parent]="dataClass" [type]="'dynamic'"></mc-data-set-metadata>
                        </div>
                    </ng-template>
                </mat-tab>
                <mat-tab label="Comments">
                    <ng-template matTabContent>
                        <div style="width: 100%;">
                            <annotation-list *ngIf="dataClass" [parent]="dataClass"></annotation-list>
                        </div>
                    </ng-template>
                </mat-tab>
                <mat-tab label="Links">
                    <ng-template matTabContent>
                        <div style="width: 100%;">
                            <element-link-list *ngIf="dataClass" [parent]="dataClass"></element-link-list>
                        </div>
                    </ng-template>
                </mat-tab>
                <mat-tab label="Summary">
                    <ng-template matTabContent>
                        <div style="width: 100%;">
                            <summary-metadata-table *ngIf="dataClass" [parent]="dataClass"></summary-metadata-table>
                        </div>
                    </ng-template>
                </mat-tab>


                <mat-tab label="Attachments">
                    <ng-template matTabContent>
                        <div style="width: 100%;">
                            <attachment-list *ngIf="dataClass" [parent]="dataClass"></attachment-list>
                        </div>
                    </ng-template>
                </mat-tab>

            </mat-tab-group>
        </div>

   </div>
</div>

