<div class="full-width">
    <mdm-data-class-details [afterSave]="afterSave"></mdm-data-class-details>
</div>
<div *ngIf="showSearch">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span>Search</span>
            <div style="float:right;">
                <button mat-stroked-button color="warn" type="button" class="paddingless" (click)="toggleShowSearch()" matTooltip="Close" aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="panel-body panel-table">
            <mdm-advanced-search-bar [parent]="dataClass"
                                     [showRestrictTo]="false"
                                     [doNotShowDataModelInModelPath]="false"
                                     [doNotDisplayModelPathStatus]="false"
                                     [showDomainTypes]="['Folder', 'DataModel', 'DataClass', 'DataType', 'DataElement']">
            </mdm-advanced-search-bar>
        </div>
    </div>
</div>
<div *ngIf="!showSearch">
    <div *ngIf="dataClass && dataClass.semanticLinks && dataClass.semanticLinks.length > 0">
        <div class="mdm--shadow-block bordered">
            <div class="heading-container">
                <h4 class="marginless">Links</h4>
            </div>
            <div class="pxy-2">
                <mdm-all-links-in-paged-list [showLoadingSpinner]="true" 
                                             [parent]="dataClass" 
                                             [showDescription]="true" 
                                             [showNoLinksMessage]="true" 
                                             [type]="'static'">
                </mdm-all-links-in-paged-list>
            </div>
        </div>
    </div>
    <mat-tab-group #tab [selectedIndex]="activeTab" (selectedIndexChange)="tabSelected($event)">
        <mat-tab label="Content">
            <ng-template matTabContent>
                <div class="full-width">
                    <mdm-content-table *ngIf="dataClass" [parentDataModel]="parentDataModel"
                        [parentDataClass]="dataClass" [grandParentDataClass]="parentDataClass">
                    </mdm-content-table>
                </div>
            </ng-template>
        </mat-tab>
        <mat-tab label="Properties">
            <ng-template matTabContent>
                <div class="full-width">
                    <mdm-data-set-metadata *ngIf="dataClass" [parent]="dataClass" [type]="'dynamic'">
                    </mdm-data-set-metadata>
                </div>
            </ng-template>
        </mat-tab>
        <mat-tab label="Comments">
            <ng-template matTabContent>
                <div class="full-width">
                    <mdm-annotation-list *ngIf="dataClass" [parent]="dataClass"></mdm-annotation-list>
                </div>
            </ng-template>
        </mat-tab>
        <mat-tab label="Links">
            <ng-template matTabContent>
                <div class="full-width">
                    <mdm-element-link-list *ngIf="dataClass" [parent]="dataClass"></mdm-element-link-list>
                </div>
            </ng-template>
        </mat-tab>
        <mat-tab label="Summary">
            <ng-template matTabContent>
                <div class="full-width">
                    <mdm-summary-metadata-table *ngIf="dataClass" [parent]="dataClass">
                    </mdm-summary-metadata-table>
                </div>
            </ng-template>
        </mat-tab>
        <mat-tab label="Attachments">
            <ng-template matTabContent>
                <div class="full-width">
                    <mdm-attachment-list *ngIf="dataClass" [parent]="dataClass"></mdm-attachment-list>
                </div>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>