<div class="modal-header pxy-2">
    <h4 class='modal-title marginless'>Edit</h4>
</div>
<div class="modal-body pxy-2">
    <mat-tab-group>
        <mat-tab *ngFor="let tabtitle of tabs; let index = index" class="tab-title">
            <ng-template mat-tab-label>{{tabtitle}}</ng-template>
        </mat-tab>
    </mat-tab-group>
</div>
<div class="modal-footer pxy-2">
    <button mat-button color="warn" type="button" class="mr-1" (click)="cancel()">
        Cancel
    </button>
    <button mat-button color="warn" type="button" class="mr-1" (click)="back()">
        Back
    </button>

    <button mat-stroked-button type="button" color="primary" type="button" class="mr-1" (click)="cancel()">
        Next
    </button>
</div>