<div class="form-group" *ngIf="model">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <span>
                How do you want to add new Data Element(s) to <span>
                    <mdm-element-link [new-window]="true"
                                  [element]="model.parent"></mdm-element-link>
                </span> ?
            </span>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="panel panel-default" style="margin-left: 10px;cursor: pointer;" (click)="selectCreateType('new')">
                <div class="panel-body">
                    <div>
                        <div>
                            <i style="margin:0px 3px 0px 10px;" class="fas fa-plus"></i>
                            <input type="radio"
                                   name="createType"
                                   [(ngModel)]="model.createType"
                                   [checked]="model.createType === 'new'"
                                   value="new"
                                   style="cursor: pointer">
                            <span style="cursor: pointer;">Create a New Data Element</span>
                            <div style="margin-left: 45px;">You can add label, description...</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="panel panel-default" style="margin-left: 10px;cursor: pointer;" (click)="selectCreateType('copy')">
                <div class="panel-body">
                    <div>
                        <div>
                            <i style="margin:0px 3px 0px 10px;" class="fas fa-copy"></i>
                            <input type="radio"
                                   name="createType"
                                   [(ngModel)]="model.createType"
                                   [checked]="model.createType === 'copy'"
                                   value="copy"
                                   style="cursor: pointer">
                            <span style="cursor: pointer;">Copy Data Element(s) from...</span>
                            <div style="margin-left: 45px;">
                                <mdm-model-selector-tree
                                        [(on-select)]="onSelect"
                                        [default-elements]="model.copyFromDataClass"
                                        [placeholder]="'Select Data Class...'"
                                        [processing]="model.createType != 'copy'"
                                        [(ng-model)]="model.copyFromDataClass"
                                        [tree-search-domain-type]="'DataClass'"
                                        (ngModelChange)="model.copyFromDataClass = $event"
                                        [accepts]="['DataClass']">

                                </mdm-model-selector-tree>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
