.profile-filter-list {
  &__header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 1em;
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__value-col {
    display: flex;
    align-items: flex-start;

    button {
      margin-top: 16px;
    }
  }

  &__table {
    .row {
      padding-top: 0.5em;
      border-top: 1px solid #e5e5e5;
    }
  }
}
