 <!-- Main container for the Admin section -->
 <div class="container settings-container">
    <div flex fxLayout="row" fxLayout.md="column" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayoutGap="16px">
        <div id="settings-container--left" fxFlex="18" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100">
            <ul class="list-group-settings">
                <h5 class="mat-h5 marginless text-muted" style="padding-left: 16px;">Account settings</h5>
                <li>
                    <a uiSref="appContainer.userArea.profile" uiSrefActive="active">
                        <i class="fas fa-id-card"></i>
                        <span>My profile</span>
                    </a>
                </li>
                <li>
                    <a uiSref="appContainer.userArea.settings" uiSrefActive="active">
                        <i class="fas fa-sliders-h"></i>
                        <span>Preferences</span>
                    </a>
                </li>
                <li>
                    <a uiSref="appContainer.userArea.changePassword" uiSrefActive="active">
                        <i class="fas fa-user-lock"></i>
                        <span>Password</span>
                    </a>
                </li>
            </ul>

            <ul class="list-group-settings" ng-show="isAdmin()">
                <h5 class="mat-h5 marginless text-muted" style="padding-left: 16px;">Admin settings</h5>
                <li>
                    <a uiSref="appContainer.adminArea.home" uiSrefActive="active">
                        <i class="fas fa-tachometer-alt"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                <li>
                    <a uiSref="appContainer.adminArea.modelManagement" uiSrefActive="active">
                        <i class="fas fa-list" aria-hidden="true"></i>
                        <span>Model management</span>
                    </a>
                </li>

                <li>
                    <a uiSref="appContainer.adminArea.emails" uiSrefActive="active">
                        <i class="fas fa-envelope" aria-hidden="true"></i>
                        <span>Emails</span>
                    </a>
                </li>

                <li>
                    <a uiSref="appContainer.adminArea.users" uiSrefActive="active">
                        <i class="fas fa-user" aria-hidden="true"></i>
                        <span>Manage users</span>
                    </a>
                </li>
                <li>
                    <a uiSref="appContainer.adminArea.pendingUsers" uiSrefActive="active">
                        <i class="fas fa-user-clock"></i>
                        <span>Pending users</span>
                        <span class="badge pill-card--red" aria-hidden="false" *ngIf="pendingUsersCount > 0" style="margin-left: 6px;"> {{pendingUsersCount}} </span>
                    </a>
                </li>
                <li>
                    <a uiSref="appContainer.adminArea.groups" uiSrefActive="active">
                        <i class="fas fa-users" aria-hidden="true"></i>
                        <span>Manage groups</span>
                    </a>
                </li>
                <li>
                    <a uiSref="appContainer.adminArea.configuration" uiSrefActive="active">
                        <i class="fas fa-cog" aria-hidden="true"></i>
                        <span>Configuration</span>
                    </a>

                </li>
            </ul>
        </div>
        <div id="settings-content" fxFlex="82" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100">
            <div ui-view></div>
        </div>
    </div>
</div>
