<div style="position: relative;">

  <div *ngIf="multiple && selectedElements && selectedElements.length > 0 && !hideSelectedElements">
    <div class="modelSelectorTree" *ngFor="let element of selectedElements" style="background-color: #f5f5f5; position: relative;display: inline-block;border: 1px solid #DDD;border-radius: 5px; padding: 3px 6px;margin: 2px; ">
            <span style="padding-right: 20px;">
                 {{element.label}}
            </span>
      <i style="color:#c62828; position: absolute;height: 1px;top: 22%;right:5px;"
         [ngClass]="{'fa':true,'fa-times':true, 'not-allowed-cursor':processing}" aria-hidden="true"
         (click)="remove($event, element)"></i>
    </div>
  </div>

  <div class="modelSelectorTree" style="position: relative;">
    <div [ngClass]="{'input-group':true,'has-error': hasValidationError}" >
      <input type="text"
             [readonly]="readOnlySearchInput"
             [disabled]="processing"
             [ngClass]="{'form-control input-sm':true}"
             [(ngModel)]="searchCriteria"
             ng-model-options='{ debounce: 500 }'
             focus="inputClick()"
             placeholder="{{placeholderStr}}"
             [required]="isRequired">
      <span class="input-group-btn">
                <button
                        [disabled]="processing"
                        *ngIf="!multiple"
                        [ngClass]="{'btn btn-default btn-sm':true, 'foldersTreeSelectorButton removeButton hasError': hasValidationError}"
                        type="button"
                        (click)="cleanSelection()">
                    <i class="fa fa-times" [ngStyle]="usedInModalDialogue ? {'font-size': '18px'} :''"></i>
                </button>
                <button [disabled]="processing"
                        [ngClass]="{'btn btn-default btn-sm':true, 'foldersTreeSelectorButton openButton hasError': hasValidationError}"
                        type="button"
                        (click)="toggleTree()">
                    <i class="fa fa-list" [ngStyle]="usedInModalDialogue ? {'font-size': '18px'} :''"></i>
                </button>
            </span>
    </div>

    <div class="has-error">
      <span class="control-label" *ngIf="hasValidationError">This field is required.</span>
    </div>

      <div *ngIf="showTree" [ngStyle]="{'position': alwaysShowTree ? 'relative' : 'absolute', 'top': alwaysShowTree ? '0px' : '29px'}"  style="padding-top: 2px; border: 1px solid #ccc;background-color:#FFF; width:100%;z-index: 900;">
      <div style="width: 100%; height: 400px;overflow-y: auto">

          <folders-tree-3
                  [inSearchMode]="inSearchMode"
                  enable-drag="true"
                  enable-drop="true"
                  enable-context-menu="true"
                  (addFolderEvent)="onAddFolder($event)"
                  [doNotShowDataClasses]="doNotShowDataClasses"
                  [doNotShowTerms]="doNotShowTerms"
                  [justShowFolders]="justShowFolders"
                  [defaultCheckedMap]="defaultCheckedMap"
                  [showCheckboxFor]="showCheckboxFor"
                  [propagateCheckbox]="propagateCheckbox"
                  [searchCriteria]="searchCriteria"
                  [node]="filteredRootNode"
                  (nodeClickEvent)="onNodeClick($event)"
                  (nodeCheckedEvent)="onNodeChecked($event[0],$event[1],$event[2])"
                  (nodeDbClickEvent)="onNodeDbClick($event)" >


          </folders-tree-3>

      </div>
      </div>

      <div class="noFilterResult"
           *ngIf="filteredRootNode && filteredRootNode.children && filteredRootNode.children.length === 0">
        No Result
      </div>

  </div>

</div>
