<div style="position: relative;">

  <div *ngIf="multiple && selectedElements && selectedElements.length > 0 && !hideSelectedElements"
    style="padding: 8px;border: 2px solid #97b7dc;border-radius: 6px;margin-bottom: 6px;">
    <div class="mdm--chip" *ngFor="let element of selectedElements"
      style="background-color: #e5f2ff; position: relative;display: inline-block; padding: 10px 12px;margin: 2px; border-radius: 5px; color: #19334e;">
      <span style="padding-right: 20px;">
        {{element.label}}
      </span>
      <i style="color:#c62828; position: absolute;height: 1px;top: 30%;right:12px;cursor: pointer;"
        [ngClass]="{'fas':true,'fa-times':true, 'not-allowed-cursor':processing}" (click)="remove($event, element)"></i>
    </div>
  </div>

  <div class="modelSelectorTree" style="position: relative;">
    <div [ngClass]="{'input-group':true,'has-error': hasValidationError}">
      <input type="text" [readonly]="readOnlySearchInput" [disabled]="processing" class="form-control outlined-input"
        [(ngModel)]="searchCriteria" ng-model-options='{ debounce: 500 }' focus="inputClick()"
        placeholder="{{placeholderStr}}" [required]="isRequired">

      <span class="input-group-btn import-folder-actions">
        <button mat-stroked-button [disabled]="processing" *ngIf="!multiple"
          [ngClass]="{'foldersTreeSelectorButton hasError': hasValidationError}"
          (click)="cleanSelection()">
          <i class="fas fa-times warning" [ngStyle]="usedInModalDialogue ? {'font-size': '18px'} :''"></i>
        </button>
        <button mat-stroked-button [disabled]="processing"
          [ngClass]="{'foldersTreeSelectorButton hasError': hasValidationError}"
          (click)="toggleTree()">
          <i class="fas fa-list" [ngStyle]="usedInModalDialogue ? {'font-size': '18px'} :''"></i>
        </button>
      </span>

    </div>

    <div class="has-error">
      <span class="control-label" *ngIf="hasValidationError">This field is required.</span>
    </div>

    <div class="treeDropDown" *ngIf="showTree"
      [ngStyle]="{'position': alwaysShowTree ? 'relative' : 'absolute', 'top': alwaysShowTree ? '0px' : '32px'}">
      <div style="width: 100%; height: 400px;overflow-y: auto">

        <mdm-folders-tree [inSearchMode]="inSearchMode" enable-drag="true" enable-drop="true" enable-context-menu="true"
          (addFolderEvent)="onAddFolder($event)" [doNotShowDataClasses]="doNotShowDataClasses"
          [doNotShowTerms]="doNotShowTerms" [justShowFolders]="justShowFolders" [defaultCheckedMap]="defaultCheckedMap"
          [showCheckboxFor]="showCheckboxFor" [propagateCheckbox]="propagateCheckbox" [searchCriteria]="searchCriteria"
          [node]="filteredRootNode" (nodeClickEvent)="onNodeClick($event)"
          (nodeCheckedEvent)="onNodeChecked($event[0],$event[1],$event[2])" (nodeDbClickEvent)="onNodeDbClick($event)">


        </mdm-folders-tree>

      </div>
    </div>

    <div class="noFilterResult"
      *ngIf="filteredRootNode && filteredRootNode.children && filteredRootNode.children.length === 0">
      No Result
    </div>
  </div>

  <div *ngIf="multiple && selectedElements && selectedElements.length > 0 && !hideSelectedElements"
    style="padding: 8px;border: 2px solid #97b7dc;border-radius: 6px;margin-bottom: 6px;">
    <div class="mdm--chip" *ngFor="let element of selectedElements"
      style="background-color: #e5f2ff; position: relative;display: inline-block; padding: 10px 12px;margin: 2px; border-radius: 5px; color: #19334e;">
      <span style="padding-right: 20px;">
        {{element.label}}
      </span>
      <i style="color:#c62828; position: absolute;height: 1px;top: 30%;right:12px;cursor: pointer;"
        [ngClass]="{'fas':true,'fa-times':true, 'not-allowed-cursor':processing}" (click)="remove($event, element)"></i>
    </div>
  </div>

</div>
