<div class="heading-container">
    <div fxFlex fxLayout="row" fxLayout.md="row" fxLayout.sm="row" fxLayout.xs="column" fxLayoutAlign="space-around">
        <div fxFlex  fxLayout="row" fxFlex="70" fxFlex.md="60" fxFlex.sm="60" fxFlex.xs="100" fxLayoutAlign="flex-start" style="align-items: center;">
            <h4 class="marginless">
                Data Classes
                <span class="mdm--badge mdm--element-count">{{totalItemCount}}</span>
                <i class="fas fa-filter" (click)="filterClick()" style="cursor: pointer;margin-left: 2px;"></i>
            </h4>
        </div>
        <div fxFlex fxLayout="row" fxFlex="30" fxFlex.md="40" fxFlex.sm="40" fxFlex.xs="100" fxLayoutAlign="flex-end" fxLayoutAlign.xs="flex-start">
            <div *ngIf="parentDataModel.editable && !parentDataModel.finalised" class="mt-1">
                <mdm-data-type-list-buttons [displayRecords]="records" (deleteRows)="deleteRows()" [deleteInProgress] ="deleteInProgress" [add]="add"></mdm-data-type-list-buttons>
            </div>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table mat-table matSort [dataSource]="records" class="mdm--mat-table mat-elevation-z3 table-striped">
        <ng-container matColumnDef="checkbox">
            <th mat-header-cell *matHeaderCellDef style="cursor:pointer;max-width: 2%;width: 2%;text-align: center;cursor:pointer;">
                <mat-checkbox (change)="onChecked()" [(ngModel)]="checkAllCheckbox"></mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let record" style="max-width: 2%; width: 2%; text-align: center;">
                <mat-checkbox [(ngModel)]="record.checked"></mat-checkbox>
            </td>
        </ng-container>
        <ng-container matColumnDef="label">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="minMultiplicity" style="cursor:pointer;max-width: 4%;width: 4%;" columnName="label">
            </th>
            <td mat-cell *matCellDef="let record" style="max-width: 4%;width: 4%;text-align: center;">
                <mdm-multiplicity [min]="record.minMultiplicity" [max]="record.maxMultiplicity"></mdm-multiplicity>
            </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="label" [disabled]="!hideFilters" style="cursor:pointer;max-width: 15%;width: 15%;" columnName="name">
                <span [hidden]="!hideFilters">Name</span>
                <div [hidden]="hideFilters">
                    <mat-form-field class="filter" floatLabel="never">
                        <mat-label>Name</mat-label>
                        <input #filters matInput name="label" (keyup)="applyFilter()">
                    </mat-form-field>
                </div>
            </th>
            <td mat-cell *matCellDef="let record" style="max-width: 15%;width: 15%;text-align: left;">
                <div>
                    <mdm-element-link [element]="record" [parentDataModel]="{id:record.dataModel}"></mdm-element-link>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="!hideFilters" style="cursor:pointer;max-width: 20%;width: 20%;" columnName="description">

                <span [hidden]="!hideFilters">Description</span>
                <div [hidden]="hideFilters">
                    <mat-form-field class="filter" floatLabel="never">
                        <mat-label>Description</mat-label>
                        <input #filters matInput name="description" (keyup)="applyFilter()">
                    </mat-form-field>
                </div>
            </th>
            <td mat-cell *matCellDef="let record" style="max-width: 20%;width: 20%;text-align: left;">
                <div *ngIf="record.description && record.description.length > 0" style="margin-bottom: 10px;">
                    <mdm-more-description [description]="record.description"></mdm-more-description>
                </div>
                <div>
                    <mdm-all-links-in-paged-list [parent]="record" ></mdm-all-links-in-paged-list>
                </div>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

<mat-card *ngIf="isLoadingResults" style="display: flex; justify-content: center; align-items: center">
    <mat-progress-spinner color="primary" mode="indeterminate"> </mat-progress-spinner>
</mat-card>
<div class="mdm--mat-pagination">
    <mdm-paginator [pageSizeOptions]="[5, 10, 20,50]" [pageSize]="20" [length]="totalItemCount" showFirstLastButtons></mdm-paginator>
</div>
