<div>
    <div *ngIf="model.createType == 'new'">
        <div class="form-group">
            <form #myForm="ngForm" ngNativeValidate>

                <span>Please enter Data Class details:</span>
                <table class="table table-bordered table-condensed dataModelDetailTable">
                    <tbody>

                        <tr class="parent">
                            <th class="detailsRowHeader col-sx-2 col-sm-2 col-md-2">Parent *</th>
                            <td>
                                <model-path [path]="model.parent.breadcrumbs"></model-path>
                            </td>
                        </tr>


                        <tr>
                            <th class="detailsRowHeader  col-sx-2 col-sm-2 col-md-2">Label *</th>
                            <td>
                                <input type="text" class="form-control wizardInput" id="label" name="label" [(ngModel)]="model.label"
                                       required="Name can not be Empty">
                            </td>
                        </tr>
                        <tr>
                            <th class="detailsRowHeader col-md-2">Description</th>
                            <td>
                                <textarea type="text" class="form-control" id="description" name="description" [(ngModel)]="model.description"></textarea>
                            </td>
                        </tr>

                        <tr class="parent">
                            <th class="detailsRowHeader col-sx-2 col-sm-2 col-md-2">Multiplicity</th>
                            <td>
                                <div>
                                    <div style="width: 10%; padding-left: 0px !important; float: left">
                                        <span for="minMultiplicity">Min</span>
                                        <input type="text"
                                               class="form-control wizardInput"
                                               [ngStyle]="multiplicityError? {'border': '1px solid #a94442'} :''"
                                               name="minMultiplicity"
                                               [(ngModel)]="model.minMultiplicity">
                                    </div>
                                    <div style="width: 10%; margin-left: 10px !important;float: left">
                                        <span for="minMultiplicity">Max</span>
                                        <input type="text"
                                               class="form-control wizardInput"
                                               [ngStyle]="multiplicityError? {'border': '1px solid #a94442'} :''"
                                               name="maxMultiplicity"
                                               [(ngModel)]="model.maxMultiplicity">
                                    </div>
                                </div>
                                <div style="font-size: 12px;clear: both;margin: 2px 0px" class="error text-danger">
                                    <span *ngIf="multiplicityError">
                                        {{multiplicityError}}
                                    </span>
                                </div>
                                <div style="clear: both;font-size: 11px;font-style: italic;">
                                    Please enter <strong style="font-size: 14px">*</strong> for unbound multiplicity.
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <th class="detailsRowHeader  col-sx-2 col-sm-2 col-md-2">Classifications</th>
                            <td>
                                <app-element-classifications name="classifiers" (classificationsChanged)="model.classifiers = $event" [editable-form]="{visible :true}"></app-element-classifications>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <div *ngIf="model.createType == 'copy' && step.active == true" class="row" style="margin-bottom:20px;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <span>Please Select Data Class(s):</span>
            <model-selector-tree [default-checked-map]="defaultCheckedMap"
                                 [root]="model.copyFromDataModel[0]"
                                 [show-checkbox-for]="['DataClass']"
                                 [propagate-checkbox]="true"
                                 [always-show-tree]="true"
                                 [hide-selected-elements]="true"
                                 [multiple]="true"
                                 [processing]="processing"
                                 [on-check]="onCheck"
                                 [placeholder]="'Select Data Class(s)'"
                                 [accepts]="['DataClass']">
            </model-selector-tree>
        </div>
    </div>


    <div *ngIf="model.createType == 'copy'" class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div>
                <div class="mcTableMain">
                    <div class="mcTableTitle">
                        <span class="title">Summary of Selected Data Classes <span class="badge element-count ng-binding" style="margin: 0px 3px; display: inline;" aria-hidden="false">{{totalItemCount}}</span></span>

                    </div>
                    <div class="mcTableContainer">
                        <table mat-table matSort [dataSource]="dataSource" class="table table-condensed table-bordered mcTable">
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef style="cursor: pointer; max-width: 15%; width: 15%;" columnName="label"
                                    sortable="true" filterable="true">
                                    Name
                                </th>
                                <td mat-cell *matCellDef="let record" style="max-width: 15%; width: 15%; text-align: left; word-wrap: break-word;">
                                    <div>
                                        <element-link [element]="record"
                                                      [new-window]="true"
                                                      [parent-data-model]="{id:record.dataModel}"></element-link>
                                    </div>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="description">

                                <th mat-header-cell *matHeaderCellDef style="cursor: pointer; max-width: 20%; width: 20%;" columnName="description"
                                    sortable="true" filterable="true">
                                    Description
                                </th>
                                <td mat-cell *matCellDef="let record" style="max-width: 20%; width: 20%; text-align: left; word-wrap: break-word;">
                                    <div *ngIf="record.description && record.description.length>0"
                                         style="margin-bottom: 10px;">
                                        <more-description [description]="record.description"></more-description>
                                    </div>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="status">

                                <th mat-header-cell *matHeaderCellDef style="cursor: pointer; max-width: 15%; width: 15%;">
                                    Status
                                </th>
                                <td mat-cell *matCellDef="let record" style="max-width: 15%; width: 15%; text-align: left; word-wrap: break-word;">
                                    <span *ngIf="finalResult && finalResult[record.id] && finalResult[record.id].hasError">
                                        <div><i class="fas fa-times copyElementError"></i></div>
                                        <div class="errorMessage">{{finalResult[record.id].result}}</div>
                                    </span>
                                    <span *ngIf="finalResult && finalResult[record.id] && !finalResult[record.id].hasError">
                                        <div><i class="fas fa-check copyElementSuccess"></i>&nbsp;Success</div>
                                    </span>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns" style="height: auto;" class="mcTableHeader"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="height: auto"></tr>
                        </table>
                    </div>
                    <div class="d-flex justify-content-between p-2">
                        <mat-paginator [pageSizeOptions]="[5, 10, 20,50]" [pageSize]="20" showFirstLastButtons></mat-paginator>
                    </div>
                </div>

            </div>
            <div style="margin-top: 50px; width: 100%;">
                <div *ngIf="processing">
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </div>
                <div *ngIf="!processing && isProcessComplete">
                    <div class="alert alert-success" *ngIf="failCount === 0">
                        <strong>Success!</strong> All copied successfully!
                    </div>
                    <div class="alert alert-danger" *ngIf="failCount > 0">
                        <strong>Error!</strong> {{failCount}} Error(s) in copy process!
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
