<mdm-bulk-edit-element-select *ngIf="elementSelectStep" [(bulkEditPayload)]="bulkEditPayload" (nextSelected)="openProfile()"></mdm-bulk-edit-element-select>
<mdm-bulk-edit-profile-select *ngIf="profileSelectStep" [(bulkEditPayload)]="bulkEditPayload" (backSelected)="openElement()"  (nextSelected)="openEditor()"></mdm-bulk-edit-profile-select>   
<div  *ngIf="editorStep">
    <mat-tab-group>
        <mat-tab *ngFor="let tab of tabs; let index = index" class="tab-title">
            <ng-template mat-tab-label>{{tab.tabTitle}}</ng-template>
            <mdm-bulk-edit-editor *ngIf="tab"  [(tab)]="tabs[index]" ></mdm-bulk-edit-editor>
        </mat-tab>
    </mat-tab-group>
    <div class="modal-footer pxy-2">
        <button mat-button color="warn" type="button" class="mr-1" (click)="cancel()">
            Close
        </button>
        <button mat-button color="warn" type="button" class="mr-1" (click)="openProfile()">
            Back
        </button>
        <button mat-stroked-button type="button" color="primary" type="button" class="mr-1" (click)="validate()">
            Validate
        </button>
        <button mat-stroked-button type="button" color="primary" type="button" class="mr-1" (click)="save()">
            Save
        </button>
    </div>
</div>
