<div class="heading-container">
  <h4 class="marginless">Bulk Edit</h4>
</div>
<div class="mdm-bulk-edit-container__parent">
  <span class="dataModelTypeIcon">
    <mdm-element-icon [element]="parent"></mdm-element-icon>
  </span>
  <span class="dataModelDetailsLabel">{{ parent.label }}</span>
</div>
<mdm-bulk-edit-select
  *ngIf="currentStep === Steps.Selection"
  [(context)]="context"
  (onNext)="next()"
  (onCancel)="cancel()"
></mdm-bulk-edit-select>
<mdm-bulk-edit-editor-group
  *ngIf="currentStep === Steps.Editor"
  [(context)]="context"
  (onCancel)="cancel()"
  (onPrevious)="previous()"
  (onValidate)="validate()"
  (onSave)="save($event)"
></mdm-bulk-edit-editor-group>
