<div class="container">
  <h2 class="mat-h3">Welcome back, @admin!</h2>
  <p>Pick up where you left 3 days ago</p>
  <button
    style="margin-bottom: 10px;"
    mat-flat-button
    color="primary"
    type="button"
    (click)="Edit()"
    *ngIf="!inEditMode"
  >
    <i class="fas fa-plus"></i>
    Edit Layout
  </button>
  <button
    style="margin-bottom: 10px;"
    mat-flat-button
    color="primary"
    type="button"
    (click)="Reset()"
    *ngIf="!inEditMode"
  >
    <i class="fas fa-plus"></i>
    Reset
  </button>
  <button
    style="margin-bottom: 10px;"
    mat-flat-button
    color="primary"
    type="button"
    (click)="Save()"
    *ngIf="inEditMode"
  >
    <i class="fas fa-plus"></i>
    Save
  </button>
  <button
    style="margin-bottom: 10px;"
    mat-flat-button
    color="primary"
    type="button"
    (click)="AddWidget()"
    *ngIf="inEditMode"
  >
    <i class="fas fa-plus"></i>
    Add
  </button>
  <div>
    <gridster [options]="options" style="min-height: 1000px;">
      <gridster-item [item]="widget" *ngFor="let widget of widgets">
        <div style="overflow-y: auto; max-height: calc(100% - 40px);">
          <button
            mat-icon-button
            mat-raised-button
            class="remove-button"
            (click)="RemoveItem($event, widget)"
            *ngIf="inEditMode"
          >
            <mat-icon>delete</mat-icon>
          </button>
          <ng-template [cdkPortalOutlet]="widget.el"></ng-template>
        </div>
      </gridster-item>
    </gridster>
  </div>
</div>
