<div class="row" style="padding: 5px">
    <div class="col-lg-6 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Change Password</h2>
            </div>
            <password-changer pwc-on-after-save="onAfterSavePassword"
                              pwc-data="changePassword"
                              pwc-require-old-password="true"
                              pwc-old-password-error="error"></password-changer>
        </div>
    </div>

</div>